atlantis:webstash(type="css")
  style.
    #features {
      background-color: #d9d9d9;
    }
    #features-more,
    #reviews-carousel,    
    #security,
    #faq {
      background-color: #fff;
    }
    #features-lose{
      background-color: #84D54A;
      margin:0px;
    }
    #training {
      background-color: #84D54A;
    } 
    #renderMidPageNavBottom,
    #faq {
      margin:0;
      padding:0;
    }

    #security .main-heading {
      margin: 0px;
    }
    #security .subheading {
      margin-bottom: 0px;
      margin-top: 0px;
    }

    h4.review-comments {
      font-family: "Walsheim-Bold";
      font-size: 24px;
    }
    h5.review-byline {
      font-family: "Walsheim-Bold";
      font-size: 16px;
      text-transform: uppercase;
    }
    h5.review-byline span {
      color: #999;
    }

+renderMidPageNav
  +priceBlock(page.pricing.current.A, "[@L[cds.sales/_common:month]@L]", "#planTileA", {"ci":page.ci.midPageNavSeeThePlans})

section#features(data-mid-nav-title="Features",data-cicode="#{page.ci.midPageNavFeature}")
  .container
    .row
      .col-sm-12
        h2.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-title]@L]
    .row
      .col-md-3.col-sm-6.col-xs-12
        +lazyImg("img-responsive", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-title]@L]
        p.list-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-1-title]@L]
        ul.feature-list
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-1-item-1]@L]
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-1-item-2]@L]
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-1-item-3]@L]
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-1-item-4]@L]
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-1-item-5]@L]
        p.list-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-2-title]@L]
        ul.feature-list
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-1-list-2-item-1]@L]
      .col-md-3.col-sm-6.col-xs-12
        +lazyImg("img-responsive img-center", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-2-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-2-desc]@L]
      .col-md-3.col-sm-6.col-xs-12
        +lazyImg("img-responsive img-center", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-3-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-3-desc]@L]
      .col-md-3.col-sm-6.col-xs-12
        +lazyImg("img-responsive img-center", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-4-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-key-4-desc]@L]

section#features-more
  .container
    .row
      .col-sm-12
        h2.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-title]@L]
    .row
      .col-md-4.col-sm-6.col-xs-12
        +lazyImg("img-responsive img-center", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-1-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-1-desc]@L]
      .col-md-4.col-sm-6.col-xs-12
        +lazyImg("img-responsive img-center", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-2-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-2-desc]@L]
      .col-md-4.col-sm-6.col-xs-12
        +lazyImg("img-responsive img-center", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-3-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-3-desc]@L]
    .row
      .col-md-4.col-sm-6.col-xs-12
        +lazyImg("img-responsive img-center", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-4-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-4-desc]@L]
      .col-md-4.col-sm-6.col-xs-12
        +lazyImg("img-responsive img-center", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-5-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-5-desc]@L]
      | 
      | ##if(productIsOffered(107))
      | 
      .col-md-4.col-sm-6.col-xs-12
        +lazyImg("img-responsive img-center", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-6-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-more-6-desc]@L]
      | 
      | ##endif
      | 

section#features-lose
  +featuresTemplates({
    presentationTemplate: "featuresRightText", 
    featuresId: "neverLose", 
    additionalWrapClasses: null, 
    lazyLoad: true, 
    backgroundImage: "", 
    featuresImg: "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", 
    featuresImgAltText: null, 
    title: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-never-loose-title]@L]", 
    subtitle: "", 
    text: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-never-loose-desc]@L]", 
    buttonText: null, buttonUrl: null, buttonColor: null})

section#performance(data-mid-nav-title="Performance",data-cicode="#{page.ci.midPageNavPerformance}")
  .container.maximum-performance
    .row
      .col-xs-12.col-sm-6.col-sm-push-3
        h2 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-desc]@L]
    .row.performance-list
      .col-xs-12.col-sm-4.col-sm-push-4
        ul
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-list-item-1]@L]
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-list-item-2]@L]
          li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-list-item-3]@L]
    .row.performance-chart
      .col-xs-12
        +lazyImg("img-responsive img-center", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
      .col-xs-12.col-sm-8.col-sm-push-2
        h4.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-chart-text-1]@L]
        p.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-chart-text-2]@L]
        p.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-chart-text-3]@L]
        p.text-center 
          a.btn.btn-default.btn-default-dark(id="see-latest-results-btn") [@L[cds.sales/gd/hosting/wordpress-hosting:35561-performance-chart-btn-txt]@L]

section#security(data-mid-nav-title="Security",data-cicode="#{page.ci.midPageNavSecuriy}")

  - securityCarousel = securityCarousel || {};
  - securityCarousel.lazyLoad = true;
  - securityCarousel.css = true;
  - securityCarousel.backgroundColor ='';
  - securityCarousel.ci = {};
  - securityCarousel.ci.prev = page.ci.securityCarouselSlideLeft;
  - securityCarousel.ci.next = page.ci.securityCarouselSlideRight;
  - securityCarousel.ci.carouselIndicator = page.ci.securityCarouselSlideSel;
  - securityCarouselItem = securityCarouselItem || {};
  - securityCarouselItem.textCenter = true;
  - securityCarouselItem.ci = {};
  - securityCarouselItem.ci.panelContainer = '';
  .container
    .row
      .col-sm-10.col-sm-push-1.center-block
        h2.h0.main-heading.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-title]@L]
        h3.subheading.text-center [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-subtitle]@L]
  +renderTabbedCarousel({
      backgroundColor: "",
      icode: "",
      featuresCarouselId: "carousel-security-tabs", /* the ID of the tabs area */
      title: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-title]@L]",
      subtitle: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-subtitle]@L]",
      numOfTabs: 5,
      id: "carousel-security" /* the ID of the actual carousel */
    })
    +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-1-title]@L]",ci:page.ci.securityCarouselSlideTab1})
    +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-2-title]@L]",ci:page.ci.securityCarouselSlideTab2})
    +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-3-title]@L]",ci:page.ci.securityCarouselSlideTab3})
    +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-4-title]@L]",ci:page.ci.securityCarouselSlideTab4})
    +addTab({text:"[@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-5-title]@L]",ci:page.ci.securityCarouselSlideTab5})

  +carousel("carousel-security", 5, securityCarousel)
    +carouselItem(securityCarouselItem)
      .container-fluid.ols-carousel-item
        .row
          .col-xs-12.text-center
            +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        .row
          .col-xs-12
            h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-1-title]@L] 
            p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-1-desc]@L] 
    +carouselItem(securityCarouselItem)
      .container-fluid.ols-carousel-item
        .row
          .col-xs-12
            +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        .row
          .col-xs-12
            h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-2-title]@L] 
            p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-2-desc]@L] 
    +carouselItem(securityCarouselItem)
      .container-fluid.ols-carousel-item
        .row
          .col-xs-12
            +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        .row
          .col-xs-12
            h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-3-title]@L] 
            p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-3-desc]@L] 
    +carouselItem(securityCarouselItem)
      .container-fluid.ols-carousel-item
        .row
          .col-xs-12
            +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        .row
          .col-xs-12
            h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-4-title]@L] 
            p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-4-desc]@L] 
    +carouselItem(securityCarouselItem)
      .container-fluid.ols-carousel-item
        .row
          .col-xs-12
            +lazyImg("img-responsive img-center", '.carousel-container', "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        .row
          .col-xs-12
            h2.security-title [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-5-title]@L] 
            p.security-desc [@L[cds.sales/gd/hosting/wordpress-hosting:35561-security-slide-5-desc]@L] 

section#training(data-mid-nav-title="Training",data-cicode="#{page.ci.midPageNavTraining}")

  .container

    .row
      .col-sm-12
        h2 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-training-title]@L]

    .row
      .col-sm-6.col-xs-12        
        +lazyImg("img-responsive img-center", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-training-item-1-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-training-item-1-desc]@L]
        p.powered-by [@L[cds.sales/gd/hosting/wordpress-hosting:35561-training-item-1-note]@L]

      .col-sm-6.col-xs-12
        +lazyImg("img-responsive img-center", null, "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img-domainFeature1.png", "altText", "triggerResize")
        h3 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-training-item-2-title]@L]
        p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-training-item-2-desc]@L]

- reviewsCarousel = reviewsCarousel || {};
- reviewsCarousel.css = false; /* already loaded by the security carousel */
- reviewsCarousel.backgroundColor ='';
- reviewsCarouselItem = reviewsCarouselItem || {};
- reviewsCarouselItem.textCenter = true;
- reviewsCarouselItem.ci = {carouselIndicator:page.ci.reviewsCarouselSlideSel,prev:page.ci.reviewsCarouselSlideLeft, next:page.ci.reviewsCarouselSlideRight};
section#reviews-carousel

  +carousel("carousel-reviews", 5, reviewsCarouselItem)
    +carouselItem(reviewsCarouselItem)
      .container-fluid.ols-carousel-item
        .row
          .col-xs-12.text-center
            h4.review-comments [@L[cds.sales/gd/hosting/wordpress-hosting:35561-slide-1-comments]@L]
            h5.review-byline [@L[cds.sales/gd/hosting/wordpress-hosting:35561-slide-1-byline]@L]
    +carouselItem(reviewsCarouselItem)
      .container-fluid.ols-carousel-item
        .row
          .col-xs-12.text-center
            h4.review-comments [@L[cds.sales/gd/hosting/wordpress-hosting:35561-slide-2-comments]@L]
            h5.review-byline [@L[cds.sales/gd/hosting/wordpress-hosting:35561-slide-2-byline]@L]

    +carouselItem(reviewsCarouselItem)
      .container-fluid.ols-carousel-item
        .row
          .col-xs-12.text-center
            h4.review-comments [@L[cds.sales/gd/hosting/wordpress-hosting:35561-slide-3-comments]@L]
            h5.review-byline [@L[cds.sales/gd/hosting/wordpress-hosting:35561-slide-3-byline]@L]

    +carouselItem(reviewsCarouselItem)
      .container-fluid.ols-carousel-item
        .row
          .col-xs-12.text-center
            h4.review-comments [@L[cds.sales/gd/hosting/wordpress-hosting:35561-slide-4-comments]@L]
            h5.review-byline [@L[cds.sales/gd/hosting/wordpress-hosting:35561-slide-4-byline]@L]

    +carouselItem(reviewsCarouselItem)
      .container-fluid.ols-carousel-item
        .row
          .col-xs-12.text-center
            h4.review-comments [@L[cds.sales/gd/hosting/wordpress-hosting:35561-slide-5-comments]@L]
            h5.review-byline [@L[cds.sales/gd/hosting/wordpress-hosting:35561-slide-5-byline]@L]

section#faq(data-mid-nav-title="[@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq]@L]" data-cicode="#{page.ci.midPageNavFAQ}")
  +renderAccordion({ci: "#{page.ci.faqSeeAll}", id: "faq-accordion", buttonID: "faq-button", buttonText: "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-SeeAllQuestions]@L]"})
    h2.h1 [@L[cds.sales/gd/hosting/wordpress-hosting:35561-rb_your_question]@L]
    +accordionTab("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-1-question]@L]")
      | [@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-1-answer-1]@L]
    +accordionTab("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-2-question]@L]")
      p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-2-answer-1]@L]
      p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-2-answer-2]@L]
      p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-2-answer-3]@L]
    +accordionTab("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-2-question]@L]")
      | [@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-3-answer-1]@L]
    +accordionTab("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-4-question]@L]")
      | [@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-4-answer-1]@L]
    +accordionTab("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-5-question]@L]")
      | [@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-5-answer-1]@L]
    +accordionTab("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-6-question]@L]")
      p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-6-answer-1]@L]
      p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-6-answer-2]@L]
      p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-6-answer-3]@L]
    +accordionTab("[@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-7-question]@L]")
      p [@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-7-answer-1]@L]
      ul 
        li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-7-answer-2]@L]
        li [@L[cds.sales/gd/hosting/wordpress-hosting:35561-faq-7-answer-3]@L]

//- be sure to end the fixed navigational area
+renderMidPageNavBottom