
mixin careersPlackard( options )

  - options.useLightText = options.useLightText || false;
  - options.id = options.id || "";
  - options.title = options.title || "";
  - options.shapeColor = options.shapeColor || "green";
  - options.hasSeparator = options.hasSeparator || true;
  - options.separatorBig = options.separatorBig || true;
  - options.subtitle = options.subtitle || "";

  - var alternateClass = options.useLightText == true ? "light-text" : ""
  - var separatorBigClass = options.separatorBig == true ? "separator-big" : ""

  section.plackard(id="#{options.id ? options.id : ''}", class="#{alternateClass ? alternateClass : ''}")
    .container
      .row
        .col-xs-8
          if (options.title)
            .clearfix
              h2.plackard-title(class="#{alternateClass ? alternateClass : ''}") [@T[companyname:name]@T]<sup>&reg;</sup>
              .careers-speech-shape(class="careers-speech-shape-#{options.shapeColor ? options.shapeColor : ''}") 
                .shape-text !{options.title}
          if (options.hasSeparator)
            .separator(class="#{separatorBigClass ? separatorBigClass : ''} #{alternateClass ? alternateClass : ''}")

          if (options.subtitle)
            p.plackard-subtitle(class="#{alternateClass ? alternateClass : ''}") !{options.subtitle}


extends ../shared/_landing-page

append vars
  - page.title = "[@L[cds.sales/gd/careers/diversity:MetaTitle]@L]";
  - page.description = "[@L[cds.sales/gd/careers/diversity:MetaTitle]@L]";
  - page.keywords = "[@L[cds.sales/gd/careers/diversity:MetaTitle]@L]"; 
  - page.canonical = "[@T[link:<relative parammode='explicit' path='~/careers/diversity.aspx' />]@T]";

  - page.openGraph = page.openGraph || {};
  - page.openGraph.title = "[@L[cds.sales/gd/careers/diversity:og-title]@L]";
  - page.openGraph.description = "[@L[cds.sales/gd/careers/diversity:og-description]@L]";
  - page.openGraph.url = "[@T[link:<relative parammode='explicit' path='~/careers/diversity.aspx' />]@T]";

  - page.links = page.links || {};
  - page.links.canonical = "[@T[link:<relative parammode='explicit' />]@T]";
  - page.links.favicon = "[@T[link:<imageroot />]@T]assets/godaddy.ico";

prepend endOfPageScripts
  atlantis:webstash(type="js")
    script.
      var wpHosting = {
        sfDialogOkButton: {text: 'OK', onClick: function($sfDialog) { $sfDialog.sfDialog('close'); } },  
        itc: 'slp_wordpress',
        supportPhone: '[@T[support:<tes.CLOUDSERVERCONCIERGE_PHONE />]@T]',
        imagePath: '[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/',
        canOfferOls: true,
        animationTime: 800,
        animationEasingType: 'swing',
        showDeveloperPlan: true,
        isEnUs: '[@T[localization:<language full='true' />]@T]'.toLowerCase() === 'en-us'
      };
      $(document).ready(function(){
        console.log('here');
      });

append pageStyles
  atlantis:webstash(type="css")
    link(href!="[@T[link:<css path='fos/201401/careers/css/career_main.css'/>]@T]" rel="stylesheet" type="text/css")
    style
      :less
        @imgPath : '[@T[link:<imageroot />]@T]fos/201401/careers/img/';
        p.dominic {background:~"url(@{imgPath}ajax-loader_lg.gif)"}
        section {margin: 0; padding: 0;} /* undo uxcore to make this more compatible with the other careers pages */
        p {font-size: 14px;} /* undo uxcore to make this more compatible with the other careers pages */
        h1, section h1, h2, section h2 {text-transform: none; font-size:60px;} /* undo uxcore to make this more compatible with the other careers pages */
        .career-navigation {background-color:rgba(256,256,256,0.8);font-size:18px}
        .career-navigation a {text-decoration: none;}
        .career-navigation ul{list-style-type:none;margin:0 auto; padding:0;}
        .career-navigation li{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;float:left;height:2.77777777em;line-height:2.77777777em;font-weight:200;margin-left:1em;margin-right:1em; margin-bottom: 0; margin-top: 0}
        .career-navigation li.overview{font-weight:400;font-size:24px;height:.625em;line-height:.45em;margin-top:.75em;border-right:1px solid #aaa;margin-right:.25em;margin-left:0;padding-right:1em;overflow:visible}
        .career-navigation li.opportunities{float:right;font-weight:400;margin-right:1.3333333333333333em}
        .career-navigation li.opportunities a{color:#7db701;text-decoration:none}
        .career-navigation li a{color:#333}
        .career-navigation .diversity a{text-decoration:underline}
        .lt-ie9 .career-navigation {background:url("[@T[link:<css path='global/img/ie-opacity-bckg.png?version=1'/>]@T]") repeat 0 0 transparent}

        #marquee {
          background-image: ~"url(@{imgPath}bg-main-banner-interns-2.jpg?version=1)";
          background-position: center top;
          height: 720px;
        }
        #marquee .ul-container {
          padding: 0;
        }

        .separator.light-text {
          background: #fff;
        }
        .separator.separator-big {
          width: 68px;
          height: 8px;
          margin: 2em 0;
        }
        .separator {
          background: #333;
          width: 30px;
          height: 4px;
        }

        #wit.plackard {
          background-image: ~"url(@{imgPath}bg-main-banner-mission.jpg)";
        }
        #united.plackard {
          background-image: ~"url(@{imgPath}bg-main-banner-creativity.jpg)";
        }
        #veterans.plackard {
          background-image: ~"url(@{imgPath}bg-main-banner-veterans.jpg)";
        }
        #lit.plackard {
          background-image: ~"url(@{imgPath}bg-main-banner-small-business.jpg)";
        }
        #fit.plackard {
          background-image: ~"url(@{imgPath}bg-main-banner-know-real-us.jpg)";
        }

        section.plackard {
          padding: 80px 0;
          background-color: #ccc;
          background-size: cover;
          background-position: 50% 0%;
        }
        section.plackard.light-text {
          background-color: #333;
        }

        section.plackard h2,
        section.plackard p {color: #333;}

        section.plackard h2.light-text,
        section.plackard p.light-text {color:#fff;}

        section.plackard h2.plackard-title { 
          float:left;
          margin-right: 10px;
          margin-bottom: 0;
          font-size: 60px;
          text-transform: none; 
        }

        section.plackard p.plackard-subtitle {
        }

        .careers-speech-shape {
          font-family: 'Walsheim-Medium';
          font-size: 32px;
          padding: 5px 10px 5px 17px;
          color: #fff;
          float:left;
          position: relative;
          margin-bottom: 20px;
          z-index: 2;
        }
        .careers-speech-shape .shape-text {
          position: relative;
          z-index: 40;
        }
        .careers-speech-shape:before {
          content: '';
          position: absolute;
          bottom: -15px;
          left: 0;
          border-top: 15px solid;
          border-right: 15px solid transparent;
        }
        .careers-speech-shape:after {
          content: '';
          position: absolute;
          height: 100%;
          width: 99%;
          top: 0;
          transform: skew(-12deg, 0);
          z-index: 1;
        }
        .careers-speech-shape.careers-speech-shape-green {
          background-color: #008a32;
        }
        .careers-speech-shape.careers-speech-shape-green:before {
          border-top-color: #008a32;
        }
        .careers-speech-shape.careers-speech-shape-green:after {
          background-color: #008a32;
        }
        .careers-speech-shape.careers-speech-shape-orange {
          background-color: #ef6c0f;
        }
        .careers-speech-shape.careers-speech-shape-orange:before {
          border-top-color: #ef6c0f;
        }
        .careers-speech-shape.careers-speech-shape-orange:after {
          background-color: #ef6c0f;
        }
        .careers-speech-shape.careers-speech-shape-white {
          background-color: #fff;
        }
        .careers-speech-shape.careers-speech-shape-white:before {
          border-top-color: #fff;
        }
        .careers-speech-shape.careers-speech-shape-white:after {
          background-color: #fff;
        }
        .careers-speech-shape.careers-speech-shape-yellow {
          background-color: #ffde2d;
        }
        .careers-speech-shape.careers-speech-shape-yellow:before {
          border-top-color: #ffde2d;
        }
        .careers-speech-shape.careers-speech-shape-yellow:after {
          background-color: #ffde2d;
        }
    
block domainSearch
  //- nothing to see here, these are not the codez you are looking for. This comment overrides the landing-page.jade with a blank section


//- top marquee 
block marquee 
  section#marquee  
    .container-fluid
      .row
        nav.career-navigation
          .container.ul-container
            .row
              ul
                li.overview
                  a(href!='[@T[link:<relative path="~/careers/overview" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationHome]@L]        
                li.culture
                  a(href!='[@T[link:<relative path="~/careers/culture" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationCulture]@L]  
                li.diversity
                  a(href!='[@T[link:<relative path="~/careers/diversity" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationDiversity]@L]
                li.benefits
                  a(href!='[@T[link:<relative path="~/careers/benefits" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationBenefits]@L]
                li.locations
                  a(href!='[@T[link:<relative path="~/careers/locations" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationLocations]@L]
                li.interdiversityns
                  a(href!='[@T[link:<relative path="~/careers/interns" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationInterns]@L]
                li.work
                  a(href!='[@T[link:<relative path="~/careers/work" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationWork]@L]
                li.opportunities
                  a(href!='[@T[link:<relative path="~/careers/opportunities" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationopportunities]@L]
      .row
        .container
          .row
            .col-xs-6
              h1.plackard-title.alternate [@L[cds.sales/gd/careers/diversity:MainBannerTitle]@L]
              p.alternate [@L[cds.sales/gd/careers/diversity:MainBannerSubtitle]@L]

//- side by side plan comparisons go here
block plans
  +careersPlackard({
    id: "wit",
    useLightText: true,
    shapeColor: "green",
    title: "[@L[cds.sales/gd/careers/diversity:WitBannerTitle]@L]",
    subtitle: "[@L[cds.sales/gd/careers/diversity:WitBannerSubtitle]@L]"})
  +careersPlackard({
    id: "united",
    useLightText: false,
    shapeColor: "yellow",
    title: "[@L[cds.sales/gd/careers/diversity:UnitedBannerTitle]@L]",
    subtitle: "[@L[cds.sales/gd/careers/diversity:UnitedBannerSubtitle]@L]"})
  +careersPlackard({
    id: "veterans",
    useLightText: true,
    shapeColor: "orange",
    title: "[@L[cds.sales/gd/careers/diversity:VeteransBannerTitle]@L]",
    subtitle: "[@L[cds.sales/gd/careers/diversity:VeteransBannerSubtitle]@L]"})
  +careersPlackard({
    id: "lit",
    useLightText: true,
    shapeColor: "green",
    title: "[@L[cds.sales/gd/careers/diversity:LitBannerTitle]@L]",
    subtitle: "[@L[cds.sales/gd/careers/diversity:LitBannerSubtitle]@L]"})
  +careersPlackard({
    id: "fit",
    useLightText: true,
    shapeColor: "orange",
    title: "[@L[cds.sales/gd/careers/diversity:FitBannerTitle]@L]",
    subtitle: "[@L[cds.sales/gd/careers/diversity:FitBannerSubtitle]@L]"})



      
block sections  
  atlantis:webstash(type="css")
    style.
      #diversity-carousel h3.carousel-inner-title {
        color: #7db701;
        font-size: 50px;
      }
      #diversity-carousel p.carousel-inner-text {
        color: #333;
        font-size: 16px;
      }
      #diversity-carousel .diversity-carousel-item {
        padding: 50px 20px;
      }
  - diversityCarousel = reviewsCarousel || {};
  - diversityCarousel.css = true; /* only set the first instance to true */
  - diversityCarousel.backgroundColor ='';

  - diversityCarouselItem = diversityCarouselItem || {};
  - diversityCarouselItem.textCenter = true;
  - diversityCarouselItem.ci = {carouselIndicator:"",prev:"", next:""};

  section.diversity-carousel-title
    .container
      .row
        h3 [@L[cds.sales/gd/careers/culture:ReasonsCarouselTitle]@L]
        .separator.separator-title.separator-alternate

  +carousel("diversity-carousel", 5, diversityCarousel)
    +carouselItem(diversityCarouselItem)
      .container-fluid.diversity-carousel-item
        .row
          .col-xs-12.text-center
            h3.carousel-inner-title [@L[cds.sales/gd/careers/culture:ReasonsCarousel1Title]@L]
            p.carousel-inner-text [@L[cds.sales/gd/careers/culture:ReasonsCarousel1Content]@L]
    +carouselItem(diversityCarouselItem)
      .container-fluid.diversity-carousel-item
        .row
          .col-xs-12.text-center
            h3.carousel-inner-title [@L[cds.sales/gd/careers/culture:ReasonsCarousel2Title]@L]
            p.carousel-inner-text [@L[cds.sales/gd/careers/culture:ReasonsCarousel2Content]@L]
    +carouselItem(diversityCarouselItem)
      .container-fluid.diversity-carousel-item
        .row
          .col-xs-12.text-center
            h3.carousel-inner-title [@L[cds.sales/gd/careers/culture:ReasonsCarousel3Title]@L]
            p.carousel-inner-text [@L[cds.sales/gd/careers/culture:ReasonsCarousel3Content]@L]
    +carouselItem(diversityCarouselItem)
      .container-fluid.diversity-carousel-item
        .row
          .col-xs-12.text-center
            h3.carousel-inner-title [@L[cds.sales/gd/careers/culture:ReasonsCarousel4Title]@L]
            p.carousel-inner-text [@L[cds.sales/gd/careers/culture:ReasonsCarousel4Content]@L]
    +carouselItem(diversityCarouselItem)
      .container-fluid.diversity-carousel-item
        .row
          .col-xs-12.text-center
            h3.carousel-inner-title [@L[cds.sales/gd/careers/culture:ReasonsCarousel5Title]@L]
            p.carousel-inner-text [@L[cds.sales/gd/careers/culture:ReasonsCarousel5Content]@L]

//- suggested alternative products
block alternatives
  section#more-jobs
    .container
      .row
        h2 [@L[cds.sales/gd/careers/locations:MoreJobsTitle]@L]
        p.subtitle [@L[cds.sales/gd/careers/locations:MoreJobsSubtitle]@L]
      .row
        .col-xs-4
          .column.icon
            i.career-ico.career-ico-customer-care
          .column
            h3 [@L[cds.sales/gd/careers/locations:MoreJobsWork1Title]@L]
            p [@L[cds.sales/gd/careers/locations:MoreJobsWork1Content]@L]
            a(href="[@T[link:<relative path='~/careers/work' />]@T]#work-customer-care")[@L[cds.sales/gd/careers/locations:MoreJobsMoreButton]@L]
  //-       .col-xs-4
  //-         .column.icon
  //-           i.career-ico.career-ico-technical
  //-         .column
  //-           h3 [@L[cds.sales/gd/careers/locations:MoreJobsWork2Title]@L]
  //-           p [@L[cds.sales/gd/careers/locations:MoreJobsWork2Content]@L]
  //-           a(href="[@T[link:<relative path="~/careers/work" />]@T]#work-technical")[@L[cds.sales/gd/careers/locations:MoreJobsMoreButton]@L]
  //-       .col-xs-4
  //-         .column.icon
  //-           i.career-ico.career-ico-corporate
  //-         .column
  //-           h3 [@L[cds.sales/gd/careers/locations:MoreJobsWork3Title]@L]
  //-           p [@L[cds.sales/gd/careers/locations:MoreJobsWork3Content]@L]
  //-           a(href="[@T[link:<relative path="~/careers/work" />]@T]#work-corporate")[@L[cds.sales/gd/careers/locations:MoreJobsMoreButton]@L]

//- there's always a catch... show it here.
block disclaimers
  //- nothing to see here, these are not the codez you are looking for. This comment overrides the landing-page.jade with a blank section
