
mixin careersPlackard( options )

  - options.useLightText = options.useLightText || false;
  - options.id = options.id || "";
  - options.title = options.title || "";
  - options.shapeColor = options.shapeColor || "green";
  - options.hasSeparator = options.hasSeparator || true;
  - options.separatorBig = options.separatorBig || true;
  - options.subtitle = options.subtitle || "";

  - var alternateClass = options.useLightText == true ? "light-text" : ""
  - var separatorBigClass = options.separatorBig == true ? "separator-big" : ""

  section.plackard(id="#{options.id ? options.id : ''}", class="#{alternateClass ? alternateClass : ''}")
    .container
      .row
        .col-xs-12.col-sm-8
          if (options.title)
            .clearfix
              h2.plackard-title(class="#{alternateClass ? alternateClass : ''}") [@T[companyname:name]@T]<sup>&reg;</sup>
              .careers-speech-shape(class="careers-speech-shape-#{options.shapeColor ? options.shapeColor : ''}") 
                .shape-text !{options.title}
          if (options.hasSeparator)
            .separator(class="#{separatorBigClass ? separatorBigClass : ''} #{alternateClass ? alternateClass : ''}")

          if (options.subtitle)
            p.plackard-subtitle(class="#{alternateClass ? alternateClass : ''}") !{options.subtitle}


extends ../shared/_landing-page

append vars
  - page.title = "[@L[cds.sales/gd/careers/diversity:MetaTitle]@L]";
  - page.description = "[@L[cds.sales/gd/careers/diversity:MetaTitle]@L]";
  - page.keywords = "[@L[cds.sales/gd/careers/diversity:MetaTitle]@L]"; 
  - page.canonical = "[@T[link:<relative parammode='explicit' path='~/careers/diversity.aspx' />]@T]";

  - page.openGraph = page.openGraph || {};
  - page.openGraph.title = "[@L[cds.sales/gd/careers/diversity:og-title]@L]";
  - page.openGraph.description = "[@L[cds.sales/gd/careers/diversity:og-description]@L]";
  - page.openGraph.url = "[@T[link:<relative parammode='explicit' path='~/careers/diversity.aspx' />]@T]";

  - page.links = page.links || {};
  - page.links.canonical = "[@T[link:<relative parammode='explicit' />]@T]";
  - page.links.favicon = "[@T[link:<imageroot />]@T]assets/godaddy.ico";

prepend endOfPageScripts
  atlantis:webstash(type="js")
    script.
      var wpHosting = {
        sfDialogOkButton: {text: 'OK', onClick: function($sfDialog) { $sfDialog.sfDialog('close'); } },  
        itc: 'slp_wordpress',
        supportPhone: '[@T[support:<tes.CLOUDSERVERCONCIERGE_PHONE />]@T]',
        imagePath: '[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/hosting/wordpress-hosting/',
        canOfferOls: true,
        animationTime: 800,
        animationEasingType: 'swing',
        showDeveloperPlan: true,
        isEnUs: '[@T[localization:<language full='true' />]@T]'.toLowerCase() === 'en-us'
      };
      $(document).ready(function(){
        console.log('here');
      });

append pageStyles
  link(href!="[@T[link:<css path='fos/201401/careers/css/career_main.css'/>]@T]" rel="stylesheet" type="text/css")
  atlantis:webstash(type="css")
    style
      :less
        @imgPath: '[@T[link:<imageroot />]@T]fos/201401/careers/img/';
        section {margin: 0; padding: 0;} /* undo uxcore to make this more compatible with the other careers pages */
        p {font-size: 14px;} /* undo uxcore to make this more compatible with the other careers pages */
        h1, section h1, h2, section h2 {text-transform: none; font-size:60px;} /* undo uxcore to make this more compatible with the other careers pages */

        .separator.light-text {
          background: #fff;
        }
        .separator.separator-big {
          width: 68px;
          height: 8px;
          margin: 10px 0;
        }
        .separator {
          background: #333;
          width: 30px;
          height: 4px;
        }

block domainSearch
  //- nothing to see here, these are not the codez you are looking for. This comment overrides the landing-page.jade with a blank section

block marquee 
  style
    :less
      @imgPath: '[@T[link:<imageroot />]@T]fos/201401/careers/img/';
      @headerLarge: 60px;
      @headerMedium: 42px;
      @headerSmall: 22px;
      @menu1Large: 24px;
      @menu1Medium: 20.8px;
      @menu1Small: 17.6px;
      @menu2Large: 18px;
      @menu2Medium: 15.6px;
      @menu2Small: 13.2px;

      /* MARQUEE */
      #marquee {
        background-image: ~"url(@{imgPath}bg-main-banner-interns-2.jpg?version=1)";
        background-position: center top;
        background-size: cover;
      }
      #marquee h1 {
        font-size: @headerSmall;
        @media only screen and (min-width: 479px) {
          font-size: @headerMedium;
        }
        @media only screen and (min-width: 992px) {
          font-size: @headerLarge;
        }
      }
      #marquee .ul-container {
        padding: 0;
      }
      #marquee .career-navigation {
        background-color:rgba(256,256,256,0.8);
        font-size: @menu2Small;
        @media only screen and (min-width: 479px) {
          font-size: @menu2Medium;
        }
        @media only screen and (min-width: 992px) {
          font-size: @menu2Large;
        }
      }
      #marquee .career-navigation a {text-decoration: none;}
      #marquee .career-navigation ul{list-style-type:none;margin:0 auto; padding:0;}
      #marquee .career-navigation li{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;float:left;height:2.77777777em;line-height:2.77777777em;font-weight:200;margin-left:1em;margin-right:1em; margin-bottom: 0; margin-top: 0;}
      #marquee .career-navigation li.overview{font-weight:400;height:.625em;line-height:.45em;margin-top:.75em;border-right:1px solid #aaa;margin-right:.25em;margin-left:0;padding-right:1em;overflow:visible;
        font-size: @menu1Small;
        @media only screen and (min-width: 479px) {
          font-size: @menu1Medium;
        }
        @media only screen and (min-width: 992px) {
          font-size: @menu1Large;
        }
      }
      #marquee .career-navigation li.opportunities{float:right;font-weight:400;margin-right:1.3333333333333333em}
      #marquee .career-navigation li.opportunities a{color:#7db701;text-decoration:none}
      #marquee .career-navigation li a{color:#333}
      #marquee .career-navigation .diversity a{text-decoration:underline}
      #marquee .lt-ie9 .career-navigation {background:url("[@T[link:<css path='global/img/ie-opacity-bckg.png?version=1'/>]@T]") repeat 0 0 transparent}
      #marquee p.alternate {
        margin: 0 0 60px;
      }
  section#marquee  
    .container-fluid
      .row
        .col-xs-12
          nav.career-navigation
            .container.ul-container
              .col-xs-12
                .row
                  ul
                    li.overview
                      a(href!='[@T[link:<relative path="~/careers/overview" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationHome]@L]        
                    li.culture
                      a(href!='[@T[link:<relative path="~/careers/culture" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationCulture]@L]  
                    li.diversity
                      a(href!='[@T[link:<relative path="~/careers/diversity" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationDiversity]@L]
                    li.benefits
                      a(href!='[@T[link:<relative path="~/careers/benefits" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationBenefits]@L]
                    li.locations
                      a(href!='[@T[link:<relative path="~/careers/locations" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationLocations]@L]
                    li.interdiversityns
                      a(href!='[@T[link:<relative path="~/careers/interns" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationInterns]@L]
                    li.work
                      a(href!='[@T[link:<relative path="~/careers/work" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationWork]@L]
                    li.opportunities
                      a(href!='[@T[link:<relative path="~/careers/opportunities" />]@T]') [@L[cds.sales/gd/careers/diversity:CareerNavigationopportunities]@L]
      .row
        .container
          .row
            .col-xs-12.col-sm-8
              h1.plackard-title.alternate [@L[cds.sales/gd/careers/diversity:MainBannerTitle]@L]
              p.alternate [@L[cds.sales/gd/careers/diversity:MainBannerSubtitle]@L]

block plans
  style
    :less
      @imgPath: '[@T[link:<imageroot />]@T]fos/201401/careers/img/';
      @headerLarge: 60px;
      @headerMedium: 42px;
      @headerSmall: 22px;
      @speechLarge: 32px;
      @speechMedium: 22px;
      @speechSmall: 12px;

      /* PLACKARDS */
      #wit.plackard {
        background-image: ~"url(@{imgPath}bg-main-banner-mission.jpg)";
      }
      #united.plackard {
        background-image: ~"url(@{imgPath}bg-main-banner-creativity.jpg)";
      }
      #veterans.plackard {
        background-image: ~"url(@{imgPath}bg-main-banner-veterans.jpg)";
      }
      #lit.plackard {
        background-image: ~"url(@{imgPath}bg-main-banner-small-business.jpg)";
      }
      #fit.plackard {
        background-image: ~"url(@{imgPath}bg-main-banner-know-real-us.jpg)";
      }

      section.plackard {
        padding: 80px 0;
        background-color: #ccc;
        background-size: cover;
        background-position: 50% 0%;
      }
      section.plackard.light-text {
        background-color: #333;
      }

      section.plackard h2,
      section.plackard p {color: #333;}

      section.plackard h2.light-text,
      section.plackard p.light-text {color:#fff;}

      section.plackard h2.plackard-title { 
        float:left;
        margin-right: 10px;
        margin-bottom: 0;
        text-transform: none; 
        font-size: @headerSmall;
        @media only screen and (min-width: 479px) {
          font-size: @headerMedium;
        }
        @media only screen and (min-width: 992px) {
          font-size: @headerLarge;
        }
      }

      section.plackard p.plackard-subtitle {
      }

      .careers-speech-shape {
        font-family: 'Walsheim-Medium';
        padding: 5px 10px 5px 17px;
        color: #fff;
        float:left;
        position: relative;
        margin-bottom: 20px;
        z-index: 2;
        font-size: @speechSmall;
        @media only screen and (min-width: 479px) {
          font-size: @speechMedium;
        }
        @media only screen and (min-width: 992px) {
          font-size: @speechLarge;
        }
      }
      .careers-speech-shape .shape-text {
        position: relative;
        z-index: 40;
      }
      .careers-speech-shape:before {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        border-top: 15px solid;
        border-right: 15px solid transparent;
      }
      .careers-speech-shape:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 99%;
        top: 0;
        transform: skew(-12deg, 0);
        z-index: 1;
      }
      .careers-speech-shape.careers-speech-shape-green {
        background-color: #008a32;
      }
      .careers-speech-shape.careers-speech-shape-green:before {
        border-top-color: #008a32;
      }
      .careers-speech-shape.careers-speech-shape-green:after {
        background-color: #008a32;
      }
      .careers-speech-shape.careers-speech-shape-orange {
        background-color: #ef6c0f;
      }
      .careers-speech-shape.careers-speech-shape-orange:before {
        border-top-color: #ef6c0f;
      }
      .careers-speech-shape.careers-speech-shape-orange:after {
        background-color: #ef6c0f;
      }
      .careers-speech-shape.careers-speech-shape-white {
        background-color: #fff;
      }
      .careers-speech-shape.careers-speech-shape-white:before {
        border-top-color: #fff;
      }
      .careers-speech-shape.careers-speech-shape-white:after {
        background-color: #fff;
      }
      .careers-speech-shape.careers-speech-shape-yellow {
        background-color: #ffde2d;
      }
      .careers-speech-shape.careers-speech-shape-yellow:before {
        border-top-color: #ffde2d;
      }
      .careers-speech-shape.careers-speech-shape-yellow:after {
        background-color: #ffde2d;
      }

      .careers-speech-shape.careers-speech-shape-rainbow {
        background-color: #FEC41A;
      }
      .careers-speech-shape.careers-speech-shape-rainbow:before {
        border-top-color: #AA1A0F;
      }
      .careers-speech-shape.careers-speech-shape-rainbow:after {
        background-color: #440151;
      }
  +careersPlackard({
    id: "wit",
    useLightText: true,
    shapeColor: "green",
    title: "[@L[cds.sales/gd/careers/diversity:WitBannerTitle]@L]",
    subtitle: "[@L[cds.sales/gd/careers/diversity:WitBannerSubtitle]@L]"})
  +careersPlackard({
    id: "united",
    useLightText: false,
    shapeColor: "rainbow",
    title: "[@L[cds.sales/gd/careers/diversity:UnitedBannerTitle]@L]",
    subtitle: "[@L[cds.sales/gd/careers/diversity:UnitedBannerSubtitle]@L]"})
  +careersPlackard({
    id: "veterans",
    useLightText: true,
    shapeColor: "orange",
    title: "[@L[cds.sales/gd/careers/diversity:VeteransBannerTitle]@L]",
    subtitle: "[@L[cds.sales/gd/careers/diversity:VeteransBannerSubtitle]@L]"})
  +careersPlackard({
    id: "lit",
    useLightText: true,
    shapeColor: "green",
    title: "[@L[cds.sales/gd/careers/diversity:LitBannerTitle]@L]",
    subtitle: "[@L[cds.sales/gd/careers/diversity:LitBannerSubtitle]@L]"})
  +careersPlackard({
    id: "fit",
    useLightText: true,
    shapeColor: "orange",
    title: "[@L[cds.sales/gd/careers/diversity:FitBannerTitle]@L]",
    subtitle: "[@L[cds.sales/gd/careers/diversity:FitBannerSubtitle]@L]"})
 
block sections
  style
    :less
      @imgPath: '[@T[link:<imageroot />]@T]fos/201401/careers/img/';
      @headerLarge: 50px;
      @headerMedium: 32px;
      @headerSmall: 18px;
      @innerLarge: 16px;
      @innerMedium: 14px;
      @innerSmall: 12px;

      /* DIVERSITY CAROUSEL */
      .diversity-carousel-title {
        padding-top: 60px;
      }
      .diversity-carousel-title h3 {
        text-transform: none;
        font-size: 20px;
        margin: 0 0 20px;
      }
      .diversity-carousel-title div.separator {
        margin: 0 auto;
      }
      #diversity-carousel h3.carousel-inner-title {
        color: #7db701;
        text-transform: none;
        font-size: @headerSmall;
        @media only screen and (min-width: 479px) {
          font-size: @headerMedium;
        }
        @media only screen and (min-width: 992px) {
          font-size: @headerLarge;
        }
      }
      #diversity-carousel p.carousel-inner-text {
        color: #333;
        font-size: @innerSmall;
        @media only screen and (min-width: 479px) {
          font-size: @innerMedium;
        }
        @media only screen and (min-width: 992px) {
          font-size: @innerLarge;
        }
      }
      #diversity-carousel .diversity-carousel-item {
        padding: 0px 20px;
      }

  - diversityCarousel = reviewsCarousel || {};
  - diversityCarousel.css = true; /* only set the first instance to true */
  - diversityCarousel.backgroundColor ='';

  - diversityCarouselItem = diversityCarouselItem || {};
  - diversityCarouselItem.textCenter = true;
  - diversityCarouselItem.ci = {carouselIndicator:"",prev:"", next:""};

  section.diversity-carousel-title
    .container
      .row
        h3.text-center [@L[cds.sales/gd/careers/diversity:ReasonsCarouselTitle]@L]
        .separator.separator-title.separator-alternate

  +carousel("diversity-carousel", 5, diversityCarousel)
    +carouselItem(diversityCarouselItem)
      .container-fluid.diversity-carousel-item
        .row
          .col-xs-12.text-center
            h3.carousel-inner-title [@L[cds.sales/gd/careers/diversity:ReasonsCarousel1Title]@L]
            p.carousel-inner-text [@L[cds.sales/gd/careers/diversity:ReasonsCarousel1Content]@L]
    +carouselItem(diversityCarouselItem)
      .container-fluid.diversity-carousel-item
        .row
          .col-xs-12.text-center
            h3.carousel-inner-title [@L[cds.sales/gd/careers/diversity:ReasonsCarousel2Title]@L]
            p.carousel-inner-text [@L[cds.sales/gd/careers/diversity:ReasonsCarousel2Content]@L]
    +carouselItem(diversityCarouselItem)
      .container-fluid.diversity-carousel-item
        .row
          .col-xs-12.text-center
            h3.carousel-inner-title [@L[cds.sales/gd/careers/diversity:ReasonsCarousel3Title]@L]
            p.carousel-inner-text [@L[cds.sales/gd/careers/diversity:ReasonsCarousel3Content]@L]
    +carouselItem(diversityCarouselItem)
      .container-fluid.diversity-carousel-item
        .row
          .col-xs-12.text-center
            h3.carousel-inner-title [@L[cds.sales/gd/careers/diversity:ReasonsCarousel4Title]@L]
            p.carousel-inner-text [@L[cds.sales/gd/careers/diversity:ReasonsCarousel4Content]@L]
    +carouselItem(diversityCarouselItem)
      .container-fluid.diversity-carousel-item
        .row
          .col-xs-12.text-center
            h3.carousel-inner-title [@L[cds.sales/gd/careers/diversity:ReasonsCarousel5Title]@L]
            p.carousel-inner-text [@L[cds.sales/gd/careers/diversity:ReasonsCarousel5Content]@L]

//- suggested alternative products
block alternatives
  style
    :less
      @imgPath: '[@T[link:<imageroot />]@T]fos/201401/careers/img/';

        /* MORE-JOBS */
        #more-jobs {
          background: #333;
          padding: 40px 0;
          font-size: 10px;
        }
        #more-jobs h2,
        #more-jobs p,
        #more-jobs h3 {
          color: #f1f1f1;
        }
        #more-jobs a {
          font-size: 12px;
          text-decoration: underline;
          color: #7db701;
        }
        #more-jobs h2 {
          font-size: 32px;
          font-weight: bold;
          margin: 0 0 7px;
        }
        #more-jobs p.subtitle {
          font-size: 18px;
          font-weight: 100;
        }
        #more-jobs p {
          font-size: 12px;
          margin: 0 0 25px;
        }
        #more-jobs .column h3 {
          margin: 0 0 5px;
          font-size: 20px;
        }
        #more-jobs .column p {
          margin: 0 0 9px;
          font-size: 12px;
        }

        .career-ico {
          background-image: ~"url(@{imgPath}career-ico-s565abdd9f2.png)";
          background-repeat: no-repeat;
          display: inline-block;
          vertical-align: middle;
        }        
        .career-ico-technical {
          background-position: 0 -418px;
          height: 77px;
          width: 80px;
        }
        .career-ico-corporate {
          background-position: 0 -495px;
          height: 77px;
          width: 80px;
        }
        .career-ico-customer-care {
          background-position: 0 -341px;
          height: 77px;
          width: 80px;
        }

  section#more-jobs
    .container
      .row
        .col-xs-12
          h2 [@L[cds.sales/gd/careers/diversity:MoreJobsTitle]@L]
          p.subtitle [@L[cds.sales/gd/careers/diversity:MoreJobsSubtitle]@L]
      .row
        .col-xs-12.col-sm-6.col-md-4
          .row
            .hidden-xs.col-sm-4
              i.career-ico.career-ico-customer-care
            .col-xs-12.col-sm-8
              h3 [@L[cds.sales/gd/careers/diversity:MoreJobsWork1Title]@L]
              p [@L[cds.sales/gd/careers/diversity:MoreJobsWork1Content]@L]
              a(href!='[@T[link:<relative path="~/careers/work" />]@T]#work-customer-care') [@L[cds.sales/gd/careers/diversity:MoreJobsMoreButton]@L]
        .col-xs-12.col-sm-6.col-md-4
          .row
            .hidden-xs.col-sm-4
              i.career-ico.career-ico-technical
            .col-xs-12.col-sm-8
              h3 [@L[cds.sales/gd/careers/diversity:MoreJobsWork2Title]@L]
              p [@L[cds.sales/gd/careers/diversity:MoreJobsWork2Content]@L]
              a(href!='[@T[link:<relative path="~/careers/work" />]@T]#work-technical') [@L[cds.sales/gd/careers/diversity:MoreJobsMoreButton]@L]
        .col-xs-12.col-sm-6.col-md-4
          .row
            .hidden-xs.col-sm-4
              i.career-ico.career-ico-corporate
            .col-xs-12.col-sm-8
              h3 [@L[cds.sales/gd/careers/diversity:MoreJobsWork3Title]@L]
              p [@L[cds.sales/gd/careers/diversity:MoreJobsWork3Content]@L]
              a(href!='[@T[link:<relative path="~/careers/work" />]@T]#work-corporate') [@L[cds.sales/gd/careers/diversity:MoreJobsMoreButton]@L]

//- there's always a catch... show it here.
block disclaimers
  //- nothing to see here, these are not the codez you are looking for. This comment overrides the landing-page.jade with a blank section
