extend ../marquee

//- these mixins, while simple and not incredibly valuable from a 
//- code-readability standpoint, should help with markup consistency 
//- e.g. ensuring product names are always displayed using an <H1>
mixin productImage(src)
  img.marquee-product-img(src="#{src}")

mixin productName(name)
  h1.marquee-product-name #{name}

mixin productReview(stars, link)
  .marquee-product-review 
    - for (var x = 0; x < stars; x++)
      i.uxicon.uxicon-star.text-warning
    a(href=link) Reviews

mixin productDescription(description)
  h2.marquee-product-description !{description}

mixin productText(text)
  .marquee-product-text !{text}

mixin productBullets(bullets)
  ul.marquee-product-bullets
    each bullet in bullets
      li #{bullet}

mixin checkBullets(bullets)
  ul.marquee-check-bullets
    each bullet in bullets
      li #{bullet}

mixin callToAction(text,link)
  a.btn.btn-primary.jump-arrow-btn(href!=link) #{text}

append vars
  //- parent field overrides
  - marqueeType = "marquee-app-landing"

  //- fields exposed in this template
    - productImage = productImage || ""
    - productName = productName || ""
    - productReview = productReview || ""
    - productDescription = productDescription || ""
    - productText = productText || ""
    - productBullets = productBullets || []
    - showDomainSearch = showDomainSearch || false

block content
  .col-sm-12
    div(data-center-element='{"vertical":{"target":{"method":"parents","selector":".marquee-www-rebrand-wrap"},"verticalStyle":"padding-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
      .row
        div.col-md-7.col-sm-12
          .marquee-pro-left-text
            block topAlignedContent

            block middleAlignedContent

            block bottomAlignedContent
