mixin carouselItem()
  .item
    .item-wrapper
      block

mixin carousel(id, numberOfPanels, options)

  - options = options || {};
  - options.autoRotateSpeed = options.autoRotateSpeed || false;
  - options.backgroundColor = options.backgroundColor || "bg-pro-gray";

  style.
    .item-wrapper { padding: 70px 0 20px; text-align: center; }
    .carousel-pro-wrap { padding-top: 70px; }
  .tile-section.carousel-pro-wrap
    .carousel-pro.container
      .carousel.slide(id=id data-ride="carousel" data-interval="#{options.autoRotateSpeed}")

        if (numberOfPanels > 1)
          ol.carousel-indicators
            - for (var index = 0; index < numberOfPanels; index++)
              li(data-target="#"+id data-slide-to="#{index}")

        .carousel-inner
          block

        - var arrowType = "icon"
        if (options.backgroundColor !== 'bg-pro-gray')
          - arrowType = "white-icon"

        if (numberOfPanels > 1)
          a.left.carousel-control(href="#"+id data-slide="prev")
            span.pro-icon(class="arrow-left-#{arrowType}")
          a.right.carousel-control(href="#"+id data-slide="next")
            span.pro-icon(class="arrow-right-#{arrowType}")
      script.
        $('.carousel .carousel-indicators li:first-child').addClass("active");
        $('.carousel .carousel-inner .item:first-child').addClass("active");