mixin domainSearchInput(params)
  - var params                = params || {};
  - var actionUrl             = params.actionUrl || "[@T[link:<external linktype='siteurl' path='' parammode='explicit'/>]@T]/api/dpp/search/single?ci=54814&isc=gd41166r";
  - var icode                 = params.icode || "home:Domain Search:Domains:Domain Search";
  - var tcode                 = params.tcode || "home:Domain Search:Domains:Domain Search:Search Domain";
  - var placeholderTextColor  = params.placeholderTextColor || "text-primary";
  - var buttonColor           = params.buttonColor || "btn-primary";
  - var buttonText            = params.buttonText || "[@L[cds.sales/homepage/locales/en:domain-search-btn]@L]";
  - var placeholderText       = params.placeholderText || "[@L[cds.sales/homepage/segments/default:domain-banner-search-text]@L]";
  .row
    .col-xs-12.search-template
      form(action="#{actionUrl}", data-icode="#{icode}", data-domainsearch!="{'search-element':'input.searchInput','placeholder-element':'label.searchInput','button':'button','empty-redirect':'[@T[link:<external linktype='siteurl' path='' parammode='explicit'/>]@T]/domains/domain-name-search.aspx'}")
        .search-template-box.clearfix
          label(class="#{placeholderTextColor} searchInput") !{placeholderText}
          input(class="#{placeholderTextColor} searchInput" type="text" autocomplete="off" name="domainToCheck" maxlength="63")
          button(type="submit" data-tcode="#{tcode}" class="#{buttonColor} btn btn-lg pull-right ") !{buttonText}


mixin domainSearchOffersInput(title, cicode, placeholderText)

  style.
    .search-form { margin: 0 auto 1.071428571em;}
    .search-form-input {height: 67px; padding: 20px; color: #333; font-size:18px;border-top-color: #fff; border-top-width: 3px; border-top-style: inset; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; width: 850px;}
    .offer-search-box label.searchInput {};
    form.search-form button.offer-search-btn { font-size: 20px; height: 66px; margin-top: -6px; }
    .offer-search-section { padding-bottom:20px;}
    .search-message { display: none; margin-left:20px; margin-top:30px;width:50%;}


  .row
    .col-md-12
      if(title)
        h5.get-a-domain-text !{title}
  .row
    .col-md-12
      .offer-search-section
        .offer-main-top
          form.search-form
            .offer-search-box
              input.search-form-input.searchInput.helveticafont(type="text" placeholder!="#{placeholderText}" name="domainToCheck" autocomplete="off" maxlength="63")
              button.btn.btn-primary.btn-lg.offer-search-btn(type="button" name="searchButton" data-ci="#{cicode}") SEARCH
              .search-message.speech-shape-upsidedown.speech-shape-upsidedown-yellow.type-your-business-name Type your business name here (if you have one)
              .search-message.speech-shape-upsidedown.speech-shape-upsidedown-orange.domain-eligibility-fail You do not meet the eligibilty requirements for {0} domains, please select a different domain extension and search again.
              .search-message.speech-shape-upsidedown.speech-shape-upsidedown-white.invalid-TLD-entered You need to choose a valid TLD.
              .search-message.speech-shape-upsidedown.speech-shape-upsidedown-orange.api-A-failure API A FAILURE
            .clearfix