
//- TODO make into a mixin, namespace the variables, include css here too

- var featuresWrapClass = ""

if (presentationTemplate === "featuresRightText"  || presentationTemplate === "featuresLeftText")
  - featuresWrapClass = "features-wrap"
else if (presentationTemplate === "featuresSlim")
  - featuresWrapClass = "features-slim"
- bgColorLeft = bgColorLeft || "transparent";
- bgColorRight = bgColorRight || "transparent";
atlantis:webstash(type="css")
  style.
    .features {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
    }
    @media only screen and (max-width: 768px) {
      .features {
        background-image: none !important;
      }
    }
    @media only screen and (max-width: 992px) {
      .features .features-img {
        width: 85%;
      }
    }
    @media only screen and (max-width: 768px) {
      .features .features-img {
        width: 50%;
      }
    }
    @media only screen and (max-width: 992px) {
      .features .features-img.features-img-right-slim {
        margin: 40px 0 0;
      }
    }
    @media only screen and (max-width: 992px) {
      .features .features-img.features-img-left,
      .features .features-img.features-img-right {
        margin: 0 0 40px;
      }
    }
    .features.features-wrap {
      min-height: 560px;
    }
    @media only screen and (max-width: 992px) {
      .features.features-wrap {
        min-height: 0;
      }
    }
    @media only screen and (max-width: 992px) {
      .features.features-wrap {
        padding: 40px 0;
      }
    }
    .features.features-wrap h2,
    .features.features-slim h2 {
      font-family: 'Walsheim-Black';
      margin: 0 0 20px;
      color: #333;
      font-size: 40px;
    }
    .features.text-white * {
      color: #fff !important;
    }
    .features .features-subtitle {
      font-family: 'Walsheim-Bold';
      margin-top: 20px;
    }
    .features .features-text {
      margin-bottom: 20px;
    }
    .features.features-slim {
      min-height: 300px;
    }


//- Features layouts
div(id="#{featuresId ? featuresId : ''}", class="features tile-section #{featuresWrapClass ? featuresWrapClass : ''} #{whiteText ? 'text-white' : ''} #{backgroundColor ? backgroundColor : ''}", style != (typeof backgroundImage != 'undefined' && !lazyLoad ? 'background-image: url(\'#{backgroundImage}\');' : ''), data-lazy-load = (typeof backgroundImage != 'undefined' && lazyLoad ? '{"src":"#{backgroundImage}"}' : ''))
  .container
    .row

      //- Features Half-half right text
      if (presentationTemplate === "featuresRightText")
        .col-sm-6
          if (image)
            div.text-center(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features-wrap"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
              if(lazyLoad)
                img.features-img.features-img-left(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-lazy-load!='{"src":"#{image}","callback":"triggerResize"}', alt="#{altText ? altText : ''}")
              else
                img.features-img.features-img-left(src!="#{image}", alt="#{altText ? altText : ''}")
        .col-sm-6
          div(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
            if (title)
              h2 !{title}

            if (subtitle)
              h4.features-subtitle !{subtitle}

            if (text)
              .features-text !{text}

            if (buttonText && buttonUrl)
              a(href="#{buttonUrl}", class="btn #{buttonColor ? buttonColor : 'btn-default'}" ) !{buttonText}

      //- Features Half-half left text
      if (presentationTemplate === "featuresLeftText")
        .col-sm-6.col-sm-push-6
          if (image)
            div.text-center(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')

              if(lazyLoad)
                img.features-img.features-img-right(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-lazy-load != '{"src":"#{image}","callback":"triggerResize"}', alt="#{altText ? altText : ''}")
              else
                img.features-img.features-img-right(src!="#{image}", alt="#{altText ? altText : ''}")

        .col-sm-6.col-sm-pull-6
          div(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
            if (title)
              h2 !{title}

            if (subtitle)
              h4.features-subtitle !{subtitle}

            if (text)
              .features-text !{text}

            if (buttonText && buttonUrl)
              a(href="#{buttonUrl}", class="btn #{buttonColor ? buttonColor : 'btn-default'}" ) !{buttonText}


      //- Features smil with left text
      if (presentationTemplate === "featuresSlim")
        .col-sm-6.bg-slim-left
          div(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
            if (title)
              h2 !{title}

            if (subtitle)
              h4.features-subtitle !{subtitle}

            if (text)
              .features-text !{text}

            if (buttonText && buttonUrl)
              a(href="#{buttonUrl}", class="btn #{buttonColor ? buttonColor : 'btn-default'}" ) !{buttonText}

        .col-sm-6.bg-slim-right
          if (image)
            div.text-center(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
              if(lazyLoad)
                img.features-img.features-img-right-slim(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", data-lazy-load != '{"src":"#{image}","callback":"triggerResize"}', alt="#{altText ? altText : ''}")
              else
                img.features-img.features-img-right-slim(src!="#{image}", alt="#{altText ? altText : ''}")


//- .features {
//-   background-size: cover;
//-   background-repeat: no-repeat;
//-   background-position: top center;
//-   &.features-wrap {
//-     min-height: 560px;
//-   }
//-   &.text-white {
//-     * {
//-         color: #fff !important;
//-       }
//-   }
//-   .features-subtitle {
//-     font-family: 'Walsheim-Bold';
//-   }
//-   .features-text {
//-     margin-bottom: 20px;
//-   }

//-   &.features-slim {
//-     min-height: 300px;
//-   }
//- }

