
//- =========================================================================
//- Load loaded image
//- =========================================================================
//- 
//- Will lazy load an image 
//- 
//- 1. Simply add class "lazyload" to your div or image
//- 2. "data-lazyload-source" Add an attribute to define your source image 
//- 3. "data-lazyload-watch" Optionally add an attribute to define the region of the page that fires off loading of the actual image 
//- 4. "data-lazyload-callback" Optional callback that fires BEFORE the fade in
//- 5. "data-lazyload-callbackAfter" Optional callback that fires AFTER the fade in
//- 
mixin lazyImg(addlClasses, watch, src, altText, callback, callbackAfter)
  img.lazyload(
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    class="#{addlClasses}"
	  data-lazyload-source!="#{src}"
    data-lazyload-watch!="#{watch}"
    data-lazyload-callback!="#{callback}"
    data-lazyload-callbackAfter!="#{callbackAfter}"
	  alt=(altText ? altText : "")
	  )

//- =========================================================================
//- A scalable video player in a modal with launch button
//- =========================================================================
//- you can call the independant mixins individually to place them in the correct DOM locations, 
//- or call the all-encompasing one videoPlayerModalAll()
//-   +videoPlayerModalAll(
//-     'WycoJMKzXZ4', 
//-     'test-btn-id', 
//-     '123456', 
//-     '[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img_play_icon_small.png', 
//-     '[@L[cds.sales/offers/online-business:32573-watch-video-button]@L]', 
//-     'btn-md btn-primary', 
//-     'test-modal-id', 
//-     '')
- var videoPlayerModal = videoPlayerModal || {};
- videoPlayerModal.renderedRezingCommonJs = videoPlayerModal.renderedRezingCommonJs || false;

mixin videoPlayerModalAll(youtubeVideoId, buttonId, ci, imgInButton, imgAsButton, buttonText, addlBtnClasses, modalId, addlModalClasses)

  +videoPlayerScriptsOnly(buttonId, modalId)
  +videoPlayerStylesOnly()    
  +videoPlayerButtonOnly(buttonId, ci, imgInButton, imgAsButton, buttonText, addlBtnClasses)
  +videoPlayerModalOnly(youtubeVideoId, modalId, addlModalClasses)

mixin videoPlayerScriptsOnly(buttonId, modalId)
  atlantis:webstash(type="js")
    script.
      $(document).ready(function(){
        $('##{buttonId}').on('click', function(){
          $("##{modalId}").sfDialog({titleHidden:true, dialogWidthIdeal:840, destroyOnClose:true, buttons: []});
        });
      });

  if(!videoPlayerModal.renderedRezingCommonJs)
    - videoPlayerModal.renderedRezingCommonJs = true; /* keeps css from rendering multiple times per use on a page build */
    atlantis:webstash(type="js")
      script.
        $(document).ready(function(){
          /* see: http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
          var $allVideos = $("iframe[src^='http://www.youtube.com']"),/* Find all YouTube videos */    
              $fluidEl = $("body"); /*The element that is fluid width*/      
          $allVideos.each(function() {        
            // Figure out and save aspect ratio for each video
            // and remove the hard coded width/height
            $(this).data('aspectRatio', this.height / this.width).removeAttr('height').removeAttr('width');
          });
          // When the window is resized
          $(window).resize(function() {
            var newWidth = $fluidEl.width();
            // Resize all videos according to their own aspect ratio
            $allVideos.each(function() {
              var $el = $(this);
              $el.width(newWidth).height(newWidth * $el.data('aspectRatio'));
            });
          // Kick off one resize to fix all videos on page load
          }).resize();
        });

mixin videoPlayerStylesOnly()
  atlantis:webstash(type="css")
    style.
      .video-modal {display: none;}
      .videoWrapperInModal {position:relative;padding-bottom: 56.25%; /* 16:9 */padding-top:25px;height:0;}
      .videoWrapperInModal iframe {position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;}
      img.video-play-icon {margin-right:10px;vertical-align:top;}
      .video-modal-img-as-button {cursor: pointer;}
      .video-iframe-underlay {position: absolute;z-index:1;top:150px;width:100%;}
      .video-iframe-underlay  h2 {text-align:center;}

mixin videoPlayerButtonOnly(buttonId, ci, imgInButton, imgAsButton, buttonText, addlBtnClasses)

  if(imgAsButton)
    img.video-modal-img-as-button(id="#{buttonId}", data-ci="#{ci}", class="#{addlBtnClasses}")
  else
    if(imgInButton)
      button.btn(id="#{buttonId}", data-ci="#{ci}", class="#{addlBtnClasses}") <img src="!{imgInButton}" class="video-play-icon" /> #{buttonText}
    else
      button.btn(id="#{buttonId}", data-ci="#{ci}", class="#{addlBtnClasses}") #{buttonText}

mixin videoPlayerModalOnly(youtubeVideoId, modalId, addlModalClasses)

  div.sf-dialog.video-modal(id="#{modalId}", class="#{addlModalClasses}")
    .videoWrapperInModal
      .video-iframe-underlay
        h2 [@L[cds.sales/gd/tlds/gtld:loading]@L]
      iframe(width="640", height="390", src="//www.youtube.com/embed/#{youtubeVideoId}?html5=1&rel=0&iv_load_policy=3&modestbranding=1",autoplay, scrolling="no", frameborder="0", allowfullscreen)



//- =========================================================================
//- yet another common mixin goes below
//- =========================================================================
//-
//-