mixin priceBlock(price, duration, link, options)
  - price = price || "$X.XX"
  - duration = duration || "year"
  - link = link || "#"
  - options = options || {}
  - options.priceText = options.priceText || "Plans starting at"
  - options.buttonColor = options.buttonColor || "btn-warning"
  - options.buttonText = options.buttonText || "See the plans"
  
  //- allow consumers to pass a block for full flexiblity
  if block
    block
  else
    .navbar-right(data-center-element='{"vertical":{"target":{"method":"parents","selector":".mid-page-nav"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
      .price-text #{options.priceText}
      .price !{price}
        span !{"/" + duration}
      a(href="#{link}" class="#{options.buttonColor} btn btn-sm") !{options.buttonText}

mixin renderMidPageNav(options)
  - options = options || {};
  - options.icode = options.icode || "";

  .mid-page-nav
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="")

      .collapse.navbar-collapse#midPageNav
        ul.nav.navbar-nav

        block
  
  script.
    $(function(){ 
      var midPageNavItemTemplate = _.template('<li><a href="#<%= url %>" data-center-element="{&quot;vertical&quot;:{&quot;target&quot;:{&quot;method&quot;:&quot;parents&quot;,&quot;selector&quot;:&quot;.nav&quot;},&quot;verticalStyle&quot;:&quot;margin-top&quot;,&quot;elementHeightMethod&quot;:&quot;outerHeight&quot;,&quot;targetWidthMethod&quot;:&quot;height&quot;}}" style="margin-top: 0px;"><span><%= text %></span></a></li>');
      $('[data-mid-nav-title]').each(function(index) {
        var itemData = { text: $(this).data('mid-nav-title'), url: this.id };
        var itemElement = midPageNavItemTemplate(itemData);
        $('#midPageNav ul.nav').append(itemElement);
      });
    });