include ./helper-mixin.jade

block vars
  - page = page || {};

  - page.title = page.title || "[@L[cds.sales/page:page-title]@L]";
  - page.description = page.description || "[@L[cds.sales/page:page-description]@L]";
  - page.keywords = page.keywords || "[@L[cds.sales/page:page-keywords]@L]";
  - page.canonical = page.canonical || "[@T[link:<relative parammode='explicit' />]@T]";
  - page.favicon = page.favicon || "[@T[link:<imageroot />]@T]assets/godaddy.ico";

  - page.openGraph = page.openGraph || {};
  - page.openGraph.title = page.openGraph.title || "[@L[cds.sales/page:page-openGraph-title]@L]";
  - page.openGraph.description = page.openGraph.description || "[@L[cds.sales/page:page-openGraph-description]@L]";
  - page.openGraph.type = page.openGraph.type || "website";
  - page.openGraph.image = page.openGraph.image || "[@T[link:<imageroot />]@T]fos/hp/rebrand/img/gd_rebrand_og.png";
  - page.openGraph.siteName = page.openGraph.siteName || "[@T[link:<relative parammode='explicit' />]@T]";
  
  - page.config = page.config || {};
  - page.config.version = page.config.version || "0.7.0";
  - page.config.uxcoreVersion = page.config.uxcoreVersion || "dev-brand";

doctype html
html(lang!="[@T[localization:<language full='true' />]@T]")
  head
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(http-equiv="content-language" content!="[@T[localization:<language full='true' />]@T]")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(http-equiv="x-ua-compatible" content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    meta(name="google-site-verification" content="odAW2IckEFXrJjMrVxmnpjRPGNxEJp_xnCb7iBydgBY")
    meta(name="msvalidate.01" content="9D246CEFA0D8894D78306DF6FBA618D9")
    link(href="https://plus.google.com/108306343581548568740" rel="publisher")
    meta(name="verify-v1" content="dV1r/ZJJdDEI++fKJ6iDEl6o+TMNtSu0kv18ONeqM0I=")
    meta(name="y_key" content="1e39c508e0d87750")
    link(rel="canonical" href!="#{page.canonical}")
    link(rel="shortcut icon" href!="#{page.favicon}")

    //- fonts - load ASAP as they're on the critical path for page load time 
    link(rel="stylesheet" type="text/css" href="//cloud.typography.com/7914312/697366/css/fonts.css")

    //- page.jade exposes and uses seo variables for the most frequently used meta tags (listed above)
    //- usually, inherited pages can simply set these variables
    //- for more flexibility, or to append/prepend this section, an inherited page
    //- can use jade's block/prepend/append
    block seo
      title #{page.title}
      meta(name="description" content!="#{page.description}")
      meta(name="keywords" content!="#{page.keywords}")
      meta(property="og:title" content!="#{page.openGraph.title}")
      meta(property="og:description" content!="#{page.openGraph.description}")
      meta(property="og:type" content!="#{page.openGraph.type}")
      meta(property="og:url" content!="[@T[link:<relative parammode='explicit' />]@T]")
      meta(property="og:image" content!="#{page.openGraph.image}")
      meta(property="og:site_name" content!="#{page.openGraph.siteName}")
      meta(property="fb:app_id" content="115696031791232")
      meta(property="fb:admins" content="633356800")

    | 
    | [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.HeadTags"><Parameters><Parameter key="manifest" value="salesheader" /><Parameter key="split" value="brand2.0" /></Parameters></Data>]@P]

    //- inherited page classes can prepend/override/append headScripts when 
    //- that page needs a script loaded early on in DOM processing
    //- TODO: UPDATE PATH
    //- TODO: remove uxcore/uxcontrols from this block once PC head control renders the right stuff
    block headScripts
      script.
        var head = (typeof document.head !== 'undefined' ? document.head : document.getElementsByTagName('head')[0]);
        var insertBefore = head.insertBefore;
        var delayLoader = (function(headNode) {
          var elements = [];
          var fnOnDelayLoadComplete = [];

          function addElement(element) {
            elements.unshift(element);  // Insert in the order received
          }

          return {
            addElement: function(element) {
              addElement(element);
            },
            addScript: function(url, params) {
              params = params || {};

              var script = document.createElement('script');
              script.type = 'text/javascript';
              script.src = url;
              script.async = true;
              if (typeof params.id !== 'undefined') {
                script.id = params.id;
              }
              addElement(script);
              for (var i = 0; i < fnOnDelayLoadComplete.length; i++) {
                fnOnDelayLoadComplete[i]();
              }
            },
            onDelayLoadComplete: function(callback) {
              fnOnDelayLoadComplete.unshift(callback);
            },
            load: function() {
              for (var i = 0; i < elements.length; i++) {
                insertBefore.call(headNode, elements[i], headNode.firstChild);
              }
              head.insertBefore = insertBefore;
            }
          };
        })(head);

        var oldOnload = window.onload;
        window.onload = function() {
          delayLoader.load();
          if (oldOnload) {
            oldOnload();
          }
        };

        head.insertBefore = function (newElement, referenceElement) {
          if (newElement.tagName === 'SCRIPT') {
            delayLoader.addElement(newElement);
          } else {
            insertBefore.call(head, newElement, referenceElement);
          }
        };

        function endOfPageScripts() {

          // jquery.domainscout.1.0.0.js
          if("undefined"==typeof domainscout){var domainscout={version:"1.0.2"};$(document).ready(function(){function b(a){var b=a,d=b.data("domainscout")||b.data("domainsearch");if(b[0]["ds-domain"]=b.find(d["search-element"]),b[0]["ds-placeholder"]=b.find(d["placeholder-element"]),b[0]["ds-button"]=b.find(d.button),b[0]["ds-url"]=d.url,b[0]["ds-ci"]=d.ci,b[0]["ds-hide-label"]=d["hide-label"],b[0]["ds-empty-redirect"]=d["empty-redirect"],"undefined"==typeof b[0]["ds-hide-label"]&&(b[0]["ds-hide-label"]=!0),1==b[0]["ds-domain"].length&&(b[0]["ds-domain"].is("input")||b[0]["ds-domain"].is("textarea"))){if(domainscout.items=domainscout.items.add(b),b[0]["ds-placeholder"].is("label")){var e=b[0]["ds-domain"].attr("id");"undefined"==typeof e&&(e="ds-"+domainscout.items.length,b[0]["ds-domain"].attr("id",e)),b[0]["ds-placeholder"].attr("for",e)}else b[0]["ds-placeholder"].bind("click",function(){b[0]["ds-domain"].focus()});b[0]["ds-domain"].val(""),b[0]["ds-domain"].bind("focus.ds-event",function(){b.addClass("ds-focus"),b[0]["ds-domain"].bind("keydown.ds-event",function(a){var d=[16,27,20,8,37,38,39,40];13==a.which?(c(b),a.preventDefault()):-1==d.indexOf(a.which)&&b[0]["ds-hide-label"]&&b[0]["ds-placeholder"].css("display","none")})}),b[0]["ds-domain"].bind("blur.ds-event",function(){b.removeClass("ds-focus"),b[0]["ds-domain"].unbind("keydown.ds-event"),b[0]["ds-hide-label"]&&""==b[0]["ds-domain"].val()&&"none"==b[0]["ds-placeholder"].css("display")&&b[0]["ds-placeholder"].css("display","block")})}b[0]["ds-button"].bind("click",function(a){a.stopPropagation(),a.preventDefault(),"undefined"!=typeof _trfq&&_trfq.push(["cmdLogPageEvent","click","","",b[0]]),c(b)})}function c(a){var b=$(a),c=!0,e=!1,g=b[0]["ds-url"];"undefined"==typeof b[0]["ds-url"]&&(g=b.attr("action"),("undefined"==typeof g||"#"==g)&&(c=!1));var h;c&&1==b[0]["ds-domain"].length?(h=b[0]["ds-domain"].val(),"undefined"!=typeof h&&""!=h?(g=g.split("?")[0],g=g+"?domainToCheck="+d(h)):(g=b[0]["ds-empty-redirect"],g.indexOf(location.protocol)&&(g=location.protocol+g),e=!0,"undefined"==typeof g&&(c=!1))):c=!1,c&&(e||(g+="&checkAvail=1","undefined"==b[0]["ds-ci"]&&(b[0]["ds-url"]=f("ci")),"undefined"!=b[0]["ds-ci"]&&(g=g+"&"+b[0]["ds-ci"])),window.location.href=g)}function d(a){return a}function e(a){return a instanceof $||(a=$(a)),a}function f(a){var b=decodeURI((RegExp(a+"="+"(.+?)(&|$)").exec(location.search)||[,null])[1]);return"null"==b&&(b=void 0),b}var a=$("[data-domainscout],[data-domainsearch]");domainscout.items=$(),a.each(function(){b($(this))}),domainscout.add=function(a){b(e(a))},domainscout.search=function(a){c(e(a))}})}

          //- example on how to lazyload an image
          //- <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="test of lazy load" data-lazy-load='{"src":"[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/tld-in.png"}' >
          //- NOTE!!!:  JADE doesn't like to play nice with the data-lazy-load attribute.  It requires double quotes for the JSON string, with single quotes around the that JSON string.  
          // jquery.lazyload.1.0.0.js
          !function(a){function b(a,b){"undefined"==typeof b&&(b=a.data("lazy-load"));var c=b.src||b.source;"undefined"!=typeof c&&(a[0].lazyload=b,lazyload.items=lazyload.items.add(a),e(a))}function c(){e(a(window)),lazyload.items.each(function(){d(a(this))})}function d(b){var c=b[0].lazyload.updatePosition||lazyload.__defaults.updatePosition,d=d||lazyload.__defaults.updateWindowScroll;b[0].lazyload.checkHorizontal||lazyload.__defaults.checkHorizontal,c&&e(b),e(a(window));var g=b[0].lazyload.positionTop,i=b[0].lazyload.positionBottom,j=lazyload.windowTop,k=lazyload.windowBottom;g<k+lazyload.__defaults.loadBufferDistance&&i>j-lazyload.__defaults.loadBufferDistance&&h(b)}function e(a){var b=a[0];if(b==window)lazyload.updateWindowPosition&&(lazyload.windowTop=a.scrollTop(),lazyload.windowLeft=a.scrollLeft(),lazyload.windowRight=lazyload.windowLeft+a.width(),lazyload.windowBottom=lazyload.windowTop+a.height(),lazyload.updateWindowPosition=!1,clearTimeout(lazyload.windowPositionDelayTimer),lazyload.windowPositionDelayTimer=setTimeout(function(){lazyload.updateWindowPosition=!0},lazyload.__defaults.scrollCheckDelay));else{if("undefined"!=typeof b.lazyload.watch){var c=a.parents(b.lazyload.watch);c.length>=1&&(a=c)}b.lazyload.positionTop=a.offset().top,b.lazyload.positionLeft=a.offset().left,b.lazyload.positionRight=b.lazyload.positionLeft+a.width(),b.lazyload.positionBottom=b.lazyload.positionTop+a.height()}}function f(a){function e(a,b){try{"undefined"!=typeof b&&b.length>=1?a.apply(null,b):a.call(null)}catch(d){}}if("string"==typeof a){var b=a.split(","),c=b.shift();c=g(c),e(c,b,a)}else if("object"==typeof a)for(var d=0;d<a.length;d++)!function(){var b=a[d].split(","),c=b.shift(),f=c;c=g(c),e(c,b,f)}()}function g(a){for(var b=window,c=a.split("."),d=c.pop(),e=!0,f=0;f<c.length;f++)"undefined"!=typeof b[c[f]]?b=b[c[f]]:e=!1;return e?b[d]:null}function h(a){var b=a[0].lazyload.src||a[0].lazyload.source,c=a[0].lazyload.callback,d=a[0].lazyload.callbackAfter;lazyload.items=lazyload.items.not(a),-1==lazyload.loadedSrc.indexOf(b)&&lazyload.loadedSrc.push(b);var e=new Image;e.onload=function(){function j(a){var b=document.createElement("canvas");b.width=a.width,b.height=a.height;var c=b.getContext("2d");c.drawImage(a,0,0);var d=b.toDataURL("image/png");return d.replace(/^data:image\/(png|jpg);base64,/,"")}if("undefined"!=typeof c&&(a.trigger("lazyloaded").addClass("lazyloaded"),f(c)),a.is("img"))a.css({opacity:0}).attr("src",b).delay(lazyload.__defaults.fadeInDelay).animate({opacity:1},lazyload.__defaults.fadeInSpeed,function(){"undefined"!=typeof d&&setTimeout(function(){a.trigger("lazyloadedafter"),f(d)},lazyload.__defaults.fadeInSpeed)});else{var g=200;try{var h="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",i=new Image;i.src=h,i.height=e.height,i.width=e.width;var k=j(i);a.css({"background-image":"url(data:image/gif;base64,"+k+")","-moz-transition":"all "+lazyload.__defaults.fadeInSpeed+"ms ease-in-out"})}catch(l){g=0}setTimeout(function(){a.css({"background-image":"url("+b+")","-webkit-transition":"background "+lazyload.__defaults.fadeInSpeed+"ms ease-in-out","-moz-transition":"all "+lazyload.__defaults.fadeInSpeed+"ms ease-in-out","-o-transition":"background "+lazyload.__defaults.fadeInSpeed+"ms ease-in-out",transition:"background "+lazyload.__defaults.fadeInSpeed+"ms ease-in-out"}),"undefined"!=typeof d&&setTimeout(function(){a.trigger("lazyloadafter"),f(d)},lazyload.__defaults.fadeInSpeed)},g)}},e.src=b}"undefined"==typeof lazyload&&(window.lazyload={version:"1.0.0",items:a(),__defaults:{updatePosition:!0,checkHorizontal:!1,scrollCheckDelay:300,loadBufferDistance:0,fadeInDelay:0,fadeInSpeed:500}},a(document).ready(function(){lazyload.updateWindowPosition=!0,lazyload.scrollCheck=!0,lazyload.loadedSrc=[],$foundItems=a("[data-lazy-load]"),$foundItems.length>=1&&(lazyload.scrollElements=a("div,ul"),lazyload.scrollElements.each(function(){var b=a(this),c=b.css("overflow"),d=b.css("overflow-x"),e=b.css("overflow-y"),f=["hidden","scroll","auto"];0==b.find("[data-lazy-load]").length&&-1==f.indexOf(c)&&-1==f.indexOf(e)&&-1==f.indexOf(d)&&(lazyload.scrollElements=lazyload.scrollElements.not(b))}),lazyload.scrollElements=lazyload.scrollElements.add(window),lazyload.scrollElements.bind("scroll.lazyload",function(){lazyload.scrollCheck&&(c(),lazyload.scrollCheck=!1,clearTimeout(lazyload.scrollCheckDelayTimer),lazyload.scrollCheckDelayTimer=setTimeout(function(){lazyload.scrollCheck=!0},lazyload.__defaults.scrollCheckDelay))}),$foundItems.each(function(){b(a(this))}),c())}),lazyload.check=function(){c()},lazyload.add=function(c,d){b(a(c),d)},lazyload.load=function(){h(a($item))})}(jQuery);

          $(document).ready(function(){
            // fix centering elements
            window.triggerResize = function(){
              setTimeout(function(){
                $(window).trigger('resize');
              },50);
            }
            setTimeout(function(){
              triggerResize();
            },200);

            // Wire up tooltips
            $(document).sfTipper({ wireup: true });
          });

          $('.jump-arrow-icon, .jump-arrow-btn').click(function(){
            $('html, body').animate({
              scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
          });

          // Track all the icodes (tcodes handled by gtm.js)
          window._trfq = window._trfq || [];
          $('[data-icode]').each(function(index, element) {
            window._trfq.push(['cmdLogImpression', $(element).attr('data-icode'), null, element]);
          });
        }

    //- TODO: UPDATE PATH
    //- TODO: remove uxcore/uxcontrols from this block once PC head control renders the right stuff
    block pageStyles
      style.
        .svgfallback{display:none}
        .svgfallback:not(old){display:block}

    //- TODO: get this content from PC's head-ie-rsiv item
    <!--[if lt IE 9]>
    link(href="/respond.proxy.gif" id="respond-redirect" rel="respond-redirect")
    link(href!="[@T[link:<javascriptroot />]@T]/fos/respond/respond-proxy.min.html" id="respond-proxy" rel="respond-proxy")
    script(src!="[@T[link:<javascriptroot />]@T]/fos/respond/respond-proxy-combo.min.js")
    <![endif]-->

    //- if an inherited page does not want any of these JS files delay loaded, 
    //- the delayed load can be overridden by appending the JS file to the headScripts block
    script(type='text/javascript').
      delayLoader.addScript('[@T[link:<javascriptroot />]@T]fastball/js_lib/FastballLibrary0006.min.js?version=2')
      //- delayLoader.addScript('[@T[link:<javascriptroot />]@T]/fastball/js_lib/Fastball.ChannelIntegration-2.0.6.min.js')

    //- TODO: does PC load this?
    // Google Tag Manager
    //-
      noscript
        iframe(src="//www.googletagmanager.com/ns.html?id=GTM-SXRF" height="0" width="0" style="display:none;visibility:hidden")
      script(type="text/javascript").
        var _gaDataLayer = _gaDataLayer || [];
        _gaDataLayer.push({ 'shopperId': '#{requestContext.shopperId}' });
        _gaDataLayer.push({ 'privateLabelId': '#{requestContext.plId}' });
        _gaDataLayer.push({ 'isc': '#{page.isc}' });
        _gaDataLayer.push({ 'segmentId': '#{requestContext.segmentId}' });
        _gaDataLayer.push({ 'status': '200' });
        _gaDataLayer.push({ 'tcc.status': 'on' });
        var _gaq = _gaq || [];
        _gaq.push(['_setDomainName', '#{requestContext.domainName}']);

        (function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; delayLoader.addElement(j); })(window, document, 'script', '_gaDataLayer', 'GTM-SXRF');
      
      if requestContext.splitTestTrackingData
        script(type="text/javascript").
          _gaDataLayer.push({ 'splits': '#{requestContext.splitTestTrackingData}' });
    // End Google Tag Manager

    //- TODO: do we need this script section?
    script(type="text/javascript").
      var utag_data = { source_code:"gtnila43",pl_id:"1",app_name:"desktop.sales",authenticated:"false",page_type:"home_page" };
      (function (a, b, c, d) {
      a = '//tags.tiqcdn.com/utag/godaddy/godaddy/prod/utag.js';
      b = document; c = 'script'; d = b.createElement(c); d.src = a; d.type = 'text/java' + c; d.async = true;
      delayLoader.addElement(d);
      //$ a = b.getElementsByTagName(c)[0]; a.parentNode.insertBefore(d, a);
      })();

    //- TODO: where to load bigtext?
    //-script(type="text/javascript", src="https://img1.wsimg.com/fos/hp/rebrand/js/bigtext.min.js")

    //- inherited pages should attempt to use the correct head block for adding head content
    //- however, if the content doesn't fit logically into those, the "head" block can be used
    //- keep in mind this is loaded last and (intentionally or unintentionally) overrides above JS/CSS/meta stuff
    block head

  body
    block bodyEntry

    //- TODO: review this with Todd Buiten - is it necessary? if so, how to adapt it for CDS?
    //-
      if page.isc != ""
        .site-banners
          script(src!="[@T[link:<javascriptroot />]@T]/fastball/js_lib/Fastball.ChannelIntegration-2.0.6.min.js" type="text/javascript")
          - var languagePrefix = (requestContext.language != 'en' ? requestContext.language + '_' : '')
          #IscBanner_fastballOfferElementDiv(fastball="banner" placement!="#{languagePrefix}iscBannerTop1000" appid="2" plid="1" isc!="#{page.isc}" shopperid="0" container!="#{languagePrefix}iscBannerTop1000" template="banner")
          script(type="text/javascript").
            $(document).ready(function() { Fastball.Common.initialize('#{requestContext.domainName}'); });

    // HEADERBEGIN
    | 
    | [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Header"><Parameters><Parameter key="manifest" value="salesheader" /><Parameter key="split" value="brand2.0" /></Parameters></Data>]@P]
    // HEADEREND

    block content

    // FOOTERBEGIN
    | 
    | [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Footer"><Parameters><Parameter key="manifest" value="salesheader" /><Parameter key="split" value="brand2.0" /></Parameters></Data>]@P]
    // FOOTEREND

    | 
    | [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Bottom"><Parameters><Parameter key="manifest" value="salesheader" /><Parameter key="split" value="brand2.0" /></Parameters></Data>]@P]

    <!-- liveperson includes -->
    #lpButtonDiv
    <!-- End Main Content -->

    script(type="text/javascript").
      endOfPageScripts();

    block endOfPageScripts
