include ./helper-mixin.jade

block vars
  - page = page || {};

  - page.meta = page.meta || {};
  - page.meta.title = page.meta.title || "[@L[cds.sales/page:page-meta-title]@L]";
  - page.meta.description = page.meta.description || "[@L[cds.sales/page:page-meta-description]@L]";
  - page.meta.keywords = page.meta.keywords || "[@L[cds.sales/page:page-meta-keywords]@L]";
  
  - page.openGraph = page.openGraph || {};
  - page.openGraph.title = page.openGraph.title || "[@L[cds.sales/page:page-openGraph-title]@L]";
  - page.openGraph.description = page.openGraph.description || "[@L[cds.sales/page:page-openGraph-description]@L]";
  - page.openGraph.type = page.openGraph.type || "website";
  - page.openGraph.image = page.openGraph.image || "[@T[link:<imageroot />]@T]fos/hp/rebrand/img/gd_rebrand_og.png";
  - page.openGraph.siteName = page.openGraph.siteName || "[@T[link:<relative parammode='explicit' />]@T]";
  
  - page.links = page.links || {};
  - page.links.canonical = page.links.canonical || "[@T[link:<relative parammode='explicit' />]@T]";
  - page.links.favicon = page.links.favicon || "[@T[link:<imageroot />]@T]assets/godaddy.ico";

  - page.config = page.config || {};
  - page.config.version = page.config.version || "0.7.0";
  - page.config.uxcoreVersion = page.config.uxcoreVersion || "dev";
  - page.config.env = "dev";
  - page.config.uxcore = page.config.uxcore || true;
  - page.config.delayLoadControls = page.config.delayLoadControls || true;

doctype html
html(lang!="[@T[localization:<language full='true' />]@T]")
  head
    meta(http-equiv="content-type" content="text/html; charset=utf-8")
    meta(http-equiv="content-language" content!="[@T[localization:<language full='true' />]@T]")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(http-equiv="x-ua-compatible" content="IE=edge")

    title #{page.meta.title}
    meta(name="description" content!="#{page.meta.description}")
    meta(name="keywords" content!="#{page.meta.keywords}")
    meta(name="format-detection" content="telephone=no")
    meta(property="og:title" content!="#{page.openGraph.title}")
    meta(property="og:description" content!="#{page.openGraph.description}")
    meta(property="og:type" content!="#{page.openGraph.type}")
    meta(property="og:url" content!="[@T[link:<relative parammode='explicit' />]@T]")
    meta(property="og:image" content!="#{page.openGraph.image}")
    meta(property="og:site_name" content!="#{page.openGraph.siteName}")
    meta(property="fb:app_id" content="115696031791232")
    meta(property="fb:admins" content="633356800")
    link(rel="canonical" href!="#{page.links.canonical}")
    link(rel="shortcut icon" href!="#{page.links.favicon}")
    block extraMeta

    //- Fonts
    link(rel="stylesheet" type="text/css" href="//cloud.typography.com/7914312/697366/css/fonts.css")

    | 
    | [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.HeadTags"><Parameters><Parameter key="manifest" value="salesheader" /></Parameters></Data>]@P]

    //- TODO: UPDATE PATH
    if page.config.uxcore
      link(href!="[@T[link:<cssroot />]@T]/fos/mike/#{page.config.version}/css/sahara.css" rel="stylesheet")
      script(src!="[@T[link:<javascriptroot />]@T]/ux/dev-brand/js/uxcore.en.min.js")
      link(href!="[@T[link:<cssroot />]@T]/ux/dev-brand/css/uxcore.css" rel="stylesheet")
      link(href!="[@T[link:<cssroot />]@T]/ux/dev-brand/css/uxcontrols.css" rel="stylesheet")
      script(src!="[@T[link:<javascriptroot />]@T]/ux/dev-brand/js/uxcontrols.js")
    else
      link(href!="[@T[link:<cssroot />]@T]/fos/201401/global/css/3.4.1/combined-3.4.1.min.css" rel="stylesheet" type="text/css")

    block pageStyles

    script(type="text/javascript").
      window.config = window.config || {};
      window.config.uxcore = #{page.config.uxcore};
      window.config.gdCdnHostUrl = '[@T[link:<cssroot />]@T]';
      window.config.env = '#{page.config.env}';

    <!--[if lt IE 9]>
    link(href="/respond.proxy.gif" id="respond-redirect" rel="respond-redirect")
    link(href!="[@T[link:<javascriptroot />]@T]/fos/respond/respond-proxy.min.html" id="respond-proxy" rel="respond-proxy")
    script(src!="[@T[link:<javascriptroot />]@T]/fos/respond/respond-proxy-combo.min.js")
    <![endif]-->

    <!-- liveperson includes -->
    link(href!="[@T[link:<cssroot />]@T]/fos/liveperson/css/chat-window_20140205.css" rel="stylesheet" type="text/css")

    block head
    //- For the moment, hard code the url for prod
    script(src!='[@T[link:<javascriptroot />]@T]/fos/mike/#{page.config.version}/js/sahara.min.js')
    //- Preload uxcontrols.js if the home page so other pages load faster
    if (page.config.delayLoadControls)
      script(type='text/javascript').
        //- delayLoader.addScript('[@T[link:<javascriptroot />]@T]/ux/dev/js/uxcontrols.min.js')
        //- For the moment, hard code the url for prod
        delayLoader.addScript('[@T[link:<javascriptroot />]@T]/ux/#{page.config.uxcoreVersion}/js/uxcontrols.min.js')
    else
      //- script(src='[@T[link:<javascriptroot />]@T]/ux/dev/js/uxcontrols.min.js')
      //- For the moment, hard code the url for prod
      script(src!='[@T[link:<javascriptroot />]@T]/ux/#{page.config.uxcoreVersion}/js/uxcontrols.min.js')
    
    // Google Tag Manager
    //-
      noscript
        iframe(src="//www.googletagmanager.com/ns.html?id=GTM-SXRF" height="0" width="0" style="display:none;visibility:hidden")
      script(type="text/javascript").
        var _gaDataLayer = _gaDataLayer || [];
        _gaDataLayer.push({ 'shopperId': '#{requestContext.shopperId}' });
        _gaDataLayer.push({ 'privateLabelId': '#{requestContext.plId}' });
        _gaDataLayer.push({ 'isc': '#{page.isc}' });
        _gaDataLayer.push({ 'segmentId': '#{requestContext.segmentId}' });
        _gaDataLayer.push({ 'status': '200' });
        _gaDataLayer.push({ 'tcc.status': 'on' });
        var _gaq = _gaq || [];
        _gaq.push(['_setDomainName', '#{requestContext.domainName}']);

        (function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; delayLoader.addElement(j); })(window, document, 'script', '_gaDataLayer', 'GTM-SXRF');
      
      if requestContext.splitTestTrackingData
        script(type="text/javascript").
          _gaDataLayer.push({ 'splits': '#{requestContext.splitTestTrackingData}' });
    // End Google Tag Manager

    script(type="text/javascript").
      var utag_data = { source_code:"gtnila43",pl_id:"1",app_name:"desktop.sales",authenticated:"false",page_type:"home_page" };
      (function (a, b, c, d) {
      a = '//tags.tiqcdn.com/utag/godaddy/godaddy/prod/utag.js';
      b = document; c = 'script'; d = b.createElement(c); d.src = a; d.type = 'text/java' + c; d.async = true;
      delayLoader.addElement(d);
      //$ a = b.getElementsByTagName(c)[0]; a.parentNode.insertBefore(d, a);
      })();

    //-script(type="text/javascript", src="https://img1.wsimg.com/fos/hp/rebrand/js/bigtext.min.js")

  body
    block bodyEntry

    //-
      if page.isc != ""
        .site-banners
          script(src!="[@T[link:<javascriptroot />]@T]/fastball/js_lib/Fastball.ChannelIntegration-2.0.6.min.js" type="text/javascript")
          - var languagePrefix = (requestContext.language != 'en' ? requestContext.language + '_' : '')
          #IscBanner_fastballOfferElementDiv(fastball="banner" placement!="#{languagePrefix}iscBannerTop1000" appid="2" plid="1" isc!="#{page.isc}" shopperid="0" container!="#{languagePrefix}iscBannerTop1000" template="banner")
          script(type="text/javascript").
            $(document).ready(function() { Fastball.Common.initialize('#{requestContext.domainName}'); });

    //- googleoff: index
    // HEADERBEGIN
    | 
    | [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Header"><Parameters><Parameter key="manifest" value="salesheader" /></Parameters></Data>]@P]
    // HEADEREND
    //- googleon: index

    block content

    //- googleoff: index
    // FOOTERBEGIN
    | 
    | [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Footer"><Parameters><Parameter key="manifest" value="salesheader" /></Parameters></Data>]@P]
    // FOOTEREND
    //- googleon: index

    | 
    | [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Script"><Parameters><Parameter key="manifest" value="salesheader" /></Parameters></Data>]@P]
    | [@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Bottom"><Parameters><Parameter key="requestedManifest" value="salesheader" /></Parameters></Data>]@P]

    <!-- liveperson includes -->
    #lpButtonDiv
    <!-- End Main Content -->

    script(type="text/javascript").
      endOfPageScripts();

    block endOfPageScripts
