block panelVars
  - panelImage = "";
  - panelTitle = "";
  - panelText = "";
  - panelButtonColor = "";
  - panelButtonText = "";
  - panelTcode = "";
  - lazyLoad = false;
  - customText = "";

.carousel-panel.container(data-icode="#{icode ? icode : ''}")
  if (panelImage && (panelImagePosition === 'top' || panelImagePosition === undefined))
    img.img-responsive.img-center(src!="#{panelImage}" alt="#{panelImageAlternateText}")

  if (headline)
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h6.text-gray.condensed !{headline}

  if (panelTitle)
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h2 !{panelTitle}

  if (panelImage && panelImagePosition === 'middle')
    if (dateHeader)
      .date-header !{dateHeader}
    img.img-responsive.img-center(src="#{panelImage}" alt="#{panelImageAlternateText}")

  if (panelSubtitle)
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        h3 !{subpanelTitle}

  if (panelTextImage && panelText)
    .row
      .col-sm-2.col-sm-offset-3
        img(src="#{panelTextImage}", alt="#{panelAltText}")
      .col-sm-7
          if (panelButtonColor && panelButtonText)
            .carousel-panel-text !{panelText}
          else
            div !{panelText}
  else
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        if (panelButtonColor && panelButtonText)
          .carousel-panel-text !{panelText}
        else
          div !{panelText}


  if (panelButtonColor && panelButtonText && paneButtonUrl)
    .row
      - var centeredBtn
      if (panelTextImage && panelText)
        div(class="#{centeredBtn ? centeredBtn : ''} col-sm-7 col-sm-offset-5 col-xs-12")
          a(class="btn #{panelButtonColor}", href="#{paneButtonUrl}", data-tcode="#{tcode ? tcode : ''}") !{panelButtonText}
      else
        div(class="#{centeredBtn ? centeredBtn : ''} col-sm-10 col-sm-offset-1 col-xs-12")
          a(class="btn #{panelButtonColor}", href="#{paneButtonUrl}", data-tcode="#{tcode ? tcode : ''}") !{panelButtonText}

  else if (panelButtonColor && panelButtonText)
    .row
      .col-sm-10.col-sm-offset-1.col-xs-12
        a(class="btn #{panelButtonColor}", href="javascript:void(0);", data-tcode="#{tcode ? tcode : ''}") !{panelButtonText}

