mixin planSelectList(listID)
  - optionCount = 0
  ul(id=listID)
    block
  atlantis:webstash(type="js")
    script(type="text/javascript").
      $("#!{listID}").sfDropList({
        width:320
      });

mixin addPlanOption(duration, pfid, plan)
  - optionCount++
  li(data-value=optionCount,data-plan=plan)
    .sf-droplist-row(data-main='true')
      span.sf-droplist-term !{duration} mo
      span.sf-droplist-cost.sf-droplist-sale [@T[productprice:<current productid="!{pfid}" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/mo
      | 
      |##if(productHasSavingsMoreThan(!{pfid}, !{pfid}, 0))
      | 
      span.sf-droplist-msg.sf-droplist-sale ON SALE
    .sf-droplist-row
      span.sf-droplist-term  
      span.sf-droplist-cost
        strike [@T[productprice:<list productid="!{pfid}" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]/mo
      span.sf-droplist-msg.sf-droplist-sale Save [@T[productcompare:<percent primaryproductid="!{pfid}" secondaryproductid="!{pfid}" showsymbol="true" hidebelow="5"><html><![CDATA[{0}]]></html></percent>]@T]
      | 
      |##endif
      | 

//- here are the fields that can be set on inheriting classes
block vars
  - title = "";
  - subTitle = "";
  - description = "";
  - features = "";
  - pfid = "";
  - defaultPlan = "";
  - flagText = "";
  - tcode = "";
  - listID = "";
  - buttonText = "Add to Cart";
  - showDropDownList = false;
  - buttonUrl = "";

atlantis:webstash(type="css")
  block styles
    style.
      .pro-plans { margin-top: 0; }
      .form-control { margin-bottom: 10px; }

.pro-plan-wrap
  block flag
    if (flagText)
      div.plan-flag !{flagText}

  block title
    if (title)
      h2.plan-title !{title}

  block subTitle
    if (subTitle)
      h5.plan-subtitle !{subTitle}

  block description
    if (description)
      p.plan-text !{description}

  block price
    if (pfid)
      .plan-price-wrap 
        strong Starting at
          br
          span.plan-price.text-warning [@T[productprice:<current productid="!{pfid}" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]
          span.plan-duration.text-warning /mo
          | 
          |##if(productHasSavingsMoreThan(!{pfid}, !{pfid}, 0))
          | 
          br
          strong
            | was 
            strike [@T[productprice:<list productid="!{pfid}" dropdecimal="false" period="monthly" htmlsymbol="false" negative="parentheses" />]@T]
            |  
            span.text-primary Save [@T[productcompare:<percent primaryproductid="!{pfid}" secondaryproductid="!{pfid}" showsymbol="true" hidebelow="5"><html><![CDATA[{0}]]></html></percent>]@T]
          | 
          |##endif
          | 
  if(showDropDownList)
    +planSelectList(listID)
      block planOptions

  block button
    if (buttonText && buttonUrl)
      a.btn.btn-primary.btn-plan.btn-lg.btn-block(href!=buttonUrl data-tcode!=tcode data-index="1") !{buttonText}
    else if(buttonText && showDropDownList )
      button.btn.btn-purchase.btn-plan.btn-lg.btn-block(data-tcode="#{tcode}",data-ul="#{listID}") !{buttonText}
    else if (buttonText && !showDropDownList && defaultPlan)
      button.btn.btn-purchase.btn-plan.btn-lg.btn-block(data-tcode="#{tcode}",data-plan="#{defaultPlan}") !{buttonText}
    else
      button.btn.btn-purchase.btn-plan.btn-lg.btn-block(data-tcode="#{tcode}") No Action



  block features
    //- Feature list
    if(features)
      each feature, index in features
        //- Text at the bottom that can have multiple "rows"
        .plan-item !{feature}
