//- here are the fields that can be set on inheriting classes
- title = title || "";
- subTitle = subTitle || "";
- description = description || "";
- features = features || [];
- price = price || "";
- flagText = flagText || "";
- tcode = tcode || "";
- buttonText = buttonText || "Add to Cart";
- buttonUrl = buttonUrl || "";

block vars

atlantis:webstash(type="css")
  block styles
    style.
      .pro-plans { margin-top: 0; }

.pro-plan-wrap
  block flag
    if (flagText)
      div.plan-flag !{flagText}

  block title
    if (title)
      h2.plan-title !{title}

  block subTitle
    if (subTitle)
      h5.plan-subtitle !{subTitle}

  block description
    if (description)
      p.plan-text !{description}

  block price
    if (price)
      .plan-price-wrap <strong>Starting at</strong><br><span class="plan-price text-warning">!{price}</span><span class="plan-duration text-warning">/mo</span>

  //- block disclaimers
  //-   if (plan.planDisclaimers)
  //-    .plan-disclaimers !{plan.planDisclaimers}

  block selectList

  block button
    if (buttonText)
      a.btn.btn-primary.btn-plan.btn-lg.btn-block(href!=buttonUrl data-tcode!=tcode data-index="1") !{buttonText}

  block features
    //- Feature list
    each feature, index in features
      //- Text at the bottom that can have multiple "rows"
      if (index < 3)
        .plan-item 
          strong !{feature}
      else
        .plan-item !{feature}
