mixin svgFallback(svgFallbackParams)
  - svgFallbackParams                     = svgFallbackParams || {};
  - svgFallbackParams.elementType         = svgFallbackParams.elementType || "";
  - svgFallbackParams.elementId           = svgFallbackParams.elementId || "";
  - svgFallbackParams.elementClass        = svgFallbackParams.elementClass || "";
  - svgFallbackParams.lazyLoad            = svgFallbackParams.lazyLoad || false;
  - svgFallbackParams.backgroundImage     = svgFallbackParams.backgroundImage || "";
  - svgFallbackParams.fallbackImage       = svgFallbackParams.fallbackImage || "";
  if(svgFallbackParams.lazyLoad != false)
    if(svgFallbackParams.elementType == "")
      img(id=svgFallbackParams.elementId,class=svgFallbackParams.elementClass,src!="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",data-lazy-load!="{'src':'" + svgFallbackParams.backgroundImage + "'}",onerror!="this.src='" + svgFallbackParams.fallbackImage + "'")
    else if(svgFallbackParams.elementType == "div")
      div(id=svgFallbackParams.elementId,class=svgFallbackParams.elementClass,src!="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",data-lazy-load!="{'src':'" + svgFallbackParams.backgroundImage + "'}",onerror!="this.src='" + svgFallbackParams.fallbackImage + "'")
    else
      span(id=svgFallbackParams.elementId,class=svgFallbackParams.elementClass,src!="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==",data-lazy-load!="{'src':'" + svgFallbackParams.backgroundImage + "'}",onerror!="this.src='" + svgFallbackParams.fallbackImage + "'")
  else
    if(svgFallbackParams.elementType == "")
      img(id=svgFallbackParams.elementId,class=svgFallbackParams.elementClass,src!=svgFallbackParams.backgroundImage,onerror!="this.src='" + svgFallbackParams.fallbackImage + "'")
    else if(svgFallbackParams.elementType == "div")
      div(id=svgFallbackParams.elementId,class=svgFallbackParams.elementClass,src!=svgFallbackParams.backgroundImage,onerror!="this.src='" + svgFallbackParams.fallbackImage + "'")
    else
      span(id=svgFallbackParams.elementId,class=svgFallbackParams.elementClass,src!=svgFallbackParams.backgroundImage,onerror!="this.src='" + svgFallbackParams.fallbackImage + "'")      