//- fails if upCompares ever need to be nested
- var upCompareTotalColumns
- var upCompareColumnsPopulated

mixin upCompareColumn
  case upCompareTotalColumns
    when 1
      div.col-sm-offset-4.col-sm-4
        block
    when 2
      if (upCompareColumnsPopulated === 0)
        - upCompareColumnsPopulated++
        div.col-md-5.left-side
          block
      else
        div.col-md-5.col-md-offset-2.right-side
          block
    when 3
        div.col-sm-4
          block
    when 4
        div.col-md-3.col-sm-6
          block

mixin renderUpCompare(columns, options)
  - upCompareTotalColumns = columns
  - upCompareColumnsPopulated = 0
  - options = options || {};
  - options.backgroundColor = options.backgroundColor || "bg-gray-light";
  - options.backgroundImage = options.backgroundImage || "";
  - options.id = options.id || "";

  if (columns > 4)
    - containerClass = "plan-container"
  else
    - containerClass = "container"

  if (options.id)
    div(id = options.id class="pro two-up-wrap tile-section" style!="background-image: url(#{options.backgroundImage}); background-color: #{options.backgroundColor};")
      div(class="#{containerClass}")
        block
  else
    div(class="pro two-up-wrap #{options.backgroundColor}" style!="background-image: url(#{options.backgroundImage});")
      div(class="#{containerClass}")
        block