block vars
  - dataCi              = "";
  - containerClass      = "";
  - logoImage           = "";
  - logoImageFallback   = "";
  - titleText           = "";
  - bodyText            = "";
  - ctaText             = "";
  - ctaLink             = "";

block bannerSmallStyles
  style
    :less
      .banner-small{
        width:100%;
        height:100%;
        background-color: #fff;
        padding:5px;
        text-transform:uppercase;
        img {
          float: left;
          height: 2em;
          max-width:100%;
          padding-right:10px;
        }
        .title {
          height: 2em;
          font-size:24px;
          letter-spacing:-1px;
          font-family:'Walsheim-Black', 'Arial Black', sans-serif;
          line-height:.9;
          span {
            display:table;
            height:100%;
            span {
              display:table-cell;
              vertical-align:middle;
            }
          }
        }
        .body {
          font-family:'Walsheim-Bold', 'Arial Black', sans-serif;
          margin:.75em 0;
        }
        a {
          color: #ef6c0f;
          font-family:'Walsheim-Bold', 'Arial Black', sans-serif;
        }
      }

.banner-small(data-url!=ctaLink data-ci=dataCi class=containerClass)
  block logo
    .title.text-primary-o
      if (logoImageFallback)
        <!--[if lt IE 9]>
        img(src!=logoImageFallback)
        <![endif]-->
        img.svgfallback(src!=logoImage)
      else
        img(src!=logoImage)
      if (titleText)
        span
          span !{titleText}
  block body
    .body !{bodyText}
  block cta
    a(href!=ctaLink) !{ctaText} 
  block scripts