block vars
  - merchTileVars          = {};
  - logoImage              = logoImage || "";
  - logoImageFallback      = logoImageFallback || "";
  - titleText              = "";
  - ctaLink                = ctaLink || "";
  - ctaText                = ctaText || "";
  - dataCi                 = dataCi || "";
  - containerClass         = containerClass || "";
  - bodyText               = bodyText || "";

block heroSmallStyles
  style
    :less
      .hero-small{
        width:100%;
        height:100%;
        background-color: #fff;
        padding:5px;
        text-transform:uppercase;
        img {
          float: left;
          height: 2em;
          max-width:100%;
          padding-right:10px;
        }
        .title {
          height: 2em;
          font-size:24px;
          letter-spacing:-1px;
          font-family:'Walsheim-Black', 'Arial Black', sans-serif;
          line-height:.9;
          span {
            display:table;
            height:100%;
            span {
              display:table-cell;
              vertical-align:middle;
            }
          }
        }
        .body {
          font-family:'Walsheim-Bold', 'Arial Black', sans-serif;
          margin:.75em 0;
        }
        a {
          color: #ef6c0f;
          font-family:'Walsheim-Bold', 'Arial Black', sans-serif;
        }
      }

.hero-small(data-url!=ctaLink data-ci=dataCi class=containerClass)
  block logo
    .title.text-primary-o
      img(src!=logoImage)
      if (titleText)
        span
          span !{titleText}
  block body
    .body !{bodyText}
  block cta
    a(href!=ctaLink) !{ctaText} 
  block scripts