block vars
  - ciCode = ""
  - headelineText = ""
  - subHeadlineText = ""
  - ctaText = ""
  - ctaLink = ""
  - disclaimerText = ""
  - classes = ""
  - flagText = ""
block styles
  style
    :less
      /* template layout styling */
      .hero-simple { min-height: inherit; max-height: inherit; height: 100%; width: 100%; min-width: inherit; max-width: inherit; color: #333; 
        .content-container { min-height: inherit; max-height: inherit; height: 100%; width: 100%; min-width: inherit; max-width: inherit; position: relative; }
        .content { position: absolute;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
        .content { padding-right:15%}
        .content > * { margin-top: .25em; margin-bottom: .25em; line-height: 1;}
        .content > *:first-child { margin-top: 0;}
        .content > *:last-child { margin-bottom: 0;}

        /* content styling */

        /* APPROACH #1 */
        /* apply classes to specify the font family/size/color */
        /* allows for atomically creating a look/feel for each hero item */
        /* color is covered by UXCore classes so we just need family/size classes here */

        .font-lg { font-size: 2.25em; }
        .font-md { font-size: 1.5em; } 
        .font-sm { font-size: 1.25em; }

        .black { font-family: 'Walsheim-Black', 'Arial Black', sans-serif; text-transform: uppercase; }
        .bold { font-family: 'Walsheim-Bold', 'Arial Black', sans-serif; text-transform: uppercase; }

        /* APPROACH #2 */
        /* apply classes the group the whole 'look and feel' */
        /* provides for easily making things consistent - there are only a few styles in the hero */
        .product { font-size: 2em; color: #77c043; text-transform: uppercase; font-family: 'Walsheim-Black', 'Arial Black', sans-serif; }
        .big-green { font-size: 2em; color: #77c043; text-transform: uppercase; font-family: 'Walsheim-Black', 'Arial Black', sans-serif; }
        .sub-title { font-size: 1.5em; color: #333; font-family: 'Walsheim-Bold', 'Arial Black', sans-serif; text-transform: uppercase;  }

        .price { text-transform: uppercase; font-size: 1em; font-family: 'Walsheim-Bold', 'Arial Black', sans-serif;  }
        .price .text-purchase { font-size: 1.25em; }
        .disclaimer { color: #333; font-size: 10px; margin-top:2em}

        .flag {position:absolute; top:0; left:-4%;font-size:1.25em;padding: 6px 40px 10px 40px;background:no-repeat url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEiIHdpZHRoPSIzOTAiIGhlaWdodD0iNTAiIHZpZXdCb3g9IjAgMCAzOTAgNTAiPjxwYXRoIGQ9Ik0zOTAgMEwzNjAgNDUgMTUgNTAgMCAwIDM5MCAweiIgZmlsbD0iI0ZFREM0NSIvPjwvc3ZnPg==)}
      }
      .Explorer8 .hero-simple .flag{background-image: url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/yellow-flag.png);}

.hero.hero-simple(data-url!=ctaLink, data-ci=ciCode, class = classes)
  block flag
    .flag.hidden-xs
      .flag-content.bold !{flagText}
  .content-container
    .content
      block content
        .font-lg.text-primary-o.black !{headlineText}
        .font-md.black !{subHeadlineText}
        a.btn.btn-md.btn-purchase(href!=ctaLink) !{ctaText}
        .disclaimer !{disclaimerText}

block script