extends ../shared/_landing-page

//- mixin wordPressAdCredits(options)
//-   - var aTag = '<a id="' + options.linkId + '" data-ci="' + options.detailsCi + '">' + options.detailsLinkText + '</a>';
//-   - var dataContent = options.toolTipContent + " " + aTag;
//-   p 
//-     | !{options.adCreditText}&nbsp;
//-     a.ad-credits-tip.sf-tip(href="#" data-style="qt" data-content="#{dataContent}") #{options.toolTipText}
//-   atlantis:webstash(type="js")
//-     script.
//-       $(document).ready(function(){
//-         $("##{options.linkId}").click(function(e){
//-           e.preventDefault();
//-           window.open('#{options.detailsUrl}','_more','left=20,top=20,scrollbars=yes,resizable=yes,width=550,height=675');
//-           return false;
//-         });
//-       });
mixin toolTip(tipText, width)
  span &nbsp;
  span.tool-tip-black.sf-tip.sf-tipper-target(data-content!="#{tipText}" data-style="qt" data-width="#{width ? width : '400'}" )

append vars 
  - page.title = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-page-title]@L]";
  - page.description = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-page-desc]@L]";
  - page.keywords = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-meta-Keywords]@L]"; 
  - page.canonical = "[@T[link:<relative parammode='explicit' path='~/hosting/wordpress-hosting.aspx' />]@T]";
  - page.openGraph = page.openGraph || {};
  - page.openGraph.title = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-og-title]@L]";
  - page.openGraph.description = "[@L[cds.sales/gd/hosting/wordpress-hosting:35561-og-description]@L]";
  - page.openGraph.image = "[@T[link:<imageroot />]@T]fos/icn/88489_Facebook_image.jpg";
  - page.pfids = {};
  - page.pfids.current = {};
  - page.pfids.current.A = "580970";
  - page.pfids.current.B = "580978";
  - page.pfids.current.C = "581001";
  - page.pfids.current.D = "581019";
  - page.pfids.list = {};
  - page.pfids.list.A =  "580971";
  - page.pfids.list.B =  "580996";
  - page.pfids.list.C =  "581014";
  - page.pfids.list.D =  "581031";
  - page.pricing = {};
  - page.pricing.fifty = '[@T[currencyprice:<price usdamount="5000" dropdecimal="true" />]@T]';
  - page.pricing.hundred = '[@T[currencyprice:<price usdamount="10000" dropdecimal="true" />]@T]';

  - page.pricing.current = {};
  - page.pricing.current.A = "[@T[productprice:<current productid='" + page.pfids.current.A + "' dropdecimal='false' period='monthly' htmlsymbol='false' negative='parentheses' />]@T]";
  - page.pricing.current.B = "[@T[productprice:<current productid='" + page.pfids.current.B + "' dropdecimal='false' period='monthly' htmlsymbol='false' negative='parentheses' />]@T]";
  - page.pricing.current.C = "[@T[productprice:<current productid='" + page.pfids.current.C + "' dropdecimal='false' period='monthly' htmlsymbol='false' negative='parentheses' />]@T]";
  - page.pricing.current.D = "[@T[productprice:<current productid='" + page.pfids.current.D + "' dropdecimal='false' period='monthly' htmlsymbol='false' negative='parentheses' />]@T]";
  - page.pricing.list = {};
  - page.pricing.list.A =    "[@T[productprice:<list productid='"    + page.pfids.list.A +    "' dropdecimal='false' period='monthly' htmlsymbol='false' negative='parentheses' />]@T]";
  - page.pricing.list.B =    "[@T[productprice:<list productid='"    + page.pfids.list.B +    "' dropdecimal='false' period='monthly' htmlsymbol='false' negative='parentheses' />]@T]";
  - page.pricing.list.C =    "[@T[productprice:<list productid='"    + page.pfids.list.C +    "' dropdecimal='false' period='monthly' htmlsymbol='false' negative='parentheses' />]@T]";
  - page.pricing.list.D =    "[@T[productprice:<list productid='"    + page.pfids.list.D +    "' dropdecimal='false' period='monthly' htmlsymbol='false' negative='parentheses' />]@T]";
  - page.pricing.ssl = "[@T[productprice:<list productid='3606' dropdecimal='false' period='yearly' htmlsymbol='false' negative='parentheses' />]@T]";
  - page.ci = {};
  - page.ci.marqueeGetStarted = '96210';
  - page.ci.marqueeDisclaimer = '96209';
  - page.ci.plansAddToCartA = '96216';
  - page.ci.plansAddToCartB = '96217';
  - page.ci.plansAddToCartC = '96218';
  - page.ci.plansAddToCartD = '96219';
  - page.ci.plansLearnMore = '96220';
  - page.ci.midPageNavFeature = '96211';
  - page.ci.midPageNavPerformance = '96212';
  - page.ci.midPageNavSecuriy = '96213';
  - page.ci.midPageNavTraining = '96215';
  - page.ci.midPageNavSeeThePlans = '96214';
  - page.ci.advancedFeatureDetails = '96203';
  - page.ci.cloudSpeculator = '96207';
  - page.ci.seeUpToDateResults = '96221';
  - page.ci.poweredBySidekick = '96225';
  - page.ci.visitorOverprotection = '97105';
  - page.ci.wordpressPlugins = '97106';
  - page.ci.securityCarouselSlideLeft ='96204';
  - page.ci.securityCarouselSlideRight = '96205';
  - page.ci.securityCarouselSlideSel = '96206';
  - page.ci.securityCarouselSlideTab1 = '97100';
  - page.ci.securityCarouselSlideTab2 = '97101';
  - page.ci.securityCarouselSlideTab3 = '97102';
  - page.ci.securityCarouselSlideTab4 = '97103';
  - page.ci.securityCarouselSlideTab5 = '97104';
  - page.ci.reviewsCarouselSlideLeft ='97097';
  - page.ci.reviewsCarouselSlideRight = '97098';
  - page.ci.reviewsCarouselSlideSel = '97099';
  - page.ci.trainingGetStartedNow = '96222';
  - page.ci.alternativeWebHostingLearnMore = '96223';
  - page.ci.alternativeWebsiteBuilderLearnMore = '96224';
  - page.ci.footerDisclaimer = '96208';
  - page.ci.adCreditGoogle = '96918';
  - page.ci.adCreditBing = '96916';
  - page.ci.adCreditFacebook = '96917';
  - page.ci.midPageNavFAQ = '97455';
  - page.ci.faqSeeAll = '97454';
  - page.tooltipTemplate = '&nbsp;<span class="tool-tip-black sf-tip sf-tipper-target" data-style="qt" data-width="400" data-content="{0}"></span>';

        
prepend endOfPageScripts
  atlantis:webstash(type="js")
    script
      include:js wordpress-hosting/wph.js

append pageStyles
  style
    include:css ./wordpress-hosting/wph.css
  style
    include:css ../shared/_plan-tiles/plan-tiles.css

block domainSearch
  //- nothing to see here
  //- override the landing-page.jade with a blank section

//- top marquee 
block marquee 
  include ./wordpress-hosting/_marquee.jade

//- side by side plan comparisons go here
block plans
  include ./wordpress-hosting/_plans.jade

//- horizontal nav with jumps to anchor tags (that affixes to top)
block sections
  include ./wordpress-hosting/_sections.jade

//- suggested alternative products
block alternatives
  include ./wordpress-hosting/_alternatives.jade

//- there's always a catch... show it here.
block disclaimers
  //- section#disclaimers.content-disclaimer.disclaimers-section 
  //-   .disclaimers-row
  //-     .container
  //-       .row
  //-         .col-sm-12
            //- .disclaimers-text [@L[cds.sales/gd/hosting/wordpress-hosting:third-party-logos-trademarks-disclaimer]@L]
            //-   | 
            //-   | ##if(false)
            //-   | 
            //-     | 
            //-     | ##if(areAdCreditsEnabled(google))
            //-     | 
            //-     +wordPressAdCredits({
            //-       'linkId': 'googleAdwordsLink',
            //-       'adCreditText': '[@T[currencyprice:<price usdamount="10000" dropdecimal="true" htmlsymbol="false" />]@T] [@L[cds.sales/gd/hosting/wordpress-hosting:GoogleAdWordsCredit]@L]',
            //-       'toolTipText': '[@L[cds.sales/gd/hosting/wordpress-hosting:RestrictionsApply]@L]',
            //-       'toolTipContent': '[@L[cds.sales/gd/hosting/wordpress-hosting:OnePromotionalCreditPerCustomerForANew]@L]',
            //-       'detailsUrl': '[@T[link:<relative path="/popups/google-adwords.aspx"><param name="ci" value="#{page.ci.adCreditGoogle}" /><param name="app_hdr" value="99" /></relative>]@T]',
            //-       'detailsCi': page.ci.adCreditGoogle,
            //-       'detailsLinkText': '[@L[cds.sales/gd/hosting/wordpress-hosting:view-details]@L]'
            //-       })
            //-     | 
            //-     | ##endif
            //-     | 
            //-     | 
            //-     | ##if(areAdCreditsEnabled(bing))
            //-     | 
            //-     +wordPressAdCredits({
            //-       'linkId': 'bingLearnLink',
            //-       'adCreditText': '[@T[currencyprice:<price usdamount="10000" dropdecimal="true" htmlsymbol="false" />]@T] [@L[cds.sales/gd/hosting/wordpress-hosting:BingAdsCredit]@L]',
            //-       'toolTipText': '[@L[cds.sales/gd/hosting/wordpress-hosting:RestrictionsApply]@L]',
            //-       'toolTipContent': '[@L[cds.sales/gd/hosting/wordpress-hosting:OnePromotionalCreditPerCustomerForANew]@L]',
            //-       'detailsUrl': 'https://advertise.bingads.microsoft.com/en-us/godaddy/learn',
            //-       'detailsCi': page.ci.adCreditBing,
            //-       'detailsLinkText': '[@L[cds.sales/gd/hosting/wordpress-hosting:view-details]@L]'
            //-       })
            //-     | 
            //-     | ##endif
            //-     | 
            //-     | 
            //-     | ##if(areAdCreditsEnabled(facebook))
            //-     | 
            //-     +wordPressAdCredits({
            //-       'linkId': 'facebookAdsLink',
            //-       'adCreditText': '[@T[currencyprice:<price usdamount="5000" dropdecimal="true" htmlsymbol="false" />]@T] [@L[cds.sales/gd/hosting/wordpress-hosting:FacebookAdCredit]@L]',
            //-       'toolTipText': '[@L[cds.sales/gd/hosting/wordpress-hosting:RestrictionsApply]@L]',
            //-       'toolTipContent': '[@L[cds.sales/gd/hosting/wordpress-hosting:OnePromotionalCreditPerCustomerForANew]@L]',
            //-       'detailsUrl': '[@T[link:<relative path="/popups/facebook-ads.aspx"><param name="ci" value="#{page.ci.adCreditFacebook}" /><param name="app_hdr" value="99" /></relative>]@T]',
            //-       'detailsCi': page.ci.adCreditFacebook,
            //-       'detailsLinkText': '[@L[cds.sales/gd/hosting/wordpress-hosting:view-details]@L]'
            //-       })
            //-     | 
            //-     | ##endif
            //-     | 
            //-   | 
            //-   | ##endif
            //-   | 