//- here are the fields that can be set on inheriting classes
- link = link || "";
- tcode = tcode || "";
- icode = icode || "";
- lazyLoad = lazyLoad || false;
- marqueeType = marqueeType || "";
- lightText = lightText || false;
- backgroundImage = backgroundImage || "";

block vars

block style

.marquee(data-onclick = link, data-lazy-load = (backgroundImage && lazyLoad ? '{"src":"#{backgroundImage}"}' : ''), class = "#{marqueeType} #{lightText ? 'marquee-white' : ''}", data-icode = icode)

  block cornerImage

  block mainContent

  if (marqueeCornerImage)
    .visible-md.visible-lg(class="marquee-corner-img")
      //- img(class="#{marqueeCornerImage.lazyLoad ? 'lazy' : ''}" data-src="#{marqueeCornerImage.image}"
          src="#{marqueeCornerImage.lazyLoad ? 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' : marqueeCornerImage.image}"
          alt="#{marqueeCornerImage.altText}")
      img(
          src = lazyLoad ? 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' : marqueeCornerImage
          data-lazy-load = lazyLoad ? '{"src":"#{marqueeCornerImage}"}' : ''
          alt = marqueeCornerImage.altText != 'undefined' ? marqueeCornerImage.altText : ''
          )

  if (typeof presentationTemplate !== 'undefined')
    //-added relative-position to be able to position things inside of the container rather than .marquee. I'm looking at you tablet thing
    .container.relative-position
      .row
        block content

  if (jumpText)
    .jump-to-plans
      .marquee-jump-text !{markdownToHtml(jumpText)}
      a.pro-icon.jump-arrow-icon(href="#plans")
