extends ../../layouts/layout

block content
  .container
    p HELLO, WORLD!
  //-  +domainSearchInput({"buttonColor":"btn-warning"})

  //- +renderPlanTiles(planBox)


  //- | !{renderTile("search", search)}
  //- | !{renderTile("marquees/marquee", topBanner)}
  //- | !{renderTile("gtldBand", gtldBand)}
  //- | !{renderTile("podCarousel", podCarousel)}
  //- | !{renderTile("marquees/marquee", domainSearchMarquee)}
  //- | !{renderTile("whyUs", whyUs)}
  //- | !{renderTile("faqCarousel", faqCarousel)}
  //- | !{renderTile("disclaimersTemplate", disclaimers)}