//- fails if plansPanels ever need to be nested
- var plansPanelTotalColumns
- var plansPanelColumnsPopulated

mixin column
  case plansPanelTotalColumns
    when 1
      div.col-sm-offset-4.col-sm-4.plan-tile.plan-pro
        block
    when 2
      if (plansPanelColumnsPopulated === 0)      
        div.col-sm-offset-2.col-sm-4.plan-tile.plan-pro
          block
      else
        div.col-sm-4.plan-tile.plan-pro
          block
    when 3
        div.col-sm-4.plan-tile.plan-pro
          block
    when 4
        div.col-md-3.col-sm-6.plan-tile.plan-pro
          block
    when 5
        div.plan-col-15.plan-tile.plan-pro
          block
    when 6
        div.plan-col-2.plan-tile.plan-pro
          block column1

mixin renderProductTiles(columns, options)
  - plansPanelTotalColumns = columns
  - plansPanelColumnsPopulated = 0
  - options = options || {};
  - options.backgroundColor = options.backgroundColor || "bg-gray-light";
  - options.icode = options.icode || "";

  if (numberOfPlans > 4)
    - containerClass = "plan-container"
  else
    - containerClass = "container"

  div(class="pro-plans-wrap #{options.backgroundColor}")

    //- if (planBox.subMarqueePro)
    //-   | !{renderTile("rebrand/subMarqueePro", planBox.subMarqueePro)}

    #plans(class="#{containerClass} pro-plans", data-icode="#{options.icode}")
      block

mixin renderPlanTiles(planBox)
  - var numberOfPlans = planBox.planBoxes.length
  - var containerClass = ""

  if (numberOfPlans > 4)
    - containerClass = "plan-container"
  else
    - containerClass = "container"
  div(class="pro-plans-wrap #{planBox.backgroundColor ? planBox.backgroundColor : ''} ")

    //- if (planBox.subMarqueePro)
    //-   | !{renderTile("rebrand/subMarqueePro", planBox.subMarqueePro)}

    #plans(class="#{containerClass} pro-plans", data-icode="#{planBox.icode ? planBox.icode : ''}")
      if (planBox.title)
        h2.text-center !{planBox.title}

      if (planBox.appTypeLinkText)
        h4.text-center
          a(href="#{planBox.appTypeLink}") !{planBox.appTypeLinkText}

      .row
        if (planBox.planTitle)
          h2 !{planBox.planTitle}
        each plan, index in planBox.planBoxes
          - var colNumber = ""

          if (numberOfPlans == 6)
            - colNumber = "plan-col-2"

          else if (numberOfPlans == 5)
            - colNumber = "plan-col-15"

          else if (numberOfPlans == 4)
            - colNumber = "col-md-3 col-sm-6"

          else if (numberOfPlans <= 3)
            - colNumber = "col-sm-4"
            - var openColumns = 0
            - var additionalClass = ""
            if numberOfPlans < 3 && index == 0
              - openColumns = 12 - (numberOfPlans*4)
              - additionalClass = "col-sm-offset-"+(openColumns/2)

          div(class="#{colNumber ? colNumber: ''} #{additionalClass ? additionalClass: ''} plan-tile #{plan.proPlan ? 'plan-pro' : ''}")
            .pro-plan-wrap
              +renderPlanContent(plan, index)

  script(type="text/javascript").
    $(window).load(function() {
      var maxTitleHeight = 0;
      $(".plan-title").each(function(index, title) {
        maxTitleHeight = $(title).height() > maxTitleHeight ? $(title).height() : maxTitleHeight;
      }).css("height", maxTitleHeight);

      var maxHeight = 0;
      $(".pro-plan-wrap").each(function(index, plan) {
        maxHeight = $(plan).outerHeight() > maxHeight ? $(plan).outerHeight() : maxHeight;
      }).css("height", maxHeight);
    });

