
mixin domainSearchInput(domainSearchParams)
  - domainSearchParams                       = domainSearchParams || {};
  - domainSearchParams.cicode                = domainSearchParams.cicode || "";
  - domainSearchParams.buttonText            = domainSearchParams.buttonText || "[@L[cds.sales/homepage/locales/en:domain-search-btn]@L]";
  - domainSearchParams.placeholderText       = domainSearchParams.placeholderText || "[@L[cds.sales/homepage/segments/default:domain-banner-search-text]@L]";
  - domainSearchParams.formSize              = domainSearchParams.formSize || "lg";

  //- pages can pass any value besides "sm" or "lg" to reset to normal sized inputs
  case domainSearchParams.formSize
    when "sm"
      - buttonClass = "btn-sm"
      - inputClass = "input-sm"
    when "lg"
      - buttonClass = "btn-lg"
      - inputClass = "input-lg"
    default
      - buttonClass = ""
      - inputClass = ""

  atlantis:webstash(type="css")
    style
      :less
        .search-text { display: none; }
        .search-icon { font-size: 22px; }
        @media (min-width: 768px) {
          .search-text { display: inline; }
          .search-icon { display: none; }
        }
 
  form.domain-search-form(method="get" action!="[@T[link:<external linktype='siteurl' path='' parammode='explicit'/>]@T]/api/dpp/search/single")
    input(type="hidden",name="ci",value=domainSearchParams.cicode)
    input(type="hidden",name="checkAvail",value="1")
    .input-group
      label.searchInput.sr-only(for='domain-name-input') !{domainSearchParams.placeholderText}
      input#domain-name-input.searchInput.form-control(class=inputClass type='text' placeholder!='#{domainSearchParams.placeholderText}' name='domainToCheck' maxlength='63')
      span.input-group-btn
        button.btn.btn-primary(class=buttonClass type='submit' data-ci='#{domainSearchParams.cicode}') 
          span.search-icon.uxicon.uxicon-magnifying-glass
          span.search-text !{domainSearchParams.buttonText}
  script.
    $(".domain-search-form").on('submit', function(e) {
      var input = $(this).find("input[name='domainToCheck']");
      if (input && (input.val() == null || input.val() == "")) {
        e.preventDefault();
        window.location = '[@T[link:<external linktype="siteurl" path="" parammode="explicit"/>]@T]/domains/domain-name-search.aspx';
      }
    });

- domainSearchOffersInputCssRendered = false;
mixin domainSearchOffersInput(prms)
  
  - prms                          = prms || {};
  - prms.tlds                     = prms.tlds || "['com','co','org','net']"; /* or can be a name of your variable that holds them ... like "myObj.tldArrary" */
  - prms.defaultTld               = prms.defaultTld || 'com';
  - prms.searchNowCallbackFn      = prms.searchNowCallbackFn || "domainSearchFormSubmit"; /* you need to code a function taking the domain name as a string input */
  - prms.maxDomainLength          = prms.maxDomainLength || 63;
  - prms.formId                   = (prms.formId || "domain-search-offers-input").replace(/-/gi,'');
  - prms.title                    = prms.title || "title";
  - prms.cicode                   = prms.cicode || "";
  - prms.placeholderText          = prms.placeholderText || "placeholderText";
  - prms.buttonText               = prms.buttonText || "placeholderText";
  - prms.infoTypeHere             = prms.infoTypeHere || "placeholderText";
  - prms.infoErrorEligibility     = prms.infoErrorEligibility || "placeholderText";
  - prms.infoInvalidTld           = prms.infoInvalidTld || "placeholderText";
  - prms.infoDupDomainInCart      = prms.infoDupDomainInCart || "placeholderText";
  - prms.dupDomainInCartCiCode    = prms.dupDomainInCartCiCode || "";
    
  form(id!="#{prms.formId}")
    .row
      .col-md-12
        if(prms.title)
          h2.headline-primary.get-a-domain-text !{prms.title}
    .row
      .col-md-12.offer-search-box
          .input-group
            input.form-control.input-lg.search-form-input.searchInput.helveticafont(type="text" placeholder!="#{prms.placeholderText}" name="domainToCheck" autocomplete="off")
            span.input-group-btn
              button.btn.btn-primary.btn-lg.offer-search-btn(type="button" name="searchButton" data-ci="#{prms.cicode}") !{prms.buttonText}
    .row.domain-search-messaging-row
      .col-md-12
        .search-message.headline-primary.speech-shape-upsidedown.speech-shape-upsidedown-yellow.type-your-business-name !{prms.infoTypeHere}
        .search-message.headline-primary.speech-shape-upsidedown.speech-shape-upsidedown-orange.domain-eligibility-fail !{prms.infoErrorEligibility}
        .search-message.headline-primary.speech-shape-upsidedown.speech-shape-upsidedown-orange.invalid-TLD-entered !{prms.infoInvalidTld}
        .search-message.headline-primary.speech-shape-upsidedown.speech-shape-upsidedown-orange.dup-domain-fail(data-tokenize!='[@T[link:<external linktype="carturl" path="/basket.aspx" ><param name="ci" value="#{prms.dupDomainInCartCiCode}" /></external>]@T]') !{prms.infoDupDomainInCart}
  
  unless(domainSearchOffersInputCssRendered )
    - domainSearchOffersInputCssRendered = true;
    atlantis:webstash(type="css")
      style.
        .search-message { 
          display: none; 
          margin-top:20px; 
        }
        .domain-search-messaging-row {
          padding-bottom: 40px;
        }
        /*  speech */
        .speech-shape-upsidedown {
          line-height: 1.9em;
          font-size: 18px;
          padding: 5px 17px;
          color: #fff;
          display: inline-block;
          position: relative;
          margin-bottom: 20px;
          z-index: 2;
        }
        .speech-shape-upsidedown .shape-text {
          position: relative;
          z-index: 40;
        }
        .speech-shape-upsidedown:before {
          content: '';
          position: absolute;
          top: -15px;
          left: 0;
          border-bottom: 15px solid;
          border-right: 15px solid transparent;
        }
        .speech-shape-upsidedown:after {
          content: '';
          position: absolute;
          height: 100%;
          width:20px;
          right: -6px;
          top: 0;
          transform: skew(12deg, 0);
          z-index: 1;
        }
        .speech-shape-upsidedown.speech-shape-upsidedown-green {
          background-color: #008a32;
        }
        .speech-shape-upsidedown.speech-shape-upsidedown-green:before {
          border-bottom-color: #008a32;
        }
        .speech-shape-upsidedown.speech-shape-upsidedown-green:after {
          background-color: #008a32;
        }
        .speech-shape-upsidedown.speech-shape-upsidedown-orange {
          background-color: #ef6c0f;
        }
        .speech-shape-upsidedown.speech-shape-upsidedown-orange a {
          color: #fff;
        }
        .speech-shape-upsidedown.speech-shape-upsidedown-orange:before {
          border-bottom-color: #ef6c0f;
        }
        .speech-shape-upsidedown.speech-shape-upsidedown-orange:after {
          background-color: #ef6c0f;
        }
        .speech-shape-upsidedown.speech-shape-upsidedown-white {
          background-color: #fff;
          color: #333;
        }
        .speech-shape-upsidedown.speech-shape-upsidedown-white:before {
          border-bottom-color: #fff;
        }
        .speech-shape-upsidedown.speech-shape-upsidedown-white:after {
          background-color: #fff;
        }
        .speech-shape-upsidedown.speech-shape-upsidedown-yellow {
          background-color: #fedc45;
          color: #333;
        }
        .speech-shape-upsidedown.speech-shape-upsidedown-yellow:before {
          border-bottom-color: #fedc45;
        }
        .speech-shape-upsidedown.speech-shape-upsidedown-yellow:after {
          background-color: #fedc45;
        }

        /* (end) speech */
  atlantis:webstash(type="js")
    script.
      var #{prms.formId} = {
         executeFnByName: function(name, context) {
          
          var args = [] // - original code doesn't work in IE8 [].slice.call(arguments).splice(2);
          for(var i=2; i < arguments.length; i++){
            args.push(arguments[i]);
          }
          var namespaces = name.split(".");
          var func = namespaces.pop();
          for(var i = 0; i < namespaces.length; i++) {
            context = context[namespaces[i]];
          }
          return context[func].apply(this, args);

        },
        validateSubmit: function(e){

          e.preventDefault();
          var domainName = #{prms.formId}.trimmedDomainName(false);
          if((domainName && domainName.length==0) || !domainName) return false;

          domainName = domainName.toLowerCase();
          domainName = #{prms.formId}.formatDomainWithDefaultTldIfNoneSpecified(domainName);
          if(!#{prms.formId}.ensureValidTld(domainName)) {
            return;
          }
          var functionName = '#{prms.searchNowCallbackFn}';
          if(functionName.length > 0)  {
            #{prms.formId}.executeFnByName(functionName, window, e, domainName);
          }

        },
        trimmedDomainName: function(isKeyPress){
          
          var $form = $("##{prms.formId}"),
            $textInput = $form.find('input[name="domainToCheck"]'),
            domainName = $textInput.val();
          if((domainName && domainName.length==0) || !domainName) return null;

          domainName = #{prms.formId}.reformatDomainToValidLength($textInput, domainName, isKeyPress);
          return domainName;

        },
        reformatDomainToValidLength: function($textInput, domain, isKeyPress){

          var idx = domain.indexOf('.'),
              hasTld = idx > -1,
              sld = hasTld ? domain.substring(0, idx) : domain,
              tld = hasTld ? domain.substring(idx+1) : '',
              needsTrimmed = ((idx == -1) ? domain.length > #{prms.maxDomainLength} : idx > #{prms.maxDomainLength}); /* 63 is the magic number for max length of a domain name */        
          sld = needsTrimmed ? sld.substring(0, #{prms.maxDomainLength}) : sld;
          
          var domainName = sld + ((tld!='') ? '.' + tld : '');
          if(needsTrimmed) {
            $textInput.val(domainName);
          }
          return domainName;

        },
        ensureValidTld: function() {

          var $form = $("##{prms.formId}"),
              $textInput = $form.find('input[name="domainToCheck"]'),
              domainName = $textInput.val(); 
              validTld = #{prms.formId}.hasTldValid(domainName);
          $form.find('.search-message').hide();
          if(validTld) {
            $form.find('.type-your-business-name').show();
          } else {
            $form.find('.invalid-TLD-entered').show();
          }
          return validTld;
          
        },
        hasTldValid: function(domain) {

          domain = $.trim(domain || "");
          var idx = domain.indexOf('.'), isValid = false;
          if(!domain || domain.length == 0 || idx == -1) return true;

          var domainsTld = domain.substring(idx+1).toLowerCase();
          $.each(#{prms.tlds}, function(idx, tld) {
            if(tld.toLowerCase() === domainsTld) {
              isValid = true;
            }
          });
          return isValid;

        },
        formatDomainWithDefaultTldIfNoneSpecified: function(domain) {

          if(domain.indexOf('.') > 0) return domain;
          return domain + '.' + #{prms.defaultTld};

        },
        getParameterByName: function (name) {

          name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
          var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(location.search);
          return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));

        }
      };

      $(document).ready(function(){

        $("##{prms.formId}").on('click', 'button.offer-search-btn', function(){
          $("##{prms.formId}").submit();
        });

        $("##{prms.formId}").on('submit', #{prms.formId}.validateSubmit);
        $("##{prms.formId}").on('keyup', function(e){ 
          if(e.which == 13) return;
          var domainName = #{prms.formId}.trimmedDomainName(true);
          if(!domainName || domainName.length == 0) return;
          domainName = #{prms.formId}.formatDomainWithDefaultTldIfNoneSpecified(domainName);
          #{prms.formId}.ensureValidTld(domainName);
        });


        //- display error on return from DPP's TLD eligibility requirements failure
        var tldErr = #{prms.formId}.getParameterByName('tldRegErr'),
            dppHasError = tldErr.length > 0,
            dupErr = #{prms.formId}.getParameterByName('dppError');

        if(dppHasError) {
          //- note by default tldRegErr will be on the url query string
          //- if it's a dup, dpp will add in an additional parameter to let us know
          switch(dupErr){
            
            case("dup"):
              $('##{prms.formId} .search-message').hide();
              $('##{prms.formId} .dup-domain-fail').show();
              break;

            default:
              var $failArea = $('##{prms.formId} .domain-eligibility-fail'), 
                  html = $failArea.html();
              html = html.replace(/\{0\}/gi, tldErr)
              $failArea.html(html);
              $('##{prms.formId} .search-message').hide();
              $('##{prms.formId} .domain-eligibility-fail').show();
              break;

          }
        } else {
          $('##{prms.formId} .search-message').hide();
          $('##{prms.formId} .type-your-business-name').show();
        }
      });

- configDomainSearchCssRendered = false;

mixin configDomainSearchInput(configDomainSearchParams)
  - configDomainSearchParams                          = configDomainSearchParams || {};
  - configDomainSearchParams.formId                   = (configDomainSearchParams.formId || "domain-search-offers-input").replace(/-/gi,'');
  - configDomainSearchParams.placeholderText          = configDomainSearchParams.placeholderText || "placeholderText";
  - configDomainSearchParams.buttonText               = configDomainSearchParams.buttonText || "placeholderText";
  - configDomainSearchParams.linkText                 = configDomainSearchParams.linkText || "linkText";
  - configDomainSearchParams.continueText             = configDomainSearchParams.continueText || "continueText";
  - configDomainSearchParams.promoCode                = configDomainSearchParams.promoCode || "";
  - configDomainSearchParams.searchCicode             = configDomainSearchParams.searchCicode || "";
  - configDomainSearchParams.noDomainCicode           = configDomainSearchParams.noDomainCicode || "";
  - configDomainSearchParams.domainCicode             = configDomainSearchParams.domainCicode || "";
  - configDomainSearchParams.itcCode                  = configDomainSearchParams.itcCode || "";
  - configDomainSearchParams.managerItcCode           = configDomainSearchParams.managerItcCode || "";

  unless(configDomainSearchCssRendered )
    - configDomainSearchCssRendered = true;
    atlantis:webstash(type="css")
      style.
        .search-icon {
            font-size: 22px;
        }
        .search-text {
          display: none;
          font-weight: bold;
        }
        .search-disclaimers{
          margin-top: 10px;
        }
        .searchable-tlds{
          font-weight:600;
        }
        .continue-icon {
          background: url('[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/shared/lp_sprite-v2.png') no-repeat -57px -200px;
          width: 7px;
          height: 11px;
          display: inline-block;
          margin-top: 20px;
          margin-right: 10px;
        }
        .select-and-continue{
          font-weight:bold;
        }
        .unavailable-icon {
          background: url('[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/shared/dpp_sprite_rebrand.png') no-repeat -50px -62px;
          width: 29px;
          height: 27px;
          display: inline-block;
          margin: 5px 10px 0 0;
        }
        @media (min-width: 768px){
          .search-icon {
            display: none;
          }
          .search-text {
            display: inline;
          }
          .continue-text{
            text-align: right;
          }
        }
        @media (max-width: 767px){
          .form-control{
            font-size:10px;
          }
        }
        .hide-flt-btn {
          display: none;
        }
        .unavailableCopy {
          color: #333;
          font-size: 30px;
          padding-top: 25px;
          font-family: walsheim-Regular;
          line-height: 100%;
          margin: 0 auto 30px;
          width: 1140px;
        }
        .unavailableCopy .domainName {
          color: #ff7802;
          font-size: 34px;
          font-family: walsheim-Bold;
        }
        .domain-search{background-color:#fff;border:1px solid #a4a4a4;height:34px;position:relative;margin-right:10px;min-width:375px;display:table;*display:block;float:left}
        .domain-search>div{display:inline-block;*display:block;vertical-align:top}
        .tld-input{border:0 none;float:none;font-size:18px;height:34px;outline:medium none;position:relative;min-width:114px;z-index:2;  border: 1px solid #bebebe; -webkit-box-shadow: inset 0 2px 0 0 #bebebe;box-shadow: inset 0 2px 0 0 #bebebe;}
        .search-input-wrapper{*float:left;*width:277px;overflow:hidden;padding:6px 9px 0 9px;position:relative}
        .search-input{background-color:transparent;border:0 none;color:#333;font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;font-size:18px;font-weight:300;height:24px;left:9px;outline:medium none;padding:0;position:absolute;right:9px;top:5px;width:96%}
        .search-input.allow-placeholder{background-color:transparent}
        .search-input-label{color:#333;display:block;font-size:18px;font-weight:300;outline:medium none;overflow:hidden;padding:3px 0;white-space:nowrap}
        .domain-check-hidden{display:none}
        .domain-check span{font-weight:bold}
        .domain-check .available{color:#70a100}
        .tld-input-selected{float:left;padding:8px 0 4px 14px;width:75px}
        .tld-input.droplist-open{overflow:visible}
        .tld-input>ul{padding:0;margin:0;list-style:none;cursor:pointer;margin:-1px;border:1px solid #bcbcbc;background-color:#fff;font-size:14px;position:absolute;overflow:hidden;*top:35px;top:-9999em;*left:-9999em;width:112px;z-index:3}
        .tld-input.droplist-open>ul{*left:0;width:114px;top:35px;z-index:1000}
        .tld-input.droplist-open>ul>li{padding:5px 10px}
        .tld-input.droplist-open>ul>li:hover{background:#f5f5f5}
        .tld-input.droplist-open>ul>li.selected:hover,.tld-input.droplist-open>ul>li.selected{background:#e4efc7}
        .domain-arrow{cursor:pointer;float:left;font-size:1px;height:30px;margin:2px 2px 2px 0;min-width:23px;padding:0;position:relative}
        .domain-arrow span{border-color:#6B6B6B transparent transparent;border-style:solid;border-width:5px 5px 0;display:block;height:0;width:0;position:absolute;top:13px;left:7px}
        .available-tld-wrap {  min-height: 120px;border: solid 1px #cccccc;margin-bottom: 15px;margin-top:10px; border-top: 10px solid #008a32;padding: 30px;  background-color: #fff;-webkit-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);-moz-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);}
        .available-result .domain-name-display {font-size: 30px;color: #333;font-weight: bold;text-transform: lowercase;margin-bottom: 0px;margin-top: 0px; font-family: 'Walsheim-Bold';}
        .word-break {word-wrap: break-word;word-break: break-all;}
        .available-result .domain-name-display-tld{font-size:40px;}
        .available-result .select-and-continue{margin-top:15px;}
        #add-domain-btn { margin-left:10px;}
        #no-domain-link{text-decoration: none;color: #000;cursor: pointer;margin-top:15px;}
        .available-result , .unavailable-result {display:none;}
        .input-group-btn > .btn { position:static; margin-left:15px;}
  .row
    .col-xs-12
      form.domain-search-form(id!="#{configDomainSearchParams.formId}",method="get" action!="[@T[link:<relative path='domains/actions/json/domainavailabilitycheck.aspx'><param name='promoCode' value='#{configDomainSearchParams.promoCode}' /></relative>]@T]")
        input(type='hidden', name='targetdivid', value='x')
        input(type='hidden', name='source', value='domaincheck')
        input#token(type='hidden', name='token')
        input#domaintoadd(type='hidden', name='domaintoadd')
        input(type='hidden', name='formSubmitButton', value='Add-to-Cart')

        .input-group
          label.searchInput.sr-only(for='domain-name-input') !{configDomainSearchParams.placeholderText}
          input#domain-name-input.searchInput.input-lg.form-control(class=inputClass type='text' placeholder!='#{configDomainSearchParams.placeholderText}' name='sld' maxlength='63')
          span.tld-input.input-group-btn
            .tld-input-selected
              span .com
            input#txtTld(type='hidden', name='tld', value='com')
            input(type='hidden', name='addIfAvailable', value='true')
            a.domain-arrow.g-btn-sm.g-btn-sec(href='javascript:void(0)')
              span
            ul
              li.availabletld.selected(data-main='.com', data-view='com')
                div(data-main='true')
                  span .com
              | 
              | ##if(countrySiteAny(br) || isManager())
              | 
              li.availabletld(data-main='.com.br', data-view='com.br')
                div(data-main='true')
                  span .com.br
              | 
              | ##endif
              | 
              | 
              | ##if(countrySiteAny(mx) || isManager())
              | 
              li.availabletld(data-main='.com.mx', data-view='com.mx')
                div(data-main='true')
                  span .com.mx
              | 
              | ##endif
              | 
              | 
              | ##if(countrySiteAny(au) || isManager())
              | 
              li.availabletld(data-main='.com.au', data-view='com.au')
                div(data-main='true')
                  span .com.au
              | 
              | ##endif
              | 
              li.availabletld(data-main='.co', data-view='co')
                div(data-main='true')
                  span .co
              | 
              | ##if(countrySiteAny(ca) || isManager())
              | 
              li.availabletld(data-main='.ca', data-view='ca')
                div(data-main='true')
                  span .ca
              | 
              | ##endif
              | 
              | 
              | ##if(countrySiteAny(in) || isManager())
              | 
              li.availabletld(data-main='.in', data-view='in')
                div(data-main='true')
                  span .in
              | 
              | ##endif
              | 
              li.availabletld(data-main='.net', data-view='net')
                div(data-main='true')
                  span .net
              li.availabletld(data-main='.org', data-view='org')
                div(data-main='true')
                  span .org
              | 
              | ##if(countrySiteAny(uk) || isManager())
              | 
              li.availabletld(data-main='co.uk', data-view='co.uk')
                div(data-main='true')
                  span .co.uk
              li.availabletld(data-main='.uk', data-view='uk')
                div(data-main='true')
                  span .uk
              | 
              | ##endif
              | 
          span.input-group-btn
            button.btn.btn-primary.btn-lg.offer-search-btn(class=buttonClass type='submit' data-ci='#{configDomainSearchParams.searchCicode}') 
              span.search-icon.uxicon.uxicon-magnifying-glass
              span.search-text !{configDomainSearchParams.buttonText}
        #search-btn-loading.loading(style='display: none')
  .row
    .col-xs-12
      a#no-domain-link.pull-right(data-ci='#{configDomainSearchParams.noDomainCicode}') !{configDomainSearchParams.linkText} 
      span.continue-icon.pull-right
      #no-domain-loading.loading.floatleft(style='display: none')
      #add-domain-loading.loading.floatleft(style='display: none')
  .available-result
    .row
      .col-sm-12
        h3 [@L[cds.sales/_common:domain-available]@L]
    .row
      .col-sm-12
        .available-tld-wrap
          .row
            .col-md-8.col-sm-12
              h4.word-break.domain-name-display.domain-name-display-domain 
              h2.word-break.domain-name-display.domain-name-display-tld  
            .col-md-4.col-sm-12.text-right
              button.btn.btn-primary.select-and-continue(data-ci='#{configDomainSearchParams.domainCicode}') !{configDomainSearchParams.continueText}  
  .unavailable-result
    .row
      .col-sm-12
        p.unavailableCopy
          span.unavailable-icon
          span#domain-searched

  atlantis:webstash(type="js")
  script.
    var nextStepUrl;
    var ConfigSearch = {
      showTerm: function (li) {
          if (li) {
              var viewData = li.attr('data-view').split("|");
          }
      }, 
      changeSelected: function (li, parent) {
          var content = li.find('div[data-main=true]').html();
          parent.find('div:first').html(content);
          if (li.hasClass('availabletld')) {
              $('#txtTld').val(li.attr('data-view'));
          }
      },
      removeDoamin: function () {
        ##if(isManager())
          var url = '[@T[link:<relative path="/cds/widgets/widgetsposthandlers/domainposthandler.ashx"><param name="itc" value="#{configDomainSearchParams.managerItcCode}" /></relative>]@T]';
        ##else
          var url = '[@T[link:<relative path="cds/widgets/widgetsposthandlers/domainposthandler.ashx"><param name="itc" value="#{configDomainSearchParams.itcCode}" /></relative>]@T]';
        ##endif
        var domaintoadd = $('#domaintoadd').val();

        url += (url.indexOf('?') >= 0) ? "&" : "?";
        url += '&domaintoremove=' + domaintoadd;

        $.getJSON(url, function (data) {
            if (data == 'removed') {
              ##if(isManager())
                window.location = '[@T[link:<external linktype="MANAGERCARTURL" path="/basket.aspx" secure="true"  />]@T]';
              ##else
                window.location = '[@T[link:<external linktype="carturl" path="/basket.aspx" secure="true" />]@T]';
              ##endif
            }
        });
      }
    };
    
    $(document).ready(function () {
      $('.tld-input').click(function () {
        var wrap = $(this);
        if (wrap.hasClass('droplist-open')) {
        wrap.removeClass('droplist-open');
        } else {
        wrap.addClass('droplist-open');
        }
      });

      $('.tld-input').mouseleave(function () {
        $(this).removeClass('droplist-open');
      });

      $('.tld-input > ul > li').click(function () {
        var li = $(this);
        var parent = li.parents('.tld-input');
        li.siblings('li').removeClass('selected');
        li.addClass('selected');
        ConfigSearch.showTerm(li);
        ConfigSearch.changeSelected(li, parent);
      });

      $('#no-domain-link').bind('click', function (e) {
            var domaintoadd = $('#domaintoadd').val();

            if (domaintoadd == '') {
                 ##if(isManager())
                    window.location = '[@T[link:<external linktype="MANAGERCARTURL" path="/basket.aspx" secure="true" />]@T]';
                  ##else
                    window.location = '[@T[link:<external linktype="carturl" path="/basket.aspx" secure="true" />]@T]';
                  ##endif
        } else {
            ConfigSearch.removeDoamin();
        }
        });

        $('.select-and-continue').bind('click', function () {
            window.location = nextStepUrl;       
        });
    });

    $(function () {
        $('form[id=#{configDomainSearchParams.formId}]').submit(function (e) {
          var domaintoremove = $('#domaintoadd').val();
          var domaintoadd = $('#domaintoadd').val();

            var tld = $('#txtTld');
            var domain = $('#domain-name-input').val();
            var domainSplit = domain.split('.');
            var newtld = '';
            if (domainSplit.length > 1) {
              for (var i = 1; i < domainSplit.length; i++) {
                newtld += domainSplit[i];
                if (i !== domainSplit.length - 1)
                  newtld += '.';
              }
            }
            else {
              newtld = tld.val();
            }
            var valid = false;

            if (domain.length > 0 && (domain != "[@L[fosconfigcommon:domainsearchtext]@L]")) {

                if (tld.val() == '') {
                    tld.val('com');
                } else if (newtld != undefined) {
                    tld.val(newtld);
                    $('#domain-name-input').val(domain.split('.')[0]);
                }

                
                $('.availabletld').each(function () {
                    if ($(this).attr('data-view') == tld.val()) {
                        valid = true;
                    }
                });

                if (!valid) {
                    var url = '[@T[link:<relative path="domains/search.aspx"></relative>]@T]';
                    url += (url.indexOf('?') >= 0) ? "&" : "?";
                    url += 'domaintocheck=' + domain;
                    url += '&tld=' + tld.val();

                    var premiumText = "[@L[cds.sales/_common:domain-premium]@L]";
                    var domainText = ' <span class="domainName"> '+domain.toLowerCase()+'</span>';
                    $('#domain-searched').html(premiumText.replace(/\{0\}/gi,domainText).replace(/\{1\}/gi,url));
                    $('.unavailable-result').show();

                    tld.val('com');
                } else {
                    $.get($(this).attr('action')+'&domaintoremove='+domaintoremove, $(this).serialize(), function (jsonData) {
                        $('.available-result').hide();
                        $('.unavailable-result').hide();

                        if (jsonData.Properties.anyAreAvailable === false && jsonData.Properties.domainInfo[0].error === "Domain name is already taken") {
                            $('#no-domain-link').html('[@L[cds.sales/_common:continue-no-free-domain]@L]')
                            var takenText = '[@L[cds.sales/_common:domain-unavailable]@L]';
                            var domainText = ' <span class="domainName"> '+jsonData.Properties.domainInfo[0].shortName.toLowerCase()+'</span>';
                            $('#domain-searched').html(takenText.replace(/\{0\}/gi,domainText));
                            $('.unavailable-result').show();
                        } else if (jsonData.Properties.domainInfo[0].isPremium) {
                            var url = '[@T[link:<relative path="domains/search.aspx"></relative>]@T]';
                            url += (url.indexOf('?') >= 0) ? "&" : "?";
                            url += 'domaintocheck=' + domain;
                            url += '&tld=' + tld.val();
                            $('#no-domain-link').html('[@L[cds.sales/_common:continue-no-free-domain]@L]'); 
                            var premiumText = '[@L[cds.sales/_common:domain-invalid]@L]';
                            var domainText = ' <span class="domainName"> '+jsonData.Properties.domainInfo[0].shortName.toLowerCase()+'</span>';
                            $('#domain-searched').html(premiumText.replace(/\{0\}/gi,domainText).replace(/\{1\}/gi,url));
                            $('.unavailable-result').show();

                        } else if (jsonData.Properties.domainInfo[0].error === "Domain name is invalid") {
                            $('#no-domain-link').html('[@L[cds.sales/_common:continue-no-free-domain]@L]');
                            var invalidText = '[@L[cds.sales/_common:domain-invalid]@L]';
                            var domainText = ' <span class="domainName"> '+jsonData.Properties.domainInfo[0].shortName.toLowerCase()+'</span>';
                            $('#domain-searched').html(invalidText.replace(/\{0\}/gi,domainText));
                            $('.unavailable-result').show();
                        } 
                        else if (jsonData.Properties.domainInfo[0].error != '') {
                            $('#no-domain-link').html('[@L[cds.sales/_common:continue-no-free-domain]@L]');
                            var takenText = '[@L[cds.sales/_common:domain-unavailable]@L]';
                            var domainText = ' <span class="domainName"> ' +jsonData.Properties.domainInfo[0].shortName.toLowerCase()+'</span>';
                            $('#domain-searched').html(takenText.replace(/\{0\}/gi,domainText));
                            $('.unavailable-result').show();
                        } else {
                            $('#no-domain-link').html('[@L[cds.sales/_common:continue-no-free-domain]@L]');
                            var availableDomain = jsonData.Properties.domainInfo[0].shortName.split('.')[0];
                            var availableTld = '.'+jsonData.Properties.domainInfo[0].shortName.split('.')[1];
                            $('.domain-name-display-domain').html(availableDomain);
                            $('.domain-name-display-tld').html(availableTld);
                            $('.available-result').show();
                        }
                        nextStepUrl = jsonData.Properties.nextStepUrl;
                    }, 'json');
                    return false;
                }
            }
            return false;
        });
    });