
//- =========================================================================
//- Load loaded image
//- =========================================================================
//- 
//- Will lazy load an image 
//- 
//- 1. Simply add class "lazyload" to your div or image
//- 2. "data-lazyload-source" Add an attribute to define your source image 
//- 3. "data-lazyload-watch" Optionally add an attribute to define the region of the page that fires off loading of the actual image 
//- 4. "data-lazyload-callback" Optional callback that fires BEFORE the fade in
//- 5. "data-lazyload-callbackAfter" Optional callback that fires AFTER the fade in
//- 
mixin lazyImg(addlClasses, watch, src, altText, callback, callbackAfter)
  img.lazyload(
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    class="#{addlClasses}"
	  data-lazyload-source!="#{src}"
    data-lazyload-watch!="#{watch}"
    data-lazyload-callback!="#{callback}"
    data-lazyload-callbackAfter!="#{callbackAfter}"
	  alt=(altText ? altText : "")
	  )

//- =========================================================================
//- A scalable video player in a modal with launch button
//- =========================================================================
//- you can call the independant mixins individually to place them in the correct DOM locations, 
//- or call the all-encompasing one videoPlayerModalAll()
//-   +videoPlayerModalAll(
//-     'WycoJMKzXZ4', 
//-     'test-btn-id', 
//-     '123456', 
//-     '[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/offers/online-business/img_play_icon_small.png', 
//-     '[@L[cds.sales/offers/online-business:32573-watch-video-button]@L]', 
//-     'btn-md btn-primary', 
//-     'test-modal-id', 
//-     '')

mixin videoPlayerModalAll(youtubeVideoId, buttonId, ci, imgInButton, imgAsButton, buttonText, addlBtnClasses, modalId, addlModalClasses)

  +videoPlayerScriptsOnly(buttonId, modalId)
  +videoPlayerStylesOnly()    
  +videoPlayerButtonOnly(buttonId, ci, imgInButton, imgAsButton, buttonText, addlBtnClasses)
  +videoPlayerModalOnly(youtubeVideoId, modalId, addlModalClasses)

mixin videoPlayerScriptsOnly(buttonId, modalId)
  atlantis:webstash(type="js")
    script.
      $(document).ready(function(){
        
        var $overlay = $("##{modalId}").find(".videoWrapperInModal");

        // attach modal popup to click event
        $('##{buttonId}').on('click', function(){
          $overlay.sfMsgOverlay({ message: "[@L[cds.sales/gd/tlds/gtld:loading]@L]" });
          $("##{modalId}").sfDialog({titleHidden:true, dialogWidthIdeal:840, destroyOnClose:true, buttons: []});
        });

        // close the overlay when iframe loads
        $("##{modalId}").find("iframe").load(function(){
          
          $overlay.sfMsgOverlay({ message: null });
        });

      });

mixin videoPlayerStylesOnly()
  atlantis:webstash(type="css")
    style.
      .video-modal {display: none;}
      .videoWrapperInModal {position:relative;padding-bottom: 56.25%; /* 16:9 */padding-top:25px;height:0;}
      .videoWrapperInModal iframe {position:absolute;top:0;left:0;width:100%;height:100%;}
      img.video-play-icon {margin-right:10px;vertical-align:top;}
      .video-modal-img-as-button {cursor: pointer;}
      .video-iframe-underlay {position: absolute;z-index:1;top:150px;width:100%;}
      .video-iframe-underlay  h2 {text-align:center;}

mixin videoPlayerButtonOnly(buttonId, ci, imgInButton, imgAsButton, buttonText, addlBtnClasses)

  if(imgAsButton)
    img.video-modal-img-as-button(id="#{buttonId}", data-ci="#{ci}", class="#{addlBtnClasses}")
  else
    if(imgInButton)
      button.btn(id="#{buttonId}", data-ci="#{ci}", class="#{addlBtnClasses}") <img src="!{imgInButton}" class="video-play-icon" /> #{buttonText}
    else
      button.btn(id="#{buttonId}", data-ci="#{ci}", class="#{addlBtnClasses}") #{buttonText}

mixin videoPlayerModalOnly(youtubeVideoId, modalId, addlModalClasses)

  div.sf-dialog.video-modal(id="#{modalId}", class="#{addlModalClasses}")
    .videoWrapperInModal
      iframe(width="640", height="390", src="//www.youtube.com/embed/#{youtubeVideoId}?html5=1&rel=0&iv_load_policy=3&modestbranding=1",autoplay, scrolling="no", frameborder="0", allowfullscreen)



//- =========================================================================
//- Tokenize the placeholder {0} with a data value in the data attribute
//- =========================================================================
//-
//- EXAMPLE:
//-   div(data-tokenize="$ 10.00") The total cost is {0}. Please continue


mixin simpleTokenizer()
  atlantis:webstash(type="css")
    style.
      *[data-tokenize] {visibility: hidden;}

  atlantis:webstash(type="js")
    script.
      $(document).ready(function(){
        $('[data-tokenize]').each(function(){
          var $this = $(this),
            html = $this.html(),
            val = $this.data('tokenize'),
            tokenizedHtml = html.replace(/\{0\}/gi, val);
          $this
            .html(tokenizedHtml)
            .removeAttr('data-tokenize');
        });
      });

//- =========================================================================
//- yet another common mixin goes below
//- =========================================================================
//-
//-