//- fails if plansPanels ever need to be nested
- var plansPanelTotalColumns
- var plansPanelColumnsPopulated
- var hasIncludedPlanTilesMixinCss = false


mixin planTile(planid, additionalClasses)
  - additionalClasses = additionalClasses ? additionalClasses : '';
  case plansPanelTotalColumns
    when 1
      div.col-sm-offset-4.col-sm-4.plan-tile.plan-pro(id=planid)
        block
    when 2
      if (plansPanelColumnsPopulated === 0)   
        - plansPanelColumnsPopulated++   
        div.col-sm-offset-2.col-sm-4.plan-tile.plan-pro(id=planid)
          block
      else
        div.col-sm-4.plan-tile.plan-pro(id=planid)
          block
    when 3
      div.col-sm-4.plan-tile.plan-pro(id=planid)
        block
    when 4
      div.col-md-3.col-sm-6.plan-tile.plan-pro(id=planid)
        block
    when 5
      div.plan-col-15.plan-tile.plan-pro(id=planid)
        block
    when 6
      div.plan-col-2.plan-tile.plan-pro(id=planid)
        block


mixin renderPlanTiles(columns, options)
  - plansPanelTotalColumns = columns
  - plansPanelColumnsPopulated = 0
  - options = options || {};
  - options.backgroundColor = options.backgroundColor || "";
  - options.icode = options.icode || "";

  if (columns > 4)
    - containerClass = "plan-container"
  else
    - containerClass = "container"

  atlantis:webstash(type="js")
    script(type="text/javascript").
      var planTileMixin = {

        findMaxHeight: function($items) {
          var maxHeight = 0;
          $items.each(function(index, item) {
            maxHeight = ($(item).outerHeight() > maxHeight) ? $(item).outerHeight() : maxHeight;
          });
          return maxHeight;
        },
        autoHeightIt: function($obj, selector) {
          var $objs = $obj.find(selector);
          var maxHeight = planTileMixin.findMaxHeight($objs);
          if( maxHeight > 0 ) $objs.css("height", maxHeight);
        },
        autoHeighPlanBoxInsides: function() {
          $tiles = $('#plans').find('.plan-tile');
          planTileMixin.autoHeightIt($tiles, '.title-wrap');
          planTileMixin.autoHeightIt($tiles, '.price-wrap');
          planTileMixin.autoHeightIt($tiles, '.action-button-wrap');

          // align each plan-item with eachother in the same line
          // however, only do this if each plan-tile has the same 
          // number of plan-item's in it.
          var numItems = 0, bail= false;
          $tiles.each(function(){
            var $tile = $(this);
            var numPlanItems = $tile.find('.plan-item').length;
            if(numItems==0) {
              numItems = numPlanItems;
            }
            if(numItems != numPlanItems) bail = true;
          });
          if(bail || numItems == 0) return;
          // loop thru each plan item and adjust independantly
          for(var i=0; i<numItems; i++) {            
            planTileMixin.autoHeightIt($tiles, '.plan-item:eq(' + i + ')');
          }

        },
        autoHeightPlanBoxes: function() {
          // auto height the plan boxes
          $(".pro-plans").each(function(index, outerPlan) {
            if($(outerPlan).hasClass('ignore-same-height')) 
              return;
            planTileMixin.autoHeightIt($(outerPlan), '.pro-plan-wrap');
          });
        }
      };

      $(document).ready(function(){
        if ($(window).width() < 768) 
          return; /* bail out because too narrow to list more than one wide */
        // allow some time for tokenization to happen 
        // before auto-heighting the boxes per GCE-37970 
        window.setTimeout(function(){
          planTileMixin.autoHeighPlanBoxInsides();
          planTileMixin.autoHeightPlanBoxes();
        }, 400);
      });

  atlantis:webstash(type="css")
    style
      include:css ./_plan-tiles/plan-tiles.css

  div(class="pro-plans-wrap #{options.backgroundColor}")
    #plans(class="#{containerClass} pro-plans", data-icode="#{options.icode}")
      .row
        block


mixin renderCartLogic(url, itc, options)
  - addToCartRedirectUrl = url
  - itemTrackingCode = itc
  - options = options || {};
  - options.dropdown = options.dropdown || false;
  - options.srcParam = options.srcParam || false;

  atlantis:webstash(type="js")
    script(type="text/javascript").
      var itemTrackingCode = "!{itemTrackingCode}";
      var ci = "0"
      var src = "ac"

      $(".btn-plan").click(function() {

        if ("#{options.dropdown}" != "false"){
          var productTile = $(this).data("ul");

          var productPackage = $("ul#"+productTile+" li").filter('[data-selected="true"]').attr('data-plan');
        }
        else{
          var productPackage = $(this).data("plan");
          if($(this).data("ci")!== undefined)
            ci = $(this).data("ci");
          if($(this).data("src")!== undefined)
            src = $(this).data("src");
        }

        if($(this).attr("id")==="get-started-btn"){
          src = "gs";
        }

        var url = "[@T[link:<external linktype="SALESPRODUCTSURL" path="/v1/pl/1/cart/packages" />]@T]";

        $.ajax({
          type: "POST",
          url: url,
          contentType: "application/json",
          data: "requestData=" + JSON.stringify({
            pkgid: productPackage,
            qty: 1,
            itc: itemTrackingCode
          }),
          dataType: "jsonp"
        })
        .done(function(data) {
          var redirectUrl = "!{addToCartRedirectUrl}";
          redirectUrl = redirectUrl.replace('%7b0%7d',ci);
          redirectUrl = redirectUrl.replace('%7b1%7d',src);
          if (redirectUrl.indexOf("?") === -1) {
            redirectUrl += "?plan=";
          } else {
            redirectUrl += "&plan=";
          }
          redirectUrl += productPackage;

          if("#{options.srcParam}" != "false"){
            redirectUrl += "&src=" + src
          }

          window.location.href = redirectUrl;
        })
        .fail(function(xhr, status, error) {
          alert('Failed to add to the cart. Please try again later.')
        });
      });
