include ./_home-page-mixins.jade
include ../shared/_domain-search.jade
include ../shared/_two-up-compare.jade
include ../shared/_full-width-video.jade
include ../shared/_helpers.jade

mixin lazyImg2(src,classes,altText)
  img.lazyload(
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    class="#{classes}"
    data-src!="#{src}"
    alt=(altText ? altText : "")
    )

mixin renderTwoUpCompare2(twoUpOptions)
  - populatedColumns = 0
  - twoUpOptions = twoUpOptions || {};
  - twoUpOptions.title = twoUpOptions.title || "";
  - twoUpOptions.twoUpCompareId = twoUpOptions.twoUpCompareId || "";
  - twoUpOptions.titleBackgroundColor = twoUpOptions.titleBackgroundColor || "";
  - twoUpOptions.titleWhiteText = twoUpOptions.titleWhiteText || "";
  - twoUpOptions.icode = twoUpOptions.icode || "";
  - twoUpOptions.style = twoUpOptions.style || "";
  - twoUpOptions.backgroundColor = twoUpOptions.backgroundColor || "";
  - twoUpOptions.backgroundImage = twoUpOptions.backgroundImage || "";
  - twoUpOptions.includeStyles = twoUpOptions.includeStyles

  if typeof(twoUpOptions.includeStyles) == 'undefined'
    style
      include:css ../shared/_two-up-compare/two-up-compare-styles.css
    style.
      .hp-two-up-compare-img {background-image: url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/sb/website_promo.jpg); }

  div(id="#{twoUpOptions.twoUpCompareId ? twoUpOptions.twoUpCompareId : ''}" class = "two-up-title-wrap #{twoUpOptions.titleBackgroundColor}")
    if (twoUpOptions.title)
      div(class="#{twoUpOptions.whiteText ? 'white-text' : ''}")
        .container
          .row
            .col-sm-12
              h2.h0.text-center.two-up-title !{twoUpOptions.title}
    div(class="two-up-wrap-compare #{twoUpOptions.backgroundColor} lazyload", 
        style!= "#{twoUpOptions.style ? twoUpOptions.style : ''};", 
        data-src!=("#{twoUpOptions.backgroundImage}") data-img-class!="hp-two-up-compare-img")
      .container
        .row
          block

extends ../shared/_page

block append vars
  - page = page || {};
  - page.title = "[@L[cds.sales/homepage:page-title]@L]";
  - page.description = "[@L[cds.sales/homepage:meta-description]@L]";
  - page.keywords = "[@L[cds.sales/homepage:meta-keywords]@L]";
  - page.openGraph.title = "[@L[cds.sales/homepage:og-title]@L]";
  - page.openGraph.description = "[@L[cds.sales/homepage:og-content]@L]";

block fonts
  //- prevent fonts.css from being loaded

block append pageStyles
  // home page styling
  style
    :less
      /* delete this? */
      .text-white{color:#fff}
      .bg-green-official{background-color:#77c043;}
      .walsheim-bold{font-family:'Walsheim-Bold', 'Arial Black', sans-serif;}
      .walsheim-black{font-family:'Walsheim-Black', 'Arial Black', sans-serif;}

      .hero-wrapper{min-height:300px;}

      /* page layout/styling */
      #domain-search {margin-top: 10px;}
      #bugbar {margin:10px 0;}
      #marquee {position:relative; }
      #hero-wrapper {min-height:300px;}
      #marquee-tile-1, #marquee-tile-2 {position: relative; margin: 6px 0 3px 0;min-height: 141px; max-height: 181px; overflow: hidden;}
      
      #limitations-social{padding:20px 0;font-size:1.2rem;
        p{margin:0;}
        a{cursor:pointer}
      }
      .gdhp-share{position:relative;float:right;margin-top:5px;}
      .fosfbbox{height:25px !important;}

      .icann-disclaimer,.promo-cta>a{color:#ef6c0f}
      #merchandising{background-color:#fff;padding:10px 0;font-size:16px;
        #banner-small-1,#banner-small-2,#banner-small-3,#banner-small-4,#banner-small-5,#banner-small-6,#banner-small-7,#banner-small-8,#banner-small-9{margin:5px 0}
      }
      section { padding-top: 0; padding-bottom: 0;}
      #why-godaddy { padding-bottom: 50px; }

      #domain-name-input{text-transform:inherit}
      #domain-name-input::-webkit-input-placeholder { color: #008a32; }
      #domain-name-input:-moz-placeholder { color: #008a32; opacity: 1;  }
      #domain-name-input::-moz-placeholder { color: #008a32; opacity: 1;  }
      #domain-name-input:-ms-input-placeholder { color: #008a32; }
      [data-tms-name], [data-tms-template] { height: inherit; min-height: inherit; max-height: inherit; min-width: inherit; max-width: inherit; }

      /* should be more global? */
      [data-url] { cursor: pointer; }
      [data-tms-name], [data-tms-template] { height: inherit; min-height: inherit; max-height: inherit; min-width: inherit; max-width: inherit; }

      @media only screen and (max-width: 767px) {
        section .btn-md{font-size: 14px; padding:5px 15px 2px; border-bottom-width:3px; }
      }
      #hero-wrapper { font-size: 12px;}
      @media only screen and (min-width: 768px) {
        #hero-wrapper { font-size: 14px;}
      }
      @media only screen and (min-width: 992px) {
        #hero-wrapper { font-size: 14px;}
      }
      @media only screen and (min-width: 1200px) {
        #hero-wrapper { font-size: 16px;}
      }

//- override headscripts to remove lazyload
block headScripts
  script.
    function loadJsAsync(sourceUrl, id) {
       var js, fjs = document.getElementsByTagName('script')[0];
       if (document.getElementById(id)) {return;}
       js = document.createElement('script'); js.type = 'text/javascript'; js.ansyc = true;
       js.id = id;
       js.src = sourceUrl;
       fjs.parentNode.insertBefore(js, fjs);
    }

    function endOfPageScripts() {

    }

block endOfPageScripts
  script.

    ux.eldorado.ready(function(){
      loadJsAsync("https://img1.wsimg.com/fastball/js_lib/FastballLibrary0006.min.js?version=2", 'fastballLibrary');
      loadJsAsync("https://img1.wsimg.com/fos/liveperson/js/liveperson_20150217.min.js", 'livepersonLibrary');
      loadJsAsync("https://img1.wsimg.com/starfield/fos.share/v1.3/fos.share-20140505.min.js", 'fosShareScript');
    });

    ux.eldorado.ready(function(){
      $('body').on('click','[data-url]',function(event){
        var $clickedElement = $(event.currentTarget);
        var $clickedUrl = $clickedElement.attr('data-url'); 
        event.stopPropagation();
        window.location.href=$clickedUrl;
      });

      reSizeTiles();

      ux.util.lazy.loadViaSelector('.lazyload, .domain-promo-content');
    });

    function limitationsModal() {$('#limitationsModal').sfDialog({buttons: [{text: 'OK', onClick: function($sfDialog) { $sfDialog.sfDialog('close'); } }] });}
    var reSizeTiles = function(){
      var maxTitleHeight = 0;
        $("#merchandising .body").each(function(index, title) {
          maxTitleHeight = $(title).height() > maxTitleHeight ? $(title).height() : maxTitleHeight;
        }).css("min-height", maxTitleHeight);
        if(Math.max(document.documentElement.clientWidth, window.innerWidth || 0)>992){
          $("#hero-wrapper").css("min-height", $("#marquee-tile-wrapper").height());
        }
    }

    var ignoreLivePerson = true;
    ux.eldorado.ready(function(){
      var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&'),
                   qs = [],
                   date = new Date();
      for(var i = 0; i < hashes.length; i++) {
        var hash = hashes[i].split('=');
        qs.push(hash[0]);
        qs[hash[0]] = hash[1];
      }

      window.setTimeout(function() {
        $('#shareme').fosShare({});
      }, 2000);
    });

block delayLoadedScripts
  //- page.jade's delay loading is actually broken
  //- fix here for now, and do it there (so all pages get it) eventually...

block head
  //- exclude chat_window CSS


block pcHead
  script.
    window.ux = window.ux || {};
    window.ux.disable = {
      'ga': true,
      'tealium': true
    };
    
  | 
  |[@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Item"><Parameters><Parameter key="Application" value="salescpo" /><Parameter key="Manifest" value="salesheader" /><Parameter key="Split" value="brand2.0" /><Parameter key="Name" value="css" /></Parameters></Data>]@P]
  |[@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Item"><Parameters><Parameter key="Application" value="salescpo" /><Parameter key="Manifest" value="salesheader" /><Parameter key="Split" value="brand2.0" /><Parameter key="Name" value="script" /></Parameters></Data>]@P]
  |[@P[webControl:<Data assembly="App_Code" type="WebControls.PresentationCentral.Item"><Parameters><Parameter key="Application" value="salescpo" /><Parameter key="Manifest" value="salesheader" /><Parameter key="Split" value="brand2.0" /><Parameter key="Name" value="head-ie-rsiv" /></Parameters></Data>]@P]

block content
  
  //- domain search section
  block domainSearch
    section#domain-search
      .container
        .row
          .col-xs-12
            +domainSearchInput({"placeholderText":"Find your perfect domain name","cicode":"54814","formSize":"normal"})

  //- Bugbar
  section#bugbar
    .container
      .row
        .col-sm-12
          block bugBar
            +tldBugs(["net","club","org","co","design"])

  //-  Marquee Section
  block marquee
    section#marquee
      .container
        .row
          #hero-wrapper.col-md-8.col-sm-12
            block hero  
          #marquee-tile-wrapper.col-md-4.col-sm-12
            .row
              #marquee-tile-1.col-md-12.col-sm-6
                block marquee-tile-1
              #marquee-tile-2.col-md-12.col-sm-6
                block marquee-tile-2

  //- Secondary Tile Section
  block merchandisingTiles
    section#merchandising
      .container
        .row
          #banner-small-1.col-md-3.col-sm-6.col-xs-6
            block banner-small-1
          #banner-small-2.col-md-3.col-sm-6.col-xs-6
            block banner-small-2
          #banner-small-3.col-md-3.col-sm-6.col-xs-6
            block banner-small-3
          #banner-small-4.col-md-3.col-sm-6.col-xs-6
            block banner-small-4

  block sections
    block domain-promo
      atlantis:webstash(type="css")
        style
          :less
            #domain-promo { color: #fff; 
              .jones-bg-image { 
                background-image: url([@T[link:<imageroot />]@T]fos/hp/rebrand/img/Jones_Studio.jpg); 
                @media only screen and (max-width:767px) {background-image:none !important;}
              }

              .domain-promo-content{
                @media only screen and (max-width:767px) {background-image:none !important;}
                background-repeat: no-repeat;
                background-size: 50% 100%;
                background-color: #333333;
                background-size: cover;
              }
              .domain-promo-text{padding:7% 2% 1%;}
              .text-center{color:#333;margin:0;padding:30px 0;text-transform:uppercase;}
              h1{display:inline;color:#fff;text-transform:none;font-size:1.6rem;font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;}
              h3{font-size:3.4rem;text-transform:uppercase;}
              .btn{margin-top:20px}
              .domain-promo-text div{max-width:360px;}
              .domain-promo-text .customer-website{font-size:12px;margin-top:40px;}
            }

      section#domain-promo.bg-green-official
        h2.text-center [@L[cds.sales/homepage/sections/_domain-promo:header-text]@L]
        div.domain-promo-content(data-src!="[@T[link:<imageroot />]@T]fos/hp/rebrand/img/Jones_Studio.jpg" data-img-class="jones-bg-image")
          .container
            .row
              .col-sm-6.col-sm-offset-6.col-xs-8.col-xs-offset-2.domain-promo-text
                h3.walsheim-black [@L[cds.sales/homepage/sections/_domain-promo:body-header-text]@L]
                div [@L[cds.sales/homepage/sections/_domain-promo:body-text]@L]
                a.btn.btn-default-light(data-url!="[@T[link:<relative path='/domains/domain-name-search.aspx'><param name='ci' value='95782' /></relative>]@T]") [@L[cds.sales/homepage/sections/_domain-promo:cta-text]@L]
                p.customer-website.hidden-xs [@L[cds.sales/homepage/sections/_domain-promo:customer-site-text]@L]

    block why-godaddy
      atlantis:webstash(type="css")
        style
          :less
            #why-godaddy{background-color:#ccc;}

      section#why-godaddy
        .container
          h2.text-center.walsheim-black [@L[cds.sales/homepage/sections/_why-godaddy:header-text]@L]
          .row
            .col-sm-4
              .feature
                block why-godaddy-feature-1
                  .why-gd-registrar
                    <!--[if lt IE 9]>
                    +lazyImg2('[@T[link:<imageroot />]@T]fos/hp/rebrand/img/location.png','','Pin Point Globe')
                    <![endif]-->
                    +lazyImg2('[@T[link:<imageroot />]@T]fos/hp/rebrand/img/location.svg','svgfallback','Pin Point Globe')
                    h3.walsheim-black [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-heading1]@L]
                    p [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-body1]@L]
            .col-sm-4
              .feature
                block why-godaddy-feature-2
                  .why-gd-prices
                  <!--[if lt IE 9]>
                  +lazyImg2('[@T[link:<imageroot />]@T]fos/hp/rebrand/img/tld-browser-01.png','','TLD Boards')
                  <![endif]-->
                  +lazyImg2('[@T[link:<imageroot />]@T]fos/hp/rebrand/img/tld-browser-01.svg','svgfallback','TLD Boards')
                  h3.walsheim-black [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-heading2]@L]
                  p [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-body2]@L]
            .col-sm-4
              .feature
                block why-godaddy-feature-3
                  .why-gd-support
                  <!--[if lt IE 9]>
                  +lazyImg2('[@T[link:<imageroot />]@T]fos/hp/rebrand/img/support_icon.png','','Support Icon')
                  <![endif]-->
                  +lazyImg2('[@T[link:<imageroot />]@T]fos/hp/rebrand/img/support_icon.svg','svgfallback','Support Icon')
                  h3.walsheim-black [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-heading3]@L]
                  p [@L[cds.sales/homepage/sections/_why-godaddy:why-godaddy-body3]@L]

    block website-promo
      atlantis:webstash(type="css")
        style
          :less
            #website-promo .shape-text{color:#333}
            #website-promo ul{margin-left:-20px;}
            #website-promo .bg-gray-darkest .two-up-text-wrap {
            @media (min-width: 1000px){margin-left:8.333333333333332%;}
            }
            .two-up-speech-shape.two-up-speech-shape-gold,.two-up-speech-shape.two-up-speech-shape-gold:after{background-color:#fedc45;}
            .two-up-speech-shape.two-up-speech-shape-gold:before{border-top-color:#fedc45;}
      section#website-promo
        +renderTwoUpCompare2({title: "[@L[cds.sales/homepage/sections/_website-promo:promo-title-text]@L]", twoUpCompareId: "website-promo", titleBackgroundColor: "bg-green-official", backgroundImage: "[@T[link:<imageroot />]@T]fos/hp/rebrand/img/sb/website_promo.jpg", style: "min-height: 100%;"})
          +twoUpCompareColumn({title: "[@L[cds.sales/homepage/sections/_website-promo:website-title-text]@L]", backgroundColor: "bg-gray-darkest", shapeText: "[@L[cds.sales/homepage/sections/_website-promo:website-shape-text]@L]", shapeColor: "gold", whiteText:"WhiteText"})
            ul
              li [@L[cds.sales/homepage/sections/_website-promo:website-feature-line1]@L]
              li [@L[cds.sales/homepage/sections/_website-promo:website-feature-line2]@L]
              li [@L[cds.sales/homepage/sections/_website-promo:website-feature-line3]@L]
            a.btn.btn-default-light.website-promo-wsb-btn(data-url!="[@T[link:<relative path='/hosting/website-builder.aspx'><param name='ci' value='95790' /></relative>]@T]") LEARN MORE
          +twoUpCompareColumn({title: "[@L[cds.sales/homepage/sections/_website-promo:hosting-title-text]@L]", backgroundColor: "gb-green-official-light", shapeText: "[@L[cds.sales/homepage/sections/_website-promo:hosting-shape-text]@L]", shapeColor: "gold"})
            ul
              li [@L[cds.sales/homepage/sections/_website-promo:hosting-feature-line1]@L]
              li [@L[cds.sales/homepage/sections/_website-promo:hosting-feature-line2]@L]
              li [@L[cds.sales/homepage/sections/_website-promo:hosting-feature-line3]@L]
            a.btn.btn-default-dark.website-promo-hosting-btn(data-url!="[@T[link:<relative path='/hosting/web-hosting.aspx'><param name='ci' value='95791' /></relative>]@T]") LEARN MORE    

    block o365-promo
      | 
      | ##if(productIsOffered(99))
      atlantis:webstash(type="css")
        style
          :less
            #o365-promo{padding-bottom:105px}
            #o365-promo h2{font-size:4.5rem;}
            #o365-promo h3{font-size:4rem;text-transform:uppercase;}
            #o365-promo .o365-promo-text p{max-width:420px;}
            #o365-promo .promo-flag{color:#000; font-family: 'Walsheim-Black', 'Arial Black', sans-serif;font-size:1.25em;padding:15px 20px;text-transform:uppercase;line-height:1;background-size:cover;overflow:visible;position:absolute;margin-top:100px;right:25%;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTgxLjggNjQuMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTgxLjggNjQuMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWdvbiBmaWxsPSIjRkVEQzQ1IiBwb2ludHM9IjE3LDAgMCwyNC4yIDMsNTYgMTY0LjUsNjQuMiAxODEuOCw0My44IDE4MSw0LjMgIi8+DQo8L3N2Zz4NCg==) no-repeat center center;}
            .Explorer8 #o365-promo .promo-flag{background-color:#fedc45}
            .o365-promo-text ul{list-style-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAWCAYAAADAQbwGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABaElEQVQ4y53UsWoVQRSA4e9eJCCIZXCLVDZ2+giWlrGToIXiWk1hY2OVGAVTpchWTmWTwkZCVFRs7AxYpEtESRdGfAEhoKbIBG7W3bu798DC7J6Z//x7mJmRGaOsiodYwQ98z8+30Yyw8zjApVrq9XhWwQYYrA42LKtiLv/mQi21FUNanMXwXgOMk34aZDjF7kMM6QYMNWyzWz4d9DbsY3fGsKyKq2VVXJjCvNNi92TyZVRWxTye4y5+YRUvYkhHE8XOYR+Xa7DPMaTrkx/G2M4wmMcG9sqqWCqr4rQltxtgZ3o3aXgFO7jYsGAXj3ORTjsYx5D2sYS/DcBreNdi97Sp0WOIIb3NJn1jJ4b0qRWYoWvY7AlcbkvUN/Z9fO1h974XMIb0G4v4OQX4bFq1/45eDOkQN3HUMH8XbwYBM/QLHjSkVmJI/wYDM/Ql1mt2Wzqi67Z5hI95vNZl1wmMIf3BrWz2qgsGx1qqaedhoYAzAAAAAElFTkSuQmCC);margin:0 0 20px -12px}
            .o365-promo-image{padding-top:115px;}

      section#o365-promo
        .container
          h2.text-center.walsheim-black [@L[cds.sales/homepage/sections/_o365-promo:header-text]@L]
          .row
            .col-sm-6.o365-promo-text
              h3.walsheim-black [@L[cds.sales/homepage/sections/_o365-promo:sub-header-text]@L]
              p [@L[cds.sales/homepage/sections/_o365-promo:body-text]@L]
              ul
                li [@L[cds.sales/homepage/sections/_o365-promo:plan-features-line1]@L]
                li [@L[cds.sales/homepage/sections/_o365-promo:plan-features-line2]@L]
                li [@L[cds.sales/homepage/sections/_o365-promo:plan-features-line3]@L]
              a.btn.btn-default-dark(data-url!="[@T[link:<relative path='/email-account.aspx'><param name='ci' value='95786' /></relative>]@T]") [@L[cds.sales/homepage/sections/_o365-promo:cta-text]@L]
            .col-sm-6
              .promo-flag [@L[cds.sales/homepage/sections/_o365-promo:promo-flag]@L]
              <!--[if lt IE 9]>
              +lazyImg2('[@T[link:<imageroot />]@T]fos/hp/rebrand/img/office365_laptop_002.png','o365-promo-image','Office 365 image')
              <![endif]-->
              +lazyImg2('[@T[link:<imageroot />]@T]fos/hp/rebrand/img/sb/office365_laptop_v2.svg','svgfallback o365-promo-image','Office 365 image')
      | 
      | ##endif

    block support-promo
      atlantis:webstash(type="css")
        style
          :less
            #support-promo{background-color:#333;padding-bottom:50px;}
            #support-promo h2{margin:35px 0 50px}
            #support-promo h3{margin-top:0;text-transform:uppercase;font-size:4rem;}
            #support-promo p{max-width:390px;}
            #support-promo .support-promo-text .container{padding:0}
            .support-promo-img{width:100%;
              @media only screen and (min-width:768px){width:80%;margin-left:10%;}
              @media only screen and (min-width:1200px){width:60%;margin-left:20%;}
            }
            .support-promo-number{font-size:2.0rem;margin-top:2%}

      section#support-promo
        .container
          h2.text-center.walsheim-black.text-white [@L[cds.sales/homepage/sections/_support-promo:header-text]@L]
          .row
            .col-xs-6.text-center
              <!--[if lt IE 9]>
              +lazyImg2('[@T[link:<imageroot />]@T]fos/hp/rebrand/img/support_main_illus.png','support-promo-img','GoDaddy Support')        
              <![endif]-->
              +lazyImg2('[@T[link:<imageroot />]@T]fos/hp/rebrand/img/support_main_illus.svg','svgfallback support-promo-img','GoDaddy Support')
            .col-xs-6
              .support-promo-text.text-white
                h3.walsheim-black [@L[cds.sales/homepage/sections/_support-promo:sub-header-text]@L]
                p [@L[cds.sales/homepage/sections/_support-promo:body-text]@L]
                .container
                  .row
                    .col-md-4.col-xs-12
                      a.btn.btn-default-light(data-url!="[@T[link:<external linktype='COMMUNITYURL'><param name='ci' value='95789' /></external>]@T]") [@L[cds.sales/homepage/sections/_support-promo:cta-text]@L]
                    .col-md-8.col-xs-12
                      .support-promo-number [@T[supportphone:<technical />]@T]

  block limitations
    section#limitations-social
      .container
        .row
          .col-md-8.col-sm.12
            p ‡, *, ‡‡, ºº, †† Product limitations and legal policies, 
              a(onClick="limitationsModal()") View
             #limitationsModal(data-title="Limitations",style="display:none")
                p One FREE .COM,<span class="tlds-all tlds-mx"> .COM.MX,</span><span class="tlds-all tlds-br"> .COM.BR,</span><span class="tlds-all tlds-ca"> .CA,</span><span class="tlds-all tlds-uk"> .UK., .CO.UK,</span> .CO, .NET, or .ORG with purchase of a new 12-, 24- or 36-month plan. Plus ICANN fee of [@T[currencyprice:<price usdamount="18" dropdecimal="false" />]@T] per domain name per year. You must add the domain name into your cart before purchase, and you must select a domain term length equal to or less than the term length of your plan to qualify for the free domain offer. If you purchase a domain name for a term longer than the term of the plan, you will be charged for the additional registration term at the then-current rate. Cannot be used in conjunction with any other offer, sale, discount or promotion. Free domain offer applies only to the initial purchase term. After the initial purchase term, domains purchased through this offer will renew at the then-current renewal price.
            span Third-party logos and marks are registered trademarks of their respective owners. All rights reserved.
          .col-md-4.col-sm.12
            .gdhp-share
              block share
                .fosshare(data-twshareurl!="[@T[link:<relative path=''></relative>]@T]" data-twtext!="[@L[cds.sales/homepage:twitter-text-gdbl]@L]" data-twrelated="GoDaddy" data-shareurl!="[@T[link:<relative path='/'/>]@T]" data-buttons="google,facebook,twitter")