block vars
  - var classes = (classes? classes + " hero polygon": "hero polygon")
  - var dataCI = dataCI || "";
  - var ctaLink = ctaLink || "";
  - var xsBannerColor = xsBannerColor || "transparent";
  - var leftImage = leftImage || "";
  - var leftImageFallback = leftImageFallback || leftImage;
  - var rightImage = rightImage || "";
  - var rightImageFallback = rightImageFallback || rightImage;
  - var xsLeftImage = xsLeftImage || "";
  - var xsLeftImageFallback = xsLeftImageFallback || xsLeftImage;
  - var xsRightImage = xsRightImage || "";
  - var xsRightImageFallback = xsRightImageFallback || xsrightImage;

atlantis:webstash(type="css")
  block heroStyles
    style
      :less
        .leftContent{overflow:hidden;position:relative;width:100%;}
        .rightContent{overflow:hidden;position:relative;width:100%;}
        /* Large desktop */
        @media (min-width: 1200px) {
        .leftContent{background:url(!{leftImage}) no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
        .rightContent{background:url(!{rightImage}) no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
        }
        /* Portrait tablet to landscape and desktop */
        @media (min-width: 768px) and (max-width: 979px) {
        .leftContent{background:url(!{xsLeftImage}) no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
        .rightContent{background:url(!{xsRightImage}) no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
        }
        /* Landscape phone to portrait tablet */
        @media (max-width: 767px) {
        .leftContent{background:url(!{xsLeftImage}) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
        .rightContent{background:url(!{xsRightImage}) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
        }
        /* Landscape phones and down */
        @media (max-width: 480px) {
        .leftContent{background:url(!{xsLeftImage}) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
        .rightContent{background:url(!{xsRightImage}) no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
        }
div(class=classes data-url!=ctaLink, data-ci=dataCI)
  .heroContentWrapper
    .leftContainer
      .leftContent.col-xs-12.col-md-6
        block leftContent
    .rightContainer
      .rightContent.col-xs-12.col-md-6
        block rightContent