extend ./_tile.jade

block append vars
  - logoImage              = logoImage || "";
  - logoImageFallback      = logoImageFallback || "";
  - logoText               = logoText || "";
  - promoText              = promoText || "";
  - ctaText                = "Save up to [@T[productcompare:<percent primaryproductid='"+merchTilePFID+"' secondaryproductid='"+merchTilePFID+"' showsymbol='true'/>]@T]";
  - merchTilePFID          = merchTilePFID || "";
  - ctaTextContainsPercent = ctaTextContainsPercent || false;
  - ctaFallBackText        = ctaFallBackText || "";

block tileContent
  .promo-logo-wrapper
    if (logoImageFallback)
      <!--[if lt IE 9]>
      img.promo-logo(src!=logoImageFallback)
      <![endif]-->
      img.promo-logo.svgfallback(src!=logoImage)
    else
      img.promo-logo(src!=logoImage)
    if (logoText)
      .promo-logo-text.walsheim-black !{logoText}
  .promo-text.walsheim-black !{promoText}
  block tileCta
    .promo-cta
      if (ctaTextContainsPercent)
        | ##if(productHasSavingsMoreThan(!{merchTilePFID}, !{merchTilePFID}, 0))
        | <a class="walsheim-black" href="!{ctaLink}">!{ctaText}</a>
        | ##else
        | <a class="walsheim-black" href="!{ctaLink}">!{ctaFallBackText}</a>
        | ##endif
      else
        a.walsheim-black(href!=ctaLink) !{ctaText} 
