extends _p4p.jade

append vars
  - page.title = "Get Online Online Store";
  - page.description = "Get Online Online Store Description";
  - page.keywords = "Get Online Online Store Keywords"; 
  - page.canonical = "[@T[link:<relative parammode='explicit' path='~/getonline/getonline.aspx' />]@T]";

  - page.openGraph = page.openGraph || {};
  - page.openGraph.title = "Get Online OG Online Store";
  - page.openGraph.description = "Get Online OG Online Store Description";
  - page.openGraph.image = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/og_got_1200x630.jpg";

  - page.links = page.links || {};
  - page.links.canonical = "[@T[link:<relative parammode='explicit' />]@T]";
  - page.links.favicon = "[@T[link:<imageroot />]@T]assets/godaddy.ico";

  - productToDisplay = productToDisplay || {};
  - productToDisplay.name = "Online Store";
  - productToDisplay.landingPage = "getonline/online-store.aspx"
  - productToDisplay.packageId = "getonline_online_store";
  - productToDisplay.itcCode = "slp_getonline_store";
  - productToDisplay.pricing.promo_monthly = "[@T[multipleproductprice:<current productidlist='464069|101|40972' period='monthly' promocode='75315678' />]@T]";
  - productToDisplay.pricing.promo_annual = "[@T[multipleproductprice:<current productidlist='464069|101|40972' period='yearly' promocode='75315678' />]@T]";
  - productToDisplay.pricing.renewal_annual = "[@T[multipleproductprice:<list productidlist='464069|101|40972' period='yearly'></list>]@T]";
  - productToDisplay.getItNowDescription = "Easily create a site that let’s you sell your stuff, accept credit cards and more.";
  - productToDisplay.productImgUrl = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-onlineStore.png";
  - productToDisplay.productIconUrl = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-onlineStore.png";
  - productToDisplay.productDescription = "Get everything you need to sell your stuff across town or around the world. Accept credit cards, offer flexible shipping options and more.";
  - productToDisplay.productInfoImageUrl = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-onlinestore-monitor.png";
  - productToDisplay.productYouTubeId = "rMF9d8-3WBA";
  - productToDisplay.productVideoInfoText = "What is Online Store?";
  - productToDisplay.productInfoText = "";
  - productToDisplay.productDidYouKnowText = "Online Store includes professional themes, so you can sell your products online without having to know a thing about web design.";
  - productToDisplay.topButtonCI = "96294";
  - productToDisplay.bottomButtonCI = "96298";
  - productToDisplay.bottomSearchCI = "96296";
  - productToDisplay.viewTemplatesCI = "96299";
  - productToDisplay.playButtonCI = "96300";

block targetedProduct
  .column.website
    img.img-responsive.center-block(src!="#{productToDisplay.productImgUrl}")
    h3.text-center #{productToDisplay.name}
    p #{productToDisplay.getItNowDescription}

block productSection
  section#online-store.product-section
    .container
      .row
        .col-sm-10.col-sm-offset-1
          img.img-responsive.center-block(src!="#{productToDisplay.productIconUrl}")
          h2.text-center #{productToDisplay.name}
          h4.text-center #{productToDisplay.productDescription}
      section.video-marquee-wrapper(data-youtube-id="#{productToDisplay.productYouTubeId}")
        .container
          div(data-lazyload-source!="#{productToDisplay.productInfoImageUrl}", data-ci="xxxxxx", class="lazyload video-marquee video-marquee-black full-video monitor")
          .row
            .col-sm-4
            div(data-lazyload-source!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-monitor-base.png", class="lazyload monitor-base col-sm-4")  
            div.video-info.col-sm-4
              div.video-marquee-info.text-center
                div(data-lazyload-source!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-play-green.png", class="lazyload img-play-green play-button")
                h4.uppercase.walsheim-bold !{productToDisplay.productVideoInfoText}
                button.cta.btn.btn-default-dark.btn-md.uppercase(id='watchVideo',style={'margin':'20px auto'}, data-toggle='modal',data-target='#g-modal') Watch Now

      .row.bubble-row
        .col-xs-2
          img.hero-guy(src="https://img1.wsimg-com.ide/fos/sales/themes/montezuma/getonline/img/img-hero-guy.png")
        .col-xs-10.col-sm-8.col-lg-6.bubble
          mark.uppercase Did you know...
          p #{productToDisplay.productDidYouKnowText}

block bottomTargetedProduct
  .column.website
    img.img-responsive.center-block(src!="#{productToDisplay.productImgUrl}")
    h3 #{productToDisplay.name}
