extends _p4p.jade

append vars
  - page.title = "Get Online Web Hosting";
  - page.description = "Get Online Web Hosting Description";
  - page.keywords = "Get Online Web Hosting Keywords"; 
  - page.canonical = "[@T[link:<relative parammode='explicit' path='~/getonline/getonline.aspx' />]@T]";

  - page.openGraph = page.openGraph || {};
  - page.openGraph.title = "Get Online OG Web Hosting";
  - page.openGraph.description = "Get Online OG Web Hosting Description";
  - page.openGraph.image = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/og_got_1200x630.jpg";

  - page.links = page.links || {};
  - page.links.canonical = "[@T[link:<relative parammode='explicit' />]@T]";
  - page.links.favicon = "[@T[link:<imageroot />]@T]assets/godaddy.ico";

  - productToDisplay = productToDisplay || {};
  - productToDisplay.name = "Web Hosting";
  - productToDisplay.landingPage = "getonline/web-hosting.aspx"
  - productToDisplay.packageId = "getonline_web_hosting";
  - productToDisplay.itcCode = "slp_getonline_hosting";
  - productToDisplay.dppErrorReturnUrl = "[@T[link:<relative path='~/getonline/web-hosting.aspx'><param name='tldRegErr' value='tldRegErr' /></relative>]@T]";
  - productToDisplay.pricing.promo_monthly = "[@T[multipleproductprice:<current productidlist='101|32051' period='monthly' promocode='75315678' />]@T]";
  - productToDisplay.pricing.promo_annual = "[@T[multipleproductprice:<current productidlist='101|32051' period='yearly' promocode='75315678' />]@T]";
  - productToDisplay.pricing.renewal_annual = "[@T[multipleproductprice:<list productidlist='101|32051' period='yearly'></list>]@T]";
  - productToDisplay.getItNowDescription = "Give your site a home that’ll keep it secure and running like sports car.";
  - productToDisplay.productImgUrl = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-hosting.png";
  - productToDisplay.productIconUrl = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-hosting.png";
  - productToDisplay.productDescription = "Hosting is what makes it possible for others to view your website. Without it, your site’s just sitting on your computer, all sad and lonely.";
  - productToDisplay.productInfoImageUrl = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-wordpress-laptop.png";
  - productToDisplay.productYouTubeId = "";
  - productToDisplay.productVideoInfoText = "";
  - productToDisplay.productInfoText = "Our hosting plans feature industry-leading page load times, cPanel® or Parallels® Plesk control panels and 99.9% guaranteed uptime. If none of this means anything to you, it’s ok. Just share this with whoever built your site. They’ll love it.";
  - productToDisplay.productDidYouKnowText = "Google® uses site speed as a criteria for search ranking, so a fast website can actually get you listed higher and help drive more traffic?";
  - productToDisplay.topButtonCI = "96307";
  - productToDisplay.bottomButtonCI = "96306";
  - productToDisplay.bottomSearchCI = "96310";
  - productToDisplay.hostingFlow = {};
  - productToDisplay.hostingFlow.arrowUR = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/hosting-flow/img-arrow-up-right2.png";
  - productToDisplay.hostingFlow.globe = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/hosting-flow/img-globe2.png";
  - productToDisplay.hostingFlow.arrowRD = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/hosting-flow/img-arrow-right-down2.png";
  - productToDisplay.hostingFlow.servers = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/hosting-flow/img-server2.png";
  - productToDisplay.hostingFlow.arrowL = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/hosting-flow/img-arrow-bottom.png";
  - productToDisplay.hostingFlow.site = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/hosting-flow/img-site2.png";

append pageStyles
  style.
    .column {width: 35%; display: inline-block;vertical-align:top;}
    .plus {width: 10%;display: inline-block;text-align: center;font-size: 6rem;font-weight: 700;position: relative;font-family: Walsheim-Black; margin-top:25px;}
    #bottomGetItNow.bg-medium.column {width: 30%;!important}

block productContent
  .row
    .col-xs-12.col-sm-8.col-sm-offset-4.products
      .column.domain
        img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-domainName.png")
        h3.text-center Domain Name
        p Get a memorable online address, like <mark class="selected-domain-name-display"></mark>
      .plus +
      block targetedProduct
        .column.website
          img.img-responsive.center-block(src!="#{productToDisplay.productImgUrl}")
          h3.text-center #{productToDisplay.name}
          p #{productToDisplay.getItNowDescription}
  .row
    .col-xs-12.col-sm-9.col-sm-offset-3.cta
      p.text-center.price-token Get the bundle for {price_monthly}/month for the first year*
      button(data-ci="#{productToDisplay.topButtonCI}").btn.btn-purchase.btn-lg.center-block Get It Now
      small.text-center.price-token *Bundle cost is {price_annual}/year and {renewal_annual}/year after the first year

block productSection
  section#web-hosting.product-section
    .container
      .row
        .col-sm-10.col-sm-offset-1
          img.img-responsive.center-block(src!="#{productToDisplay.productIconUrl}")
          h2.text-center #{productToDisplay.name}
          h4.text-center #{productToDisplay.productDescription}
          div.product-summary.text-center(style="width:auto;display:table;margin:40px auto;max-width:900px")
            .row
              .col-md-4.col-md-push-4(style="padding:0;margin-bottom:30px;")
                div(style="display:table;margin:auto;")
                  img.img-responsive(src!="#{productToDisplay.hostingFlow.globe}")
                div.text-center(style="margin:auto;")
                  | World Wide Web
                  .row: img.hidden-sm.hidden-xs.img-responsive(src!="#{productToDisplay.hostingFlow.arrowL}", style="margin:40px 0 0 12px;")
              .col-md-4.col-md-pull-4(style="padding:0;margin-bottom:30px;")
                .row: img.hidden-sm.hidden-xs.img-responsive(src!="#{productToDisplay.hostingFlow.arrowUR}", style="margin-left:33%;")
                .row  
                  div.col-md-offset-2.col-md-11.col-sm-12(style="margin-top:-9%;padding:0;")
                    img.img-responsive(src!="#{productToDisplay.hostingFlow.servers}", style="margin:auto;")
                    div(style="margin:auto -10px;")
                      | GoDaddy Hosting  
              .col-md-4(style="padding:0;margin-bottom:30px;")
                .row: img.hidden-sm.hidden-xs.img-responsive(src!="#{productToDisplay.hostingFlow.arrowRD}", style="margin-left:-33%;")
                .row
                  div.col-md-11.col-sm-12(style="padding:0;")
                    img.img-responsive(src!="#{productToDisplay.hostingFlow.site}", style="margin:auto;")
                    div.text-center
                      | <mark class="business-name-display">Domain Name</mark>
          p.text-center #{productToDisplay.productInfoText}
      .row.bubble-row
        .col-xs-2
          img.hero-guy(src="https://img1.wsimg-com.ide/fos/sales/themes/montezuma/getonline/img/img-hero-guy.png")
        .col-xs-10.col-sm-8.col-lg-6.bubble
          mark Did you know...
          p #{productToDisplay.productDidYouKnowText}

block office365
  section#O365-email.product-section.bg-medium
    .container
      .row
        .col-sm-10.col-sm-offset-1
          img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-365email-icon.png")
          h2.text-center Memorable Email
          h3.text-center Create up to 100 branded addresses that are built on your domain name.
          .h2.text-center.product-summary <mark>yourname@<span class="selected-domain-name-display"></span></mark>
      .row.bubble-row
        .col-xs-10.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-4.bubble.left
          mark Did you know...
          p Customers are 9 times more likely to choose a business with a professional email address?*
        .col-xs-2
          img.hero-guy.left(src="https://img1.wsimg-com.ide/fos/sales/themes/montezuma/getonline/img/img-hero-guy.png")

block bottomGetItNow
  section#bottomGetItNow.bg-medium
    .container.text-center
      .row
        h2 Ready to Get Online?
        h3#got-domain-not-selected First select your perfect domain
        h3#got-domain-selected.price-token(style="display: none; ") You've found the perfect domain, <mark class="selected-domain-name-display"></mark>, and we have an excellent starter pack starting at <mark id="product-price">{price_monthly}</mark>
      .row
        .column.domain
          img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-domainName.png")
          h3 Domain Name
        .plus +
        block bottomTargetedProduct
          .column.website
            img.img-responsive.center-block(src!="#{productToDisplay.productImgUrl}")
            h3 #{productToDisplay.name}
      .row
        h3.price-token {price_monthly}/month for the first year*
        button(data-ci="#{productToDisplay.bottomSearchCI}", style="display: none;")#bottomSearchAgain.btn.btn-primary.btn-search-again.btn-lg Search Again
        button(data-ci="#{productToDisplay.bottomButtonCI}").btn.btn-purchase.btn-lg Get It Now
        small.price-token *Bundle cost is {price_annual}/year and {renewal_annual}/year after the first year
