extends _p4p.jade

append vars
  - page.title = "Get Online Managed Wordpress";
  - page.description = "Get Online Managed Wordpress Description";
  - page.keywords = "Get Online Managed Wordpress Keywords"; 
  - page.canonical = "[@T[link:<relative parammode='explicit' path='~/getonline/getonline.aspx' />]@T]";

  - page.openGraph = page.openGraph || {};
  - page.openGraph.title = "Get Online OG Managed Wordpress";
  - page.openGraph.description = "Get Online OG Managed Wordpress Description";
  - page.openGraph.image = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/og_got_1200x630.jpg";

  - page.links = page.links || {};
  - page.links.canonical = "[@T[link:<relative parammode='explicit' />]@T]";
  - page.links.favicon = "[@T[link:<imageroot />]@T]assets/godaddy.ico";

  - productToDisplay = productToDisplay || {};
  - productToDisplay.name = "Managed Wordpress";
  - productToDisplay.landingPage = "getonline/wordpress.aspx"
  - productToDisplay.packageId = "getonline_wordpress";
  - productToDisplay.itcCode = "slp_getonline_wordpress";
  - productToDisplay.dppErrorReturnUrl = "[@T[link:<relative path='~/getonline/wordpress.aspx'><param name='tldRegErr' value='tldRegErr' /></relative>]@T]";
  - productToDisplay.pricing.promo_monthly = "[@T[multipleproductprice:<current productidlist='464069|101|32759' period='monthly' promocode='511092015' />]@T]";
  - productToDisplay.pricing.promo_annual = "[@T[multipleproductprice:<current productidlist='464069|101|32759' period='yearly' promocode='511092015' />]@T]";
  - productToDisplay.pricing.renewal_annual = "[@T[multipleproductprice:<list productidlist='464069|101|32759' period='yearly'></list>]@T]";
  - productToDisplay.getItNowDescription = "Start a blog with WordPress and let us manage the technical stuff.";
  - productToDisplay.productImgUrl = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-wordPress.png";
  - productToDisplay.productIconUrl = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-features-wordPress.png";
  - productToDisplay.productDescription = "We’ll handle all the technical stuff like server setup, security and backups, while you build your blog with the world’s most popular website creation tool.";
  - productToDisplay.productInfoImageUrl = "[@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-wordpress-laptop.png";
  - productToDisplay.productYouTubeId = "";
  - productToDisplay.productVideoInfoText = "";
  - productToDisplay.productInfoText = "WordPress makes it easy to create, manage and publish your website or blog – all from your web browser. Make changes across your entire site at once, instead of a page at a time. Even add advanced features by simply installing one of 1000s of free plugins.";
  - productToDisplay.productDidYouKnowText = "As open source software, WordPress allows developers to create their own plugins that you can install to add new features to your site?";
  - productToDisplay.topButtonCI = "96305";
  - productToDisplay.bottomButtonCI = "96304";
  - productToDisplay.bottomSearchCI = "96301";

block targetedProduct
  .column.website
    img.img-responsive.center-block(src!="#{productToDisplay.productImgUrl}")
    h3.text-center #{productToDisplay.name}
    p #{productToDisplay.getItNowDescription}

block productSection
  style.
    .wordpress-laptop{height:195px;margin-top:38px;background: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-wordpress-laptop.png) no-repeat center bottom;}
    .wordpress-arrows{height:39px;margin-top:10px;background: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-wordpress-arrows.png) no-repeat center bottom;}
    .wordpress-browser{height:233px;background: url([@T[link:<imageroot />]@T]fos/sales/themes/montezuma/getonline/img/img-wordpress-browser.png) no-repeat center bottom;}
    .product-info-text{margin-top:20px;margin-bottom:85px;}

  section#wordpress.product-section
    .container
      .row
        .col-sm-10.col-sm-offset-1
          img.img-responsive.center-block(src!="#{productToDisplay.productIconUrl}")
          h2.text-center #{productToDisplay.name}
          h4.text-center #{productToDisplay.productDescription}
      .row
        .col-sm-4
          .wordpress-laptop
          h5.uppercase.text-center(style={'margin-top':'10px'}) enter your blog post
        .col-sm-4
          h5.uppercase.text-center(style={'margin-top':'100px'}) publish
          .wordpress-arrows
        .col-sm-4
          .wordpress-browser
          h5.uppercase.text-center(style={'margin-top':'10px'}) <mark><span class="selected-domain-name-display"></span></mark>
      .row
        .col-sm-10.col-sm-offset-1(style={'margin-top':'25px'})
          //- img.img-responsive.product-summary(src!="#{productToDisplay.productInfoImageUrl}")
          p.text-center #{productToDisplay.productInfoText}
      .row.bubble-row
        .col-xs-2
          img.hero-guy(src="https://img1.wsimg-com.ide/fos/sales/themes/montezuma/getonline/img/img-hero-guy.png")
        .col-xs-10.col-sm-8.col-lg-6.bubble
          mark Did you know...
          p #{productToDisplay.productDidYouKnowText}

block bottomTargetedProduct
  .column.website
    img.img-responsive.center-block(src!="#{productToDisplay.productImgUrl}")
    h3 #{productToDisplay.name}
