extends ../../templates/pages/landing-page

//- page specific mixins added here
mixin tldSuggestItem()

block pageStyles
  style.
    .plan-tile { margin-top: 70px; }
    .search-template .search-template-box { margin-bottom: 10px; }
    #domainSearch a { color: #333; font-weight: bold; margin-right: 30px; }
    #domainSearch { padding-bottom: 10px; }
    
block domainSearch
  //- remove domain search from top of hosting page

block marquee
  section#marquee
    include ./domain-search/marquee.jade
  section#domainSearch.bg-green-official
    .container
      .row
        .col-xs-12(style="padding-top:10px;")
          h4 Start your domain name search here
      +domainSearchInput()
      .row
        .col-xs-12
          a Domain Pricing
          a Bulk Domain Search
          a Transfer Domains      

block plans
  section#plans
    +renderPlanTiles(4)
      +planTile
        include ./domain-search/plan-tld-com.jade
      +planTile
        include ./domain-search/plan-tld-net.jade
      +planTile
        include ./domain-search/plan-tld-org.jade
      +planTile
        include ./domain-search/plan-tld-info.jade
      .container
        .row
          .col-sm-12
            h3.text-center So What All Do You Get?
        .row
          .col-md-4.col-sm-6
            .include-check Simple domain set up - no technical skills needed. Honest.
            .include-check Quickly forward your domain to any existing website
          .col-md-4.col-sm-6
            .include-check Up to 100 subdomains (like pics.coolexample.com) to customize your site.
            .include-check 100 professional email aliases (like sales@coolexample.com).
          .col-md-4.col-sm-6
            .include-check Real-time monitoring to keep you up and running


  section.features-carousel-pro-carousel#test-carousel
    style.
      #test-carousel .plan-carousel-copy { font-family: 'Walsheim-Black'; font-size: 24px; }
      #test-carousel .btn { margin-top: 40px; }
    +carousel("my-carousel", 3)
      +carouselItem()
        .plan-carousel-copy(style="text-transform: uppercase;") FINALLY! A WEB ADDRESS THAT TELLS PEOPLE EXACTLY WHAT YOU DO
        .plan-carousel-copy .attorney, .church, .club, .xyz and .guide are now available.
        a.btn.btn-default-dark Search Domains Now
      +carouselItem()
        .plan-carousel-copy(style="text-transform: uppercase;") 30% OFF
        .plan-carousel-copy .global, .email, .website, .guru, .army now.
        a.btn.btn-default-dark Search Domains Now
      +carouselItem()
        .plan-carousel-copy SAVE up to 50% when you get online with
        .plan-carousel-copy .com, .net, .co, .org, .me, .biz, or .us
        a.btn.btn-default-dark Search Domains Now

block sections  
  +renderMidPageNav
    +priceBlock("$69.99", "year", "#alternate-products")

  section#speed-chart
    .container
      style.
        #speed-chart { min-height: 400px; }
        #speed-chart h3 { margin: 50px auto; text-align: center; }
        #speed-chart img { margin: 50px auto; display: block; }
      .speed-chart
        h3 Fast Sites = Happy Visitors
        img(src!="[@T[link:<imageroot />]@T]fos/mike/img/pro-wp-speed.png")
        .speed-text
          img()

  section#features.key-benefits-wrap.tile-section.bg-pro-gray(data-mid-nav-title="Why GoDaddy?")
    .container
      .row
        .col-sm-12(style="padding-top: 30px; padding-bottom: 30px;")
          h2 Why Choose GoDaddy?
          h3 With more than 58 million domains under management, we have more experience than anyone.  We're like your favorite local store that's been there for ages and always seems to have everything you need.
      .row
        .col-sm-4.key-benefit
          .key-benefits-img-wrap
            //- +lazyImage("[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_Group_ScalableResources.png")
            img.key-benefits-img(src != "[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_Group_ScalableResources.png")
          h3.key-benefits-title World's Largest Registrar
          .key-benefits-text More people trust us than any other domain provider.  Since the right domain name can set you up for future success, you don't want to mess around.  Go with the world's largest registrar.
        .col-sm-4.key-benefit
          .key-benefits-img-wrap
            img.key-benefits-img(src != "[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_Group_Security.png")
          h3.key-benefits-title Widest Selection on the Web
          .key-benefits-text Every time you enter a name in our domain serach box, our powerful engine searces the web's largest pool of names.  There's no better place to find the right domain name for your business.
        .col-sm-4.key-benefit
          .key-benefits-img-wrap
            img.key-benefits-img(src != "[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_Group_WhatIsHosting.png")
          h3.key-benefits-title Award-Winning 24/7 Support
          .key-benefits-text Stumped by... anything?  Our smart, friendly domain experts are here to help.  Call them day or night at (480) 505-8877.

  section#features.key-benefits-wrap.tile-section.bg-pro-gray(data-mid-nav-title="Options")
    .container
      .row
        .col-sm-4.key-benefit
          .key-benefits-img-wrap
            //- +lazyImage("[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_Group_ScalableResources.png")
            img.key-benefits-img(src != "[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_Group_ScalableResources.png")
          h3.key-benefits-title Scalable resources on-demand
          .key-benefits-text When you need more power, level up your CPU, memory, entry processes and I/O with just a click. Access the Stats & Usage dashboard for real-time visibility to your sites’ resource usage. Even get alerts as you approach your limits so you can react quickly and keep your site running at top speed.
        .col-sm-4.key-benefit
          .key-benefits-img-wrap
            img.key-benefits-img(src != "[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_Group_Security.png")
          h3.key-benefits-title Award-winning security keeps your site safe
          .key-benefits-text Keeping a website secure is a full time job. That’s why our security team is on the job 24/7, monitoring your site for suspicious activity and protecting it against brute force and DDoS attacks.
        .col-sm-4.key-benefit
          .key-benefits-img-wrap
            img.key-benefits-img(src != "[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_Group_WhatIsHosting.png")
          h3.key-benefits-title What is Hosting?
          .key-benefits-text Make sure friends, family and customers can see your website. Hosting is what makes it possible for others to view your website over the Internet. Without it, you’re the only one who will ever get a look. GoDaddy serves up:
            ul
              li One-click set-up
              li Unlimited storage and bandwidth
              li Scalability to fit your needs
              li 24/7 secure monitoring

if (tldColumns)
  if (domainsPlansTitle)
    .row
      .col-md-10.col-md-offset-1.col-sm-12
        h2.text-center.domains-plans-mid-title !{domainsPlansTitle}
  .row
    each tldColumn in tldColumns
      .col-sm-6
        h6.tld-col-title !{markdownToHtml(tldColumn.title)}
        .row
          .col-sm-12
            each tldLookup in tldColumn.tldLookups
              .input-group.non-input-group
                .form-control !{tldLookup.tldName}
                span.input-group-btn
                  a(class="btn #{tldLookup.buttonColor}", href="#{tldLookup.link}") !{tldLookup.buttonText}