// start marquee section
atlantis:webstash(type="css")
  style.
    .gdhp-marquee{width:100%;min-width:1000px;height:400px;cursor:pointer;}
    .gdhp-marquee-content{width:1000px;margin:0 auto;color:#ffffff;}
    .gdhp-marquee-text-left{float:left;width:500px;padding-top:80px;}
    .gdhp-marquee-text-right{float:left;width:325px;height:320px;padding-top:80px;text-align:center;margin-left:90px;color:#000;}
    .gdhp-hidden{visibility:hidden}
    .headline { line-height: 0.9; font-family: 'Walsheim-Black';}
    .headline .line:nth-child(odd) { font-family: Tungsten, 'Tungsten A', 'Tungsten B', 'Helvetica Neue', Helvetica, Arial;}
    .headline .line:nth-child(even) { font-family: 'Walsheim-Black'; }
    .btn-cta { width: 100%; box-sizing: border-box; margin-top: 50px;}
    .inline-dash{display:inline-block;overflow:hidden;letter-spacing:-0.5em;font-size:1.4em;vertical-align:top;line-height:50%;}
  if customCSS
    style!= customCSS
div.gdhp-marquee.js-gdhpclick(id=elementId,data-url!=ctaLink)
  div.gdhp-marquee-content
    div.gdhp-marquee-text-left.gdhp-hidden
      div.headline!= headline
    div.gdhp-marquee-text-right.gdhp-hidden
      div.gdhp-marquee-sub-headline
        div.headline!= subHeadline
      span.btn.btn-warning.btn-lg.btn-cta(id=elementId + '-btn')!= ctaText
atlantis:webstash(type="js")
  script(src!="[@T[link:<javascriptroot />]@T]fos/hp/rebrand/js/bigtext.min.js")
script(type='text/javascript').
  $(window).load(function () {
    $('.gdhp-marquee-text-left,.gdhp-marquee-sub-headline').bigtext({minfontsize: 48});
    $('.gdhp-marquee-text-left,.gdhp-marquee-text-right').removeClass('gdhp-hidden');
  });
// end marquee section