// start marquee section
| 
<atlantis:webstash type="css">
style!=marquee.customCSS + ".gdhp-marquee{width:100%;min-width:1000px;height:400px;cursor:pointer;background:" + marquee.backgroundImage + ";}.gdhp-marquee-content{width:1000px;margin:0 auto;color:#ffffff;}.gdhp-marquee-text-left{float:left;width:500px;padding-top:80px;}.gdhp-marquee-text-right{float:left;width:325px;height:320px;padding-top:80px;text-align:center;margin-left:90px;}.gdhp-marquee-text-left>span,.gdhp-marquee-text-right>span{display:block;}.gdhp-marquee-text-right>.btn-wrap{padding:35px 0;text-align:left;}.gdhp-marquee-text-right>.btn-wrap>.btn-warning{font-size:30px;padding:15px 75px 12px;}"
style.   
    .gdhp-hidden{visibility:hidden}
    .gdhp-marquee-text-left .line:nth-child(odd) { line-height: 0.78; font-family: Tungsten, 'Tungsten A', 'Tungsten B', 'Helvetica Neue', 'Segoe UI', Segoe, Helvetica, Arial, 'Lucida Grande', sans-serif; position: relative; top: -0.01em;}
    .gdhp-marquee-text-left .line:nth-child(even) { line-height: 0.78; font-family: 'Walsheim-Black'; }
    .gdhp-marquee-text-right .line:nth-child(odd) { line-height: 0.78; font-family: 'Walsheim-Black'; }
    .gdhp-marquee-text-right .line:nth-child(even) { line-height: 0.78; font-family: 'Walsheim-Black'; }
    .inline-dash{display:inline-block;overflow:hidden;letter-spacing:-0.5em;font-size:1.4em;vertical-align:top;line-height:50%;}

| 
</atlantis:webstash>
div.gdhp-marquee.js-gdhpclick(id=marquee.marqID,data-url!=marquee.dataUrl)
  div.gdhp-marquee-content
    div.gdhp-marquee-text-left.gdhp-hidden
      each leftText in marquee.leftText
        div(class=leftText.cssClasses).line!= leftText.text
    div.gdhp-marquee-text-right.gdhp-hidden
      each rightText in marquee.rightText
        span(class=rightText.cssClasses).line= rightText.text
      div.btn-wrap
        span(id=marquee.marqID + '-btn',class=marquee.buttonCssClasses)= marquee.buttonText
script(type='text/javascript').
  jQuery(window).load(function () {
    jQuery('.gdhp-marquee-text-left,.gdhp-marquee-text-right').bigtext();
    jQuery('.gdhp-marquee-text-left,.gdhp-marquee-text-right').removeClass('gdhp-hidden');
  });
// end marquee section