block vars
  - image = image || ""
  - title = title || ""
  - subtitle = subtitle || ""
  - text = text || ""
  - buttonText = buttonText || ""
  - buttonUrl = buttonUrl || ""
  - whiteText = whiteText || ""
  - backgroundColor = backgroundColor || ""
  - backgroundImage = backgroundImage || ""
  - lazyLoad = lazyLoad || false
  
- var featuresWrapClass = ""

if (presentationTemplate === "featuresRightText"  || presentationTemplate === "featuresLeftText")
  - featuresWrapClass = "features-wrap"
else if (presentationTemplate === "featuresSlim")
  - featuresWrapClass = "features-slim"

//- Features layouts
div(class="features tile-section #{featuresWrapClass ? featuresWrapClass : ''} #{whiteText ? 'text-white' : ''} #{backgroundColor ? backgroundColor : ''}", style = (typeof backgroundImage != 'undefined' && !lazyLoad ? 'background-image: url(' + backgroundImage + ');' : ''), data-lazy-load = (typeof backgroundImage != 'undefined' && lazyLoad ? '{"src":"#{backgroundImage}"}' : ''))
  .container
    .row

      //- Features Half-half right text
      if (presentationTemplate === "featuresRightText")
        .col-sm-6
          if (image)
            div.text-center(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features-wrap"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
              img.features-img.features-img-left(src="#{lazyLoad ? 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' : image}", data-lazy-load = lazyLoad ? '{"src":"#{image}","watch":".key-benefits-wrap","callback":"triggerResize"}' : '', alt="#{altText ? altText : ''}")
        .col-sm-6
          div(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
            if (title)
              h2 !{title}

            if (subtitle)
              h4.features-subtitle !{markdownToHtml(subtitle)}

            if (text)
              .features-text !{markdownToHtml(text)}

            if (buttonText && buttonUrl)
              a(href="#{buttonUrl}", class="btn #{buttonColor ? buttonColor : 'btn-default'}" ) !{buttonText}

      //- Features Half-half left text
      if (presentationTemplate === "featuresLeftText")
        .col-sm-6.col-sm-push-6
          if (image)
            div.text-center(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
              img.features-img.features-img-right(src="#{lazyLoad ? 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' : image}", data-lazy-load = typeof lazyLoad != 'undefined' && lazyLoad ? '{"src":"' + image + '","callback":"triggerResize"}' : '', alt="#{altText ? altText : ''}")

        .col-sm-6.col-sm-pull-6
          div(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
            if (title)
              h2 !{title}

            if (subtitle)
              h4.features-subtitle !{markdownToHtml(subtitle)}

            if (text)
              .features-text !{markdownToHtml(text)}

            if (buttonText && buttonUrl)
              a(href="#{buttonUrl}", class="btn #{buttonColor ? buttonColor : 'btn-default'}" ) !{buttonText}


      //- Features smil with left text
      if (presentationTemplate === "featuresSlim")
        .col-sm-6
          div(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
            if (title)
              h2 !{title}

            if (subtitle)
              h4.features-subtitle !{markdownToHtml(subtitle)}

            if (text)
              .features-text !{markdownToHtml(text)}

            if (buttonText && buttonUrl)
              a(href="#{buttonUrl}", class="btn #{buttonColor ? buttonColor : 'btn-default'}" ) !{buttonText}

        .col-sm-6
          if (image)
            div.text-center(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
              img.features-img.features-img-right-slim(src="#{lazyLoad ? 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' : image}", data-lazy-load = typeof lazyLoad != 'undefined' && lazyLoad ? '{"src":"' + image + '","callback":"triggerResize"}' : '', alt="#{altText ? altText : ''}")
