block vars
  - image = image || ""
  - imageSide = imageSide || "left"
  - title = title || ""
  - subtitle = subtitle || ""
  - text = text || ""
  - buttonText = buttonText || "See More"
  - buttonUrl = buttonUrl || ""
  - lazyLoad = lazyLoad || false
  - whiteText = whiteText || false
  //-  - backgroundColor = backgroundColor || ""
  //-  - backgroundImage = backgroundImage || ""
 
//- Features layouts
div.features.tile-section(class="#{whiteText ? 'text-white' : ''}")
  .container
    .row

      block image
        if image
          .col-sm-6(class="#{imageSide === 'right' ? '.col-sm-push-6' : ''}")
              div.text-center(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
                img.features-img(src="#{lazyLoad ? 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' : image}", data-lazy-load = lazyLoad ? '{"src":"#{image}","watch":".key-benefits-wrap","callback":"triggerResize"}' : '', alt="#{altText ? altText : ''}")

      .col-sm-6
        block title
          if title
            h2 #{title}

        block subtitle
          if subtitle
            h4.features-subtitle #{subtitle}

        block text
          if text
            .features-text #{text}

        block button
          if buttonUrl
            a.btn.btn-default(href="#{buttonUrl}") #{buttonText}
