extends ../../../templates/pages/landing-page

prepend endOfPageScripts
  //script
  //  include ../../../templates/planTile.js
  script.
    $(document).ready(function() {
      var ultimatePlanRenderedHtml = renderPlanTile();
      $('.plan-pro:nth-child(3)').html(ultimatePlanRenderedHtml);
    });
    function comparePlans(id){
      if(id=="cpanel-tab"){
        $("#parallels-tab").hide();
        $("#"+id).show();
       }else if(id =="parallels-tab"){
        $("#cpanel-tab").hide();
        $("#"+id).show();
       }
    }

block pageStyles
  style
    include:css styles.css

block domainSearch
  //- remove domain search from top of hosting page

block marquee
  section#marquee 
    include ./marquee.jade

block plans
  section#plans
    +renderPlanTiles(3) 
      +planTile
        include ./plans/plan-hosting-economy.jade
      +planTile
        include ./plans/plan-hosting-deluxe.jade
      +planTile
        include ./plans/plan-hosting-ultimate.jade
        
      +renderCartLogic("[@T[link:<relative path=\"/hosting-config-new.aspx\" parammode=\"common\" />]@T]", "slp_hosting_4GH" )

      .container
        .row
          .col-sm-12
            h3.text-center All Plans Include
        .row
          .col-md-4.col-sm-6
            .include-check Free domain with annual plan
            .include-check Free Email Addresses
            .include-check One-click install of 200+ Free Applications
          .col-md-4.col-sm-6
            .include-check 1 GB storage MySQL Linux and 200 MB storage Windows SQL Databases
            .include-check Flexible, easy-to-use control panel
            .include-check 24/7 security monitoring and DDoS protection
          .col-md-4.col-sm-6
            .include-check Compatible with all major browsers
            .include-check One certificate covers unlimited servers
            .include-check One-click installation for GoDaddy hosted accounts
  
block sections  
  +renderMidPageNav
    +priceBlock("$69.99", "year", "#alternate-products")

  section#speed-chart.tile-section
    .container
      style.
        #speed-chart { min-height: 400px; }
        #speed-chart h3 { margin: 50px auto; text-align: center; }
        #speed-chart img { margin: 50px auto; display: block; }
        #speed-chart p {text-align: right; }
      .speed-chart
        h3 Fast Sites = Happy Visitors
        p July 2014
        img(src!="[@T[link:<imageroot />]@T]fos/mike/img/pro-wp-speed.png")
        .speed-text
          img()
    .container
      .col-sm-2.text-center
        img(src!="[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Chart_Polygon.png")
      .col-sm-10(style="padding-top: 50px;")
        div
          h4 Did you know a 1 second delay in your website page load time can cause a <mark>7% reduction</mark> in conversion?
        div
          a.btn.btn-default-dark SEE IT IN ACTION

  section#one-click-install.features.tile-section.one-click-wrapper
    .container
      style.
        #one-click-install { background: #77c043; transition: background 750ms ease-in-out; background-image: url("[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_AppInstalls_Banner.jpg"); background-repeat: no-repeat; background-size: 100% 100%; }
      .row
        .col-sm-6
          h2 APP INSTALLS JUST A CLICK AWAY
          p Our one-click install process has all your Web hosting app needs covered, making it easy to build, ehnhance and manage your site.
          .col-sm-12
            .include-check-black Need a content management system (CMS) for your Website? Joomla and Drupal are just a click away.
            .include-check-black Maybe you want to sell products on your webite.  Try Magento with one-click.
          //ul(style="list-style")
          //  li
          //    span.uxicon.uxicon-checkmark(aria-hidden="true")
          //    span Need a content management system (CMS) for your Website? Joomla and Drupal are just a click away.
          //  li
          //    span.uxicon.uxicon-checkmark(aria-hidden="true")
          //    span Maybe you want to sell products on your webite.  Try Magento with one-click.
        .col-sm-6
          div.text-center(data-center-element='{"vertical":{"target":{"method":"parents","selector":".features"},"verticalStyle":"margin-top","elementHeightMethod":"outerHeight","targetWidthMethod":"height"}}')
            img.features-img.features-img-right(src!= "[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Feature_Small_Logos.png")

  section#features.key-benefits-wrap.tile-section(data-mid-nav-title="Features")
    .container
      .row
        .col-sm-4.key-benefit
          .key-benefits-img-wrap
            //- +lazyImage("[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_Group_ScalableResources.png")
            img.key-benefits-img(src != "[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_Group_ScalableResources.png")
          h3.key-benefits-title Scalable resources on-demand
          .key-benefits-text When you need more power, level up your CPU, memory, entry processes and I/O with just a click. Access the Stats & Usage dashboard for real-time visibility to your sites’ resource usage. Even get alerts as you approach your limits so you can react quickly and keep your site running at top speed.
        .col-sm-4.key-benefit
          .key-benefits-img-wrap
            img.key-benefits-img(src != "[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_Group_Security.png")
          h3.key-benefits-title Award-winning security keeps your site safe
          .key-benefits-text Keeping a website secure is a full time job. That’s why our security team is on the job 24/7, monitoring your site for suspicious activity and protecting it against brute force and DDoS attacks.
        .col-sm-4.key-benefit
          .key-benefits-img-wrap
            img.key-benefits-img(src != "[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Feature_Group_WhatIsHosting.png")
          h3.key-benefits-title What is Hosting?
          .key-benefits-text Make sure friends, family and customers can see your website. Hosting is what makes it possible for others to view your website over the Internet. Without it, you’re the only one who will ever get a look. GoDaddy serves up:
            ul
              li One-click set-up
              li Unlimited storage and bandwidth
              li Scalability to fit your needs
              li 24/7 secure monitoring

  section#compare(data-mid-nav-title="Compare").compare-chart-pro.section-pro.bg-pro-gray.tile-section
    .container(style="background: #fff;")
      .text-center
        h2 Hosting Plans
        a.btn.btn-default.btn-lg(href="javascript:comparePlans('cpanel-tab')") Cpanel
        a.btn.btn-default.btn-lg(href="javascript:comparePlans('parallels-tab')") Parallels
      #cpanel-tab.table-responsive
        +compareFeaturesTable({showViewAllButton: false, numberOfRowsNotHidden: 5, tableID: "cpanel-table"})
          thead
            tr
              td(style="width: 40%;")
                h2 cPanel Plans
              td(style="width: 20%; border-bottom: 8px solid #f47f00;")
                h4 economy
              td(style="width: 20%; border-bottom: 8px solid #7abf4b;")
                h4 deluxe
              td(style="width: 20%; border-bottom: 8px solid #58585a;")
                h4 ultimate
          tbody
            tr
              td Free Domain with anual plan restrictions apply
              td <span class='pro-icon gray-check-icon'></span>
              td yes 
              td yes
            tr
              td Websites
              td 1
              td Unlimited
              td Unlimited
            tr
              td Disk Space
              td 100GB
              td Unlimited
              td Unlimited
            tr
              td Free Domain with anual plan restrictions apply
              td <span class='pro-icon gray-check-icon'></span>
              td yes 
              td yes
            tr
              td Websites
              td 1
              td Unlimited
              td Unlimited
            tr
              td Disk Space
              td 100GB
              td Unlimited
              td Unlimited
            tr
              td Free Domain with anual plan restrictions apply
              td <span class='pro-icon gray-check-icon'></span>
              td yes 
              td yes
            tr
              td Websites
              td 1
              td Unlimited
              td Unlimited
            tr
              td Disk Space
              td 100GB
              td Unlimited
              td Unlimited
      #parallels-tab.table-responsive(style="display:none;")
        +compareFeaturesTable({showViewAllButton: false, numberOfRowsNotHidden: 2, tableID: "parallels-table"})
          thead
            tr
              td(style="width: 40%;")
                h2 Plesk Plans
              td(style="width: 20%; border-bottom: 8px solid #f47f00;")
                h4 economy
              td(style="width: 20%; border-bottom: 8px solid #7abf4b;")
                h4 deluxe
              td(style="width: 20%; border-bottom: 8px solid #58585a;")
                h4 ultimate
          tbody
            tr
              td Free Domain with anual plan restrictions apply
              td <span class='pro-icon gray-check-icon'></span>
              td yes 
              td yes
            tr
              td Websites
              td 1
              td Unlimited
              td Unlimited
            tr
              td Disk Space
              td 100GB
              td Unlimited
              td Unlimited
            tr
              td Free Domain with anual plan restrictions apply
              td <span class='pro-icon gray-check-icon'></span>
              td yes 
              td yes
            tr
              td Websites
              td 1
              td Unlimited
              td Unlimited
            tr
              td Disk Space
              td 100GB
              td Unlimited
              td Unlimited
            tr
              td Free Domain with anual plan restrictions apply
              td <span class='pro-icon gray-check-icon'></span>
              td yes 
              td yes
            tr
              td Websites
              td 1
              td Unlimited
              td Unlimited
            tr
              td Disk Space
              td 100GB
              td Unlimited
              td Unlimited
      +compareViewAllButton(["cpanel-table", "parallels-table"])

  section#platforms(data-mid-nav-title="Platforms")
    div(style="background-color: #5caf2b")
      .container
        h2.text-center Let's Compare Left and Right
    +renderUpCompare(2, {backgroundColor: "#78c043", id:"choose-platform", backgroundImage: "[@T[link:<imageroot />]@T]fos/mike/img/hosting/GD_WebHosting_Module_Platforms.jpg"})
      +upCompareColumn
        h2.text-center Cpanel for Linux
        h3.text-center Each Linux plan includes:
        .include-check-black <strong>cPanel:</strong> </br> Access all the hosting features and settings you need with this industry-standard control panel.
        .include-check-black <strong>CloudLinux:</strong> </br> Keep your site online with truly balanced CPU, RAM and Disk IO limits.
        .include-check-black <strong>Resources On-Demand:</strong> </br> If you need more power, you can level up your CPU, RAM, Entry Processes and I/O with just a click.
        .include-check-black <strong>CageFS:</strong> </br> Protect your Web content 24/7 with this virtualized file system.
        .include-check-black <strong>Free Applications:</strong> </br> Instanly install over 150 applications on your website with just a few clicks.
      +upCompareColumn
        h2.text-center Plesk for Windows
        h3.text-center Each Windows plan includes:
        .include-check-black <strong>Parallesls Plesk Panel:</strong> </br> Easily manage your server, email accounts and more with this popular, award-winning control panel.
        .include-check-black <strong>Windows Server 2012:</strong> </br> Take control of your hosting with Microsoft's newest and most powerful server operating system.
        .include-check-black <strong>Free Applications:</strong> </br> Instanly install over 70 applications on your website with just a few clicks.

  section#reviews
    p reviews

  section#faq
    p faq

  section#alternate-products
    p alternate-products

  section#disclaimers
    p disclaimers

//-
  mixin lazyImage(src)
      div(class="#{imgSize}")
        img.key-benefits-img(
            src = keyBenefit.lazyLoad ? 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' : keyBenefit.image
            data-lazy-load = keyBenefit.lazyLoad ? '{"src":"#{keyBenefit.image}","watch":".key-benefits-wrap"}' : ''
            alt = keyBenefit.imageAlternateText != 'undefined' ? keyBenefit.imageAlternateText : ''
            )

    if (keyBenefit.title)
      h3.key-benefits-title !{markdownToHtml(keyBenefit.title)}

    if (keyBenefit.text)
      .key-benefits-text !{markdownToHtml(keyBenefit.text)}

    if (keyBenefit.buttonText)
      a(href=keyBenefit.link class="btn #{keyBenefit.buttonColor}", data-tcode="#{keyBenefit.tcode ? keyBenefit.tcode : ''}") !{keyBenefit.buttonText}

//-
  div.pro-plans-wrap.bg-gray-light
    #plans.container.pro-plans
      div.col-sm-4.plan-tile.plan-pro
        include ./product-1234.jade
      div.col-sm-4.plan-tile.plan-pro
        include ./product-1234.jade
      div.col-sm-4.plan-tile.plan-pro
        include ./product-1234.jade
