extends ../../shared/_page

include _office365-email-mixin.jade
include _ready-to-take-business-online-mixin.jade
include _good-news-get-it-now-mixin.jade
include _new-pro-section-mixin.jade

append vars
  - var primary_pfid = "";
  - var primary_promo = "";

append pageStyles
  style.
    .gray{background-color:#E8E8E8;}
    .green{background-color:#78C043}
    .white{background-color:white}
    .uppercase{text-transform:uppercase}
    .lowercase{text-transform:lowercase}
    
    #getItNow { padding-bottom: 0; padding-top: 0;}
    #getItNow .container { position: relative; }
    #getItNow mark { line-height: 1.1em; }
    #getItNow mark::after { height: 1.21em; }
    #getItNow .hero-guy { position: absolute; bottom: 0; height: 80%; }

    #getItNow .column {width: 24%; display: inline-block;vertical-align:top;}
    #getItNow .plus {width: 10%;display: inline-block;text-align: center;font-size: 6rem;font-weight: 700;position: relative;font-family: Walsheim-Black;}
    #getItNow .bubble { background-color: #78C043; padding-bottom: 20px;}
    #getItNow .bubble h2 { margin-bottom: 0; padding-top: 40px; }
    #getItNow .bubble h3 { font-family: Walsheim-Black; }
    #getItNow .products { margin-top: 40px; }
    #getItNow .products h3 { font-family: Walsheim-Black; font-size: 2.25rem; }
    #getItNow .products img { max-height: 110px; }

    #getItNow .cta { margin-top: 20px;}
    #getItNow .cta small { display: block; padding-top: 10px; padding-bottom:5px;}

    @media (min-width: 768px) {
      #getItNow .bubble {
        background-color: white;
        background-position: center center;
        background-image: url(https://img1.wsimg-com.ide/fos/sales/themes/scotty/p4p/img/img-goodNews-shape.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        overflow: visible;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 100px;
        padding-right: 100px;
        margin-left: 20%;
      }
      #getItNow .bubble h2 { padding-top: 0; }
      #getItNow .hero-guy { left: -15%; }
    }

    @media (min-width: 992px) {
      #getItNow .hero-guy { left: -50px; }
    }

append headScripts
  atlantis:webstash(type="js")
    script
      include:js ../p4p.js
      include:js ../domain-selection.js

block content
 
  section#getItNow
    .container
      img.hero-guy.hidden-xs(src="https://img1.wsimg-com.ide/fos/sales/themes/scotty/p4p/img/img-hero-guy.png")
      .row
        .col-xs-12.col-sm-9.col-sm-offset-3.bubble
          block bubbleContent
            h2.text-center Here you go...
            h3.text-center A great package deal for <mark class="business-idea"></mark> – Starting at <mark id="product-price">[@T[multipleproductprice:<current productidlist="101|#{primary_pfid}|464069" period="monthly" promocode="#{primary_promo}"></current>]@T]</mark>
      block productContent
        .row
          .col-xs-12.col-sm-9.col-sm-offset-3.products
            .column.domain
              img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-domainName.png")
              h3.text-center Domain Name
              p Get a memorable online address, like <mark class="business-idea">BillyBikes.org</mark>
            .plus +
            block targetedProduct
              //- each derived page must insert its own content here
            .plus +
            .column.email
              img.img-responsive.center-block(src!="[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-features-email.png")
              h3.text-center Office 365 Email
              p Get a professional email address, like <mark>yourname@<span class="business-idea">billybikes.org</span></mark>. 
        .row
          .col-xs-12.col-sm-9.col-sm-offset-3.cta
            p.text-center Get the bundle for [@T[multipleproductprice:<current productidlist="101|#{primary_pfid}|464069" period="monthly" promocode="#{primary_promo}"></current>]@T]/month for the first year*
            button.btn.btn-purchase.btn-lg.center-block Get It Now
            small.text-center *Bundle cost is [@T[multipleproductprice:<current productidlist="101|#{primary_pfid}|464069" period="yearly" promocode="#{primary_promo}"></current>]@T]/year and [@T[multipleproductprice:<current productidlist="101|#{primary_pfid}|464069" period="yearly"></current>]@T]/year after the first year

  block domainOrPro
    +renderProSection()
  
  block product

  block office365
    // p4p.office365
    +renderOffice365Email()

  section#why-godaddy
    .container
      .row
        .col-sm-10.col-sm-offset-1
          h2.text-center Why get online with us?
      .row
        .col-sm-4
          .feature.why-gd-world-leader.text-center
            +lazyImg('','','[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-security.png','Pin Point Globe')
            h3 We're the world leader
            p It sounds like we’re bragging (and maybe we are just a little) but we manage over 58 million domains, more than anyone else in the world.
        .col-sm-4
          .feature.why-gd-support.text-center
            +lazyImg('','','[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-support.png','TLD Boards')          
            h3 Our 24/7 support is awesome
            p That’s not just us bragging again – we have a case full of trophies to prove it. Better still, our support is free and available anytime, day or night.
        .col-sm-4
          .feature.why-gd-trust.text-center
            +lazyImg('','','[@T[link:<imageroot />]@T]fos/sales/themes/scotty/p4p/img/img-speed.png','Support Icon')
            h3 12 million people trust us
            p We can talk all day about our products, prices, support, yadda, yadda. The fact the millions of people across the world rely on us says more than we ever could.
 
  
  hr

  block got
    // p4p.got
    //+renderReadyToTakeBusinessOnline("billysbikes.org","price")

prepend endOfPageScripts
  script.
    $(document).ready(function(){
      var domainInfo = {
        businessName  : 'Billys bikes',
        domainName    : 'billysbikes.com',
        emailName     : 'yourname',
        domainOption2 : 'billysbikesLong.com',
        domainOption3 : 'billysbikesReallyLong.com',
        dealPrice     : '$1.00'
      };

      $(".O365-domain-email").html("<mark>" + domainInfo.emailName + "@" + domainInfo.domainName + "</mark>");

      var goodNewsStarter = "A great package deal for <mark>{0}</mark> starting at just <mark>{1}</mark>";
      goodNewsStarter = goodNewsStarter.replace("{0}",domainInfo.businessName).replace("{1}",domainInfo.dealPrice);
      $(".good-news-starter").html(goodNewsStarter);

      var startsWith = "It all starts with a domain name that's easy to remember and fits your business. Here's our favorite for <mark>{0}</mark>";
      startsWith = startsWith.replace("{0}",domainInfo.businessName);
      $(".domain-starts").html(startsWith);

      $(".domainOption1").html(domainInfo.domainName);
      $(".domainOption2").html(domainInfo.domainOption2);
      $(".domainOption3").html(domainInfo.domainOption3);
    });
